[2018-12-17 13:19] geoand commented on #284
@salaboy Sounds good to me!

Just one question, where would the labels and annotation be specified?

[2018-12-17 14:15] salaboy commented on #284
@geoand configuration or by bean injection inside the method. Does that sounds right?

[2018-12-17 14:15] geoand commented on #284
Yup, that sounds right to me :wink:

[2018-12-17 14:17] geoand commented on #284
Personally, I would like to see something like I did in: https://github.com/spring-cloud/spring-cloud-kubernetes/pull/292, that is having a bean being injected into the client. That way advanced users can override it if need be

[2018-12-18 09:25] typekpb opened #298 "Leaving the load balancing to k8s"
The service discovery approach in the spring cloud project is driven by the **client side**. However k8s is already capable of the service discovery done on the **server side**.

This seems to result in a tries to catch up with all the possible kubernetes service discovery setups, like istio one: https://github.com/spring-cloud/spring-cloud-kubernetes/issues/233.

Why is there even a need to imple

[2018-12-18 09:32] geoand commented on #298
@typekpb The need the discovery module fills is to support the standard Spring Cloud client side load balancing through things like Ribbon.

You are absolutely correct that Kubernetes will already perform (a sort of) server side load balancing.
However the client is blissfully unaware of such load balancing.
There are cases were client side load balancing is preferable and the discovery module pro

[2018-12-18 09:35] typekpb commented on #298
@geoand OK, agree.
Shouldn't it be however documented as an option? With some best practices in the: https://github.com/spring-cloud/spring-cloud-kubernetes/blob/master/README.adoc ?

I might be even motivated to raise pull request for that (just to get it reviewed :) )

[2018-12-18 09:35] geoand commented on #298
@typekpb A PR with what you think could/should be added would be great :)

[2018-12-18 09:37] geoand commented on #298
One thing to note @typekpb is that the docs have been moved to the `docs` module

[2018-12-18 09:38] typekpb commented on #298
@geoand OK

[2018-12-18 09:42] TomasRup opened #299 "Help request: wiring sql secrets"
Hi,

I'm having a hard time wiring secrets.

These are from my deployments.yaml:
[code]

This is what I get in secrets:
[code]

This is my bootstrap yml:
[code]

But I end up getting this error:
[code]

[2018-12-18 10:18] geoand commented on #299
Can you please post more of the stacktrace?

[2018-12-18 11:34] TomasRup commented on #299
@geoand sure:

[2018-12-18 11:36] TomasRup commented on #299
[code]

[2018-12-18 11:45] geoand commented on #299
Can you try changing `enable` to `enableApi`?

[2018-12-18 12:02] TomasRup commented on #299
I've got the same stacktrace.

[2018-12-18 12:06] geoand commented on #299
So your bootstrap now contains:

[code]

?

[2018-12-18 12:07] TomasRup commented on #299
[code]

[2018-12-18 12:09] geoand commented on #299
Have you made sure that the values of the secret are actually being picked up?

I mean if you add `@Value("${spring.datasource.password}") String password` and check the value of `password` do you get the expected value?

[2018-12-18 12:42] TomasRup commented on #299
@geoand that's the problem I'm trying to solve - kubernetes secrets are not wired. If I try to wire the `spring.datasource.username`, the app fails with this upon startup:

[code]

So I don't understand why secrets are not read. The example in https://github.com/spring-cloud/spring-cloud-kubernetes only suggests how to make environment variables out of the secrets. But what if I want to use my sec

[2018-12-18 12:49] geoand commented on #299
@TomasRup great, that's what I was expecting to see :)

Would it be possible for you to share a cut down version of the project that is not working?

As you mention, this should be working and I personally can't spot anything obviously wrong

[2018-12-18 13:40] salaboy commented on #237
@spencergibb this are more a set of conventions that a library.. for example, HELM automatically tag services with the release name, for us adding a simple way to add those prefixes to the services will do, so we can recognize quickly which services belong to which release.

[2018-12-18 19:43] #128 closed

[2018-12-19 11:47] TomasRup opened #301 "Feature Request: testkit"
Hey,

Don't you think it would be nice to add a testkit using which I could:
- write a test to check if ConfigMap, stored in my k8n environment, is read by the app?
- write a test to check if secrets, stored in my k8n environment, is read by the app?
- ditto for all the features that `spring-cloud-kubernetes.git` provides?

Now in order to make sure it works I need to commit and push and deploy to

[2018-12-19 12:03] spencergibb commented on #301
Can you explain more? We tests all those things in unit and integration tests. What would this look like? None of the other spring cloud projects provide something like this, so I'm hesitant to add.

[2018-12-19 12:03] geoand commented on #301
@TomasRup I like your suggestion.
Do you have anything similar in mind that you like using?

FWIW, it's entirely possible to write both unit and integration tests for your Spring Cloud Kubernetes applications without a terrible amount of hassle.
See [here](https://github.com/spring-cloud/spring-cloud-kubernetes/tree/master/spring-cloud-kubernetes-config/src/test) and [here](https://github.com/spri

[2018-12-19 12:42] TomasRup commented on #301
I'll try to give you an example from dev perspective:
- Let's say I'm building a new microservice based on spring boot that I will deploy to kubernetes environment
- I store some app configs in ConfigMap, I also have some usernames/password in kubernetes Secrets
- Now how do I test if my app will consume the configmap and secrets of kubernetes and do something with that? Right now I have to deploy

[2018-12-19 12:46] spencergibb commented on #301
You could say the same thing for every other spring cloud project. I'm not sure this is something I want to invest in at the moment.  At that point you are testing this project.

[2018-12-19 12:53] geoand commented on #301
I agree with @spencergibb on this

Also FWIW, you can easily spin up your Spring Cloud Kubernetes application without having it actually being deployed on the cluster. It can still talk to the API server (and this use ConfigMap, Secrets etc) in the exact same way as it would inside the cluster.

Personally I think that even if we did provide something like what you are describing, you would still

[2018-12-19 14:22] YeisonMelo opened #302 "CertificateParsingException when running junit test"
Im using the latest version it deploys correctly but when i want to run Junit test, all them giving me this error:

`com.bagheera.attendance.AttendanceServiceTests > schoolMixedAbsencesTest FAILED
    java.lang.IllegalStateException
        Caused by: io.fabric8.kubernetes.client.KubernetesClientException
            Caused by: java.security.cert.CertificateParsingException`

I have tried to disab

[2018-12-19 14:44] geoand commented on #302
@YeisonMelo Can you please fix the formatting of the YAML you are showing?

[2018-12-19 18:49] #230 closed

[2018-12-20 17:17] #233 closed

[2018-12-21 15:22] manderson23 commented on #293
I hope to be able to get a PR for this before final release.

[2018-12-26 14:45] spring-issuemaster commented on #302
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2018-12-27 16:15] mribeiro opened #304 "ConfigMap not picked up by Spring Boot"
This will be a long post, excuse me if this does not belong here. I'm looking for some help sorting this out. I don't mind looking at logs and debugging the app somehow, problem is that now I feel stuck and have no idea where to turn to.
Here's my goal:

1. Load a configuration from config map
2. Output that config in a resource `/info`
3. Change the config map
4. See the new value when accessing

[2018-12-27 16:17] spencergibb commented on #304
Try putting properties in bootstrap.properties

[2018-12-28 19:08] Pozo commented on #304
Instead of `application.properties` try to put spring.cloud.kubernetes related stuff to `bootstrap.yml` or in your case into a `bootstrap.properties`.

[2018-12-31 20:31] mribeiro commented on #304
Hi @pukkaone ,
I also tried setting + in the version and it seemed to being 0.3.0.
What dependency should I put in there then? Could you help towards it?

[2019-01-02 13:30] mribeiro commented on #304
Gradle was missing the dependency `org.springframework.cloud:spring-cloud-starter-kubernetes-config` . Having it set made the ConfigMap read by Spring Boot.

[2019-01-02 13:30] #304 closed

[2019-01-02 14:45] spring-issuemaster commented on #302
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-01-02 14:45] #302 closed

[2019-01-02 16:36] mribeiro opened #305 "Lookup ConfigMap based on profile"
I have a generous file of configurations for my app and so it makes it simpler to create configmap using `kubectl create configmap --from-file` .
We have our configs in the application.properties and the rest is loaded based on the profile (application-<profile>.properties).

Now, it seems that this is only supported if there's a single key containing a file. For instance:

[code]

What if I have

[2019-01-03 07:43] geoand commented on #305
This is not something that is supported

Your best bet is to use the `sources` and specify whatever config maps you need

[2019-01-03 10:04] mribeiro commented on #305
Thanks @geoand . I guess I'll have to pull something off using it.

[2019-01-03 10:04] #305 closed

[2019-01-03 10:07] geoand commented on #305
You're welcome @mribeiro

[2019-01-10 08:04] ilseh commented on #136
I was looking for a solution to use multiple configmaps with spring-cloud-starter-kubernetes-config and saw this issue. I solved it by using the `spring.cloud.kubernetes.config.sources` as described in  https://cloud.spring.io/spring-cloud-static/spring-cloud-kubernetes/1.0.0.M2/multi/multi__configmap_propertysource.html

[2019-01-14 13:39] trisberg commented on #234
At this point I'd think that integrating with [Knative](https://github.com/knative/) project would be high priority for this.

[2019-01-14 14:06] salaboy commented on #234
@trisberg thanks for this comment, I sent you a more detailed answer to your pivotal email.. I hope you don't mind the direct approach, but it was quite long for a GitHub issue.

[2019-01-16 17:32] dlaidlaw commented on #136
Oh nice!

[2019-01-16 17:32] #136 closed

[2019-01-16 22:22] #272 closed

[2019-01-16 22:40] spencergibb opened #310 "rewrite groovy tests to java"
[code]

[2019-01-16 22:48] #284 closed

[2019-01-22 11:30] fgranato opened #312 "properties load not refresh in bean object"
I've created a spring.xml file that contains the beans which use/load the properties values from the application.yaml file injected in configMap via  @ConfigurationProperties in java class.
I'm able to load and initialize the beans in spring.xml with correct properties values at the start of container, but if I edit the values on configMap, the inizialized beans do not recognize the update and the

[2019-01-23 09:16] huangered opened #313 "Can we add a property to disable the kubernetes auto configure like what eureka does?"
hi, dev, Can we add a property to disable the kubernetes auto configure like what eureka does?
because we have two environments(application.properties) which share same build.gradle like :

`
dependencies {
    implementation('org.springframework.cloud:spring-cloud-starter-openfeign')
    implementation('org.springframework.cloud:spring-cloud-starter-netflix-ribbon')
    implementation('org.spring

[2019-01-23 09:22] geoand commented on #313
Hi @huangered

Doesn't setting `spring.cloud.kubernetes.enabled` to `false` work?

[2019-01-23 18:40] PMarci opened #314 "Secrets not picked up with spring-cloud/spring-cloud-starter-kubernetes, only with the io.fabric8 version"
I've been trying to recreate the PoC [linked in the README](https://github.com/fabric8-quickstart/spring-boot-camel-config) and experimenting with different versions of dependencies. After some trial and error, I've managed to find an arrangement which let me confirm that secrets are being put to properties. Here's the relevant fragment of my pom:

[code]
## Description of the issue
When I create

[2019-01-23 20:04] pukkaone commented on #314
Like you, I assumed

    <dependency>
      <groupId>org.springframework.cloud</groupId>
      <artifactId>spring-cloud-starter-kubernetes</artifactId>
      <version>1.0.0.RELEASE</version>
    </dependency>

would include the ConfigMap and Secret support, but you actually need

    <dependency>
      <groupId>org.springframework.cloud</groupId>
      <artifactId>spring-cloud-starter-kubernetes-c

[2019-01-24 05:01] SoftwareKing opened #315 "spring-cloud-kubernetes-istio plan supports service mesh?"
spring-cloud-kubernetes-istio plan supports service mesh?

[2019-01-24 06:57] geoand commented on #315
What kind of support do you have in mind @SoftwareKing ?

[2019-01-24 06:58] geoand commented on #314
@PMarci does the feedback from @pukkaone help?

[2019-01-24 09:06] PMarci commented on #314
@geoand Yes, Secrets now work as expected. I browsed through some of the poms in the examples, I must have missed this detail. I think you'll agree that this information should be included or referenced in the main README. Thanks for your assistance, @pukkaone.

[2019-01-24 09:08] geoand commented on #314
If you would like to create a PR with the doc updates you propose, that would be much appreciated :)
Just keep in mind that all the docs are in the docs directory - the README is auto-generated

[2019-01-24 09:08] geoand commented on #314
Closing this issue, feel free to reopen if more info is needed

[2019-01-24 09:08] #314 closed

[2019-01-24 11:47] huangered commented on #313
@geoand. It still will load the auto configuration. That cause conflict because that be two discovery clients.

[2019-01-24 12:31] geoand commented on #313
How about with `spring.cloud.kubernetes.discovery.enabled=false`?

Note that I am talking about `1.0.0.RELEASE`, not `0.3.0`

[2019-01-25 02:05] huangered commented on #313
let me have a try.

[2019-01-25 02:13] huangered commented on #313
oh, 1.0.0.RELEASE is released on Jan. 23, congratulation.

after look 1.0.0.RELESE code, the spring.cloud.kubernetes.enabled = false works, i will try to upgrade from 0.3.0 to 1.0.0.RELESE

thanks @geoand  , that is perfect. i think we can close this issue.

[2019-01-25 02:13] #313 closed

[2019-01-25 05:38] geoand commented on #313
You're welcome!

On Fri, Jan 25, 2019, 04:14 huang yi <notifications@github.com wrote:

[2019-01-26 00:09] Alos commented on #274
I'm running in GKE with openjdk:11 with no issues

[2019-01-26 09:38] idouba opened #318 "Is there a way to bypass Ribbon and request directly by host name, thus make envoy intercept the request and do service discovery and load-balancing in the case of Istio integration."
Ribbon get service and ServiceInstance and select a target IP to forward a request to service instance. In case of [kubernetes](https://github.com/spring-cloud/spring-cloud-kubernetes), it is like just replace discovery client from eureka to k8s, and get service instance list from kube-apiserver instead of eureka server. Thus ribbon interpret service name to podIp and send the request.

As for Ist

[2019-01-26 09:39] idouba commented on #318
#https://github.com/spring-cloud/spring-cloud-kubernetes/issues/298

[2019-01-26 09:39] idouba commented on #318
#https://github.com/spring-cloud/spring-cloud-kubernetes/issues/233
#https://github.com/spring-cloud/spring-cloud-kubernetes/issues/315

[2019-01-26 20:21] steventong commented on #282
I have the same problem.

I am using:

Spring Boot 2.1.0.RELEASE / 2.1.2.RELEASE
Spring Cloud Greenwich.RELEASE / Greenwich.BUILD-SNAPSHOT / Greenwich.M3

with webflux oauth2 resource server

here's a track from Spring boot 2.1.0.RELEASE and Greenwich.BUILD-SNAPSHOT

NullPointerException
[code]

[2019-01-26 20:33] geoand commented on #282
Please try the latest Spring Cloud Kubernetes 1.0.0.RELEASE

[2019-01-26 21:07] steventong commented on #282
1.0.0.RELEASE still not work for me

+--- org.springframework.cloud:spring-cloud-starter-kubernetes -> 1.0.0.RELEASE
|    +--- org.springframework.cloud:spring-cloud-kubernetes-core:1.0.0.RELEASE
|    |    +--- io.fabric8:kubernetes-client:4.1.0
|    |    |    +--- io.fabric8:kubernetes-model:4.1.0
|    |    |    |    +--- com.fasterxml.jackson.module:jackson-module-jaxb-annotations:2.7.5 -> 2.9.7

[2019-01-26 23:11] Alos commented on #282
Are you running this in GKE?

[2019-01-27 07:18] steventong commented on #282
We deploy k8s 1.8 on our server cluster.

[2019-01-28 13:35] geoand commented on #318
@spencergibb @salaboy Any comments?

[2019-01-28 13:39] geoand commented on #282
@steventong Could you please provide the updated stack trace for `1.0.0.RELEASE`?

Thank you

[2019-01-29 00:46] spencergibb commented on #90
Turbine has entered [maintenance mode](https://github.com/spring-cloud/spring-cloud-netflix#modules-in-maintenance-mode). This means that the Spring Cloud team will no longer be adding new features to the module. We will fix blocker bugs and security issues, and we will also consider and review small pull requests from the community.

[2019-01-29 00:46] #90 closed

[2019-01-29 00:47] spencergibb commented on #45
Closing this due to inactivity. Please re-open if there's more to discuss.

[2019-01-29 00:47] #45 closed

[2019-01-29 00:47] spencergibb commented on #39
Yes, they are unrelated.

[2019-01-29 00:47] #39 closed

[2019-01-29 00:48] spencergibb commented on #94
I believe this is taken care of.

[2019-01-29 00:48] #94 closed

[2019-01-29 00:49] spencergibb commented on #96
There is no longer any hystrix specific code here.

[2019-01-29 00:49] #96 closed

[2019-01-29 00:49] spencergibb commented on #116
Closing if favor of #170

[2019-01-29 00:49] #116 closed

[2019-01-29 00:50] spencergibb commented on #130
Closing in favor of #46

[2019-01-29 00:50] #130 closed

[2019-01-29 00:51] spencergibb commented on #135
There has been some work on this. I'm going to close this, please comment if there needs to be more discussion.

[2019-01-29 00:51] #135 closed

[2019-01-29 00:53] spencergibb commented on #137
Closing this due to inactivity. Please re-open if there's more to discuss.

[2019-01-29 00:53] #137 closed

[2019-01-29 00:53] spencergibb commented on #138
Closing this due to inactivity. Please re-open if there's more to discuss.

[2019-01-29 00:53] #138 closed

[2019-01-29 00:54] spencergibb commented on #140
Is this still an issue?

[2019-01-29 00:55] spencergibb commented on #148
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-01-29 00:55] #148 closed

[2019-01-29 00:55] spencergibb commented on #149
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-01-29 00:55] #149 closed

[2019-01-29 00:56] spencergibb commented on #150
Closed by #209

[2019-01-29 00:56] #150 closed

[2019-01-29 00:56] spencergibb commented on #167
is this still an issue?

[2019-01-29 00:57] spencergibb commented on #229
is this a documentation issue?

[2019-01-29 00:58] spencergibb commented on #225
Closing as answered

[2019-01-29 00:58] #225 closed

[2019-01-29 00:58] spencergibb commented on #197
Closing this due to inactivity. Please re-open if there's more to discuss.

[2019-01-29 00:58] #197 closed

[2019-01-29 01:01] spencergibb commented on #236
I want to move away from groovy. That will influence decisions.

[2019-01-29 01:01] spencergibb commented on #249
Closing as answered.

[2019-01-29 01:01] #249 closed

[2019-01-29 01:03] spencergibb commented on #274
If you can provide a [complete, minimal, verifiable sample](https://stackoverflow.com/help/mcve) that reproduces the problem with Java 11 we can reopen.  It should be available as a GitHub (or similar) project or attached to this issue as a zip file.

[2019-01-29 01:03] #274 closed

[2019-01-29 01:04] spencergibb commented on #312
I'm afraid spring-boot is built to use java configuration. There is not way to use `@RefreshScope` on an xml configuration.

[2019-01-29 01:04] #312 closed

[2019-01-29 01:05] spencergibb commented on #318
You can certainly not use ribbon. There is no requirement.

[2019-01-29 02:06] idouba commented on #318
@spencergibb Thanks. What's is SC‘s’ officially recommended solution to integrate Istio's data   plane envoy?  The main ideal may looks like this:
![image](https://user-images.githubusercontent.com/6693601/51879214-79b91d80-23ad-11e9-9d50-0b342cec4071.png)

[2019-01-29 07:03] rhnewtron opened #319 "Enable spring-cloud-starter-kubernetes-config breaks jUnit Tests in container"
If I add this

[code]

to https://github.com/spring-projects/spring-petclinic and running the build in a containerized JenkinsPipeline Build on Openshift, the jUnit Tests fail with:

[code]

Jenkinsfile commands:

[code]

Without the spring cloud kubernetes part, everything works.

[code]

[2019-01-29 07:13] rhnewtron commented on #319
When updating Spring boot to 2.1.1 everything works.

[code]

Does this mean Spring Cloud Kubernetes requires Spring 2.1++ ?

[2019-01-29 07:20] geoand commented on #319
Spring Cloud Kubernetes 1.0.0.RELEASE is indeed built on Spring Boot 2.1.x, so I would avoid trying it with older Spring Boot versions.

@spencergibb anything else you would like to add?

[2019-01-30 05:13] steventong commented on #282
Full stack:
[code]

[2019-01-30 07:53] geoand commented on #282
@steventong  A PR is in #320

[2019-01-31 07:00] spring-issuemaster commented on #315
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-01-31 15:00] ryanjbaxter commented on #319
You should be using the release train BOM to manage versions instead of managing it yourself.

But yes the problem here is that Spring Greenwich which contains Spring Cloud Kuberenetes 1.0.0 is only compatible with Boot 2.1.x

[2019-01-31 15:00] #319 closed

[2019-02-01 00:31] arahlf opened #321 "Discovery client not finding service instances unless default namespace set"
I'm trying to use the KubernetesDiscoveryClient on a cluster running in AKS. When I run:

    List<ServiceInstance> instances = discoveryClient.getInstances("my-service-id");

the list always comes back empty. After stepping through the code I realized it was because the URL it was building up looked like:

    /api/v1/endpoints/my-service-id

which was returning a 404. Playing around with the RES

[2019-02-01 00:51] jkubrynski opened #322 "org.springframework.cloud:spring-cloud-kubernetes:pom:2.1.0.RC1 not found"
The pom for the starter parent is not released to spring-milestones. Currently, it's impossible to use spring-cloud-starter-kubernetes 2.1.0.RC1

[2019-02-01 01:50] ryanjbaxter commented on #322
Spring Cloud Kubernetes is only at 1.0.0, see the releases in GitHub.

[2019-02-01 01:50] #322 closed

[2019-02-01 02:04] jkubrynski commented on #322
But in the starter documentation you're mentioning 2.1.0.RC1. It also exists in the spring-milestones repository: https://repo.spring.io/milestone/org/springframework/cloud/spring-cloud-starter-kubernetes/2.1.0.RC1/

[2019-02-01 02:13] spencergibb commented on #322
@jkubrynski can you point to the docs where you see this?

[2019-02-01 06:40] geoand commented on #321
@arahlf Hi.

In my experience, the `default` namespace wouldn't be used all that often in production. It's much better to have separate contexts in separate namespaces were you can apply k8s security policies and others.
So setting the default to `default` might give the wrong impression

[2019-02-01 13:48] arahlf commented on #321
Thanks for the reply.

I'm still pretty new to Kubernetes, so I guess I could see that -- I'll need to read up on namespaces more.

In the context of the discovery client being able to identify endpoint subsets, will it ever work or find anything when the namespace is null (as it is by default)? Just curious then if that perhaps should be a required config in that scenario, or under what circumsta

[2019-02-01 13:50] geoand commented on #321
I *think* that the Kubernetes client uses the namespace in which the application is deployed in if no namespace is specified - @iocanel is that correct?

[2019-02-01 17:03] ryanjbaxter commented on #322
Ah yes, that was a mistake during the Greenwich.RC1 release.  There are no artifacts under that folder.  I cant see a way to delete the folder itself though.  Do see anything in our docs that is pointing you to that location or version?

[2019-02-03 19:18] arahlf commented on #321
In my case, the app was deployed in the default namespace, and it didn't seem to default to that. Not sure if that's somehow specific to my setup though.

[2019-02-03 19:33] iocanel commented on #321
The client will use the "current" namespace unless explicitly specified. Make sure KUBERNETES_NAMESPACE is not breaking things for you.

[2019-02-04 03:05] arahlf commented on #321
How does it find/use the current namespace? Is KUBERNETES_NAMESPACE a native Kubernetes thing, or does that come from the Java SDK being used?

[2019-02-04 11:27] shahbour opened #324 "Cloud Gateway with Kubernetes not working"
I am trying to move from Zuul to Gateway after TokenRelayGatewayFilterFactory is released . I did the static route as below
[code]

and it worked perfectly , but when trying to use the DiscoveryClient from kubernetes it is not working .

All services are being discovered , i can see that in the log but restTemplate is not trying to get the endpoint IP instead it is keeping the service name . I tri

[2019-02-04 14:35] ryanjbaxter commented on #324
Do the OAuth 2 components really have anything to do with the problem.  If you take them out of your sample can you still reproduce the issue?

[2019-02-04 14:43] shahbour commented on #324
I just removed the security from the sample and pushed it, the same thing happened. I don't know from where the 200 OK is coming.

[code]

[2019-02-05 00:57] spring-issuemaster commented on #167
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-02-05 00:57] spring-issuemaster commented on #140
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-02-05 01:02] spring-issuemaster commented on #229
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-02-05 07:49] skliche commented on #229
@spencergibb well the proposal of @ArtyomGabeev is a neat idea and that in connection with a description of how Spring Cloud Kubernetes is detecting a k8s environment is worth do be documented.

However I opened this issue to discuss if there is a more robust way to auto-detect a k8s environment. I suggest to use the `KUBERNETES_SERVICE_HOST` environment variable instead.

[2019-02-05 13:40] dgradl-fl commented on #167
No, I was able to remove my workaround with 0.3.0-RELEASE.

[2019-02-05 13:40] #167 closed

[2019-02-05 16:50] ryanjbaxter opened #325 "Cannot Disable KubernetesServiceRegistry Bean Creation"
There should be a way to disable `KubernetesServiceRegistry` bean from being created.  It should at least be conditional on `spring.cloud.service-registry.auto-registration.enabled` being `true` and conditional on the class `AutoServiceRegistrationProperties`.  But I also think it should have its own kubernetes specific property for disabling the bean so that way you can support having two differe

[2019-02-05 16:55] ryanjbaxter commented on #325
See Eureka implementation https://github.com/spring-cloud/spring-cloud-netflix/blob/master/spring-cloud-netflix-eureka-client/src/main/java/org/springframework/cloud/netflix/eureka/EurekaClientAutoConfiguration.java#L321

[2019-02-05 18:56] spencergibb commented on #229
I'm not sure @salaboy @geoand @iocanel any ideas?

[2019-02-06 07:17] geoand commented on #229
Not from me unfortunately...

[2019-02-06 12:10] alvgarvilla commented on #140
As @IvanAR pointed out, I think it is more an issue of which exception is thrown and logged. Having a service without pods attached to it is something that Kuberetes allow so probably an error message informing would be enough. I can make the PR if we agree :)

[2019-02-06 12:38] alvgarvilla commented on #321
Using empty constructor of `io.fabric8.kubernetes.client.AutoAdaptableKubernetesClient` it creates a default `io.fabric8.kubernetes.client.Config` through `io.fabric8.kubernetes.api.model.ConfigBuilder`:

https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/BaseClient.java#L47

In `io.fabric8.kubernetes.client.Config`, take a look

[2019-02-06 16:07] spencergibb commented on #198
Closed 030b4d7cc6755a7035ca63dcb02781e93a7152ee

[2019-02-06 16:07] #198 closed

[2019-02-06 16:14] spencergibb commented on #153
ping @shahbour

[2019-02-06 16:18] iocanel commented on #229
@skliche: If you diable the service account, spring-cloud-kubernetes will not work at all, since it needs to talk to the apiserver. So, IMHO its the a really good candiadate for replacing the HOSTNAME env var.

[2019-02-06 16:21] skliche commented on #229
Hm, if there are really no use-cases without the API server, then it is probably better than `KUBERNETES_SERVICE_HOST`

[2019-02-06 16:22] spencergibb commented on #140
@alvgarvilla PRs welcome. The code is likely changed. Can you let us know if it is still a problem?

[2019-02-06 16:26] spencergibb commented on #318
I mean, not including ribbon and using dns names should just work.

[2019-02-06 16:32] spencergibb commented on #103
Closing this due to inactivity. Please re-open if there's more to discuss.

[2019-02-06 16:32] #103 closed

[2019-02-06 16:36] salaboy commented on #318
@idouba I remember that I got that working by just adding "http:" to the prefix instead of using "lb" that try to use ribbon. Can you check what is the prefix that you are using>?

[2019-02-06 18:22] spencergibb commented on #324
is `spring-cloud-kubernetes-ribbon` on the classpath?

[2019-02-06 18:23] ryanjbaxter opened #326 "Remove Version Elements From POM Samples In Documentation"
[code]

The version should be managed by the BOM

[2019-02-06 20:55] shahbour commented on #153
@spencergibb @geoand , just to be clear we are talking about checking configmaps based on names provided in `spring.application.kubernetes.config.sources` and active profiles .  If this is the case then yes it is not supported we have to add the configmap name with profile in bootstrap.yml . for example if we have
[code]

It will only check for configmap `global` and `cdr-import` and not `global-p

[2019-02-06 21:02] spencergibb commented on #153
OK, so we do this, but not with `*.config.sources` is what I am seeing. @geoand agree?

[2019-02-06 21:14] spencergibb commented on #153
There's an open PR for profiles support https://github.com/spring-cloud/spring-cloud-kubernetes/pull/323

[2019-02-07 00:47] ryanjbaxter commented on #321
I have been running sc-k8s on minikube using the default namespace and have not seen this problem.  What version are you using?

[2019-02-07 05:54] geoand commented on #153
@spencergibb @shahbour yeah, it makes perfect sense

[2019-02-07 05:55] shahbour commented on #324
Yes, I do have ribbon (i tired it with and without) and still same result. I got 200 OK back for any service I try to access.

I feel it is a configuration error but can't catch it. I did update the project [https://github.com/shahbour/gateway-demo](https://github.com/shahbour/gateway-demo) with my latest test (very very simple project) .

[code]

[2019-02-07 06:40] shahbour commented on #153
I tried reading PR #323 and I think it is the same as now for reading one config map based on the name provided without postfix any active profile name.

from `ConfigMapPropertySource`

[code]

I think we should change the issue name because reading default configuration is already done , what is missing is reading multiple config-map based on active profiles.

[2019-02-07 06:48] geoand commented on #153
@shahbour perhaps open a new issue where you set the appropriate title and link the discussion here?

[2019-02-07 06:52] shahbour commented on #153
This issue was opened before providing the `spring.application.kubernetes.config.sources` which did address partially this issue. Personally, I think the current solution is good unless you think the same behaviour of active profiles and yml files should be mocked into configmap .

[2019-02-07 06:59] spring-issuemaster commented on #315
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-02-07 06:59] #315 closed

[2019-02-07 07:27] geoand commented on #153
I can see reasons for doing both to tell you the truth, so I would like to hear more opinions

[2019-02-07 08:05] shahbour commented on #153
I see, ok I have worked on this before in pr #162  , after #323 is merged I can work on it again?

[2019-02-07 08:08] geoand commented on #153
Sounds good to me :)

[2019-02-07 08:32] salaboy commented on #153
@geoand @shahbour sorry for my lack of participation here, but I totally agree.. having the profile information while reading configmaps will be really useful

[2019-02-08 00:42] arahlf commented on #321
Ugh... I think what was happening was my deployment wasn't working right... so the instance wasn't actually running in the cluster like I thought, but was running on a machine that had kube config setup to point at the same cluster... so the KubernetesClient still found + used those credentials and the app's KuberentesDiscoveryClient was mostly working, but because it wasn't actually in the cluste

[2019-02-08 00:42] #321 closed

[2019-02-08 06:14] shahbour commented on #324
Is there any working sample gateway + kubernetes , using spring boot 2.1 ? I did a test on different servers and different clusters and always the same result, and there is nothing in the code to change

[2019-02-08 07:41] shahbour commented on #324
ok finally i got some logic .

1- I was trying the run the application at my machine , all the tests above are done like that , so now i deployed a pod for the gateway and it did resolve the service ip at least. Can you please confirm if this is the case because when using Zuul i was able to do testing from my machine directly .

2- Even though it did resolve the common service name to the service

[2019-02-08 09:54] Lex4hex opened #327 "ConfigMap is not loaded from mounted volume"
Hello!

spring-cloud-kubernetes-config version is 1.0.0.
It wasn't an issue on 0.3.0.

I'm trying to load *.properties file from mounted volume:

[code]

My bootstrap.yaml:

[code]

Kubernetes creates a symlink to `example.application.properties` in `/config-volume` directory.
But in this commit  https://github.com/spring-cloud/spring-cloud-kubernetes/commit/a006296c780df21cc899690c1545747b9d93416

[2019-02-08 09:59] geoand commented on #327
Hey @Lex4hex

The intention there was to skip directories, so I would consider this a bug.
If you have some time to spare and would like to work on a fix that would be great :)

If not, I can handle it a few days

[2019-02-08 11:51] Lex4hex commented on #327
@geoand I'll fix it

[2019-02-08 12:08] geoand commented on #327
Cool!

On Fri, Feb 8, 2019, 13:51 Alexey Zotov <notifications@github.com wrote:

[2019-02-08 13:42] #327 closed

[2019-02-11 16:49] spencergibb commented on #324
The url expression for gateway is to use ribbon to load balance and specifically doesn't have a port since that comes from discovery later.

I know @ryanjbaxter has a sample of this working, so I'm going to close this.

[2019-02-11 16:49] #324 closed

[2019-02-11 17:41] ryanjbaxter commented on #324
I have a gateway working with service discovery and load balancing working on both minikube and GKE.  I dont really understand what you are saying about the host and port

[2019-02-11 17:56] shahbour commented on #324
Can you please share it so u can test .

Did you test the application running on local computer and trying to
connect to services on minikube or cluster ? As developer u need to debug
and interacted with running services

Are your services running on port other than port 80 ?

On Mon, Feb 11, 2019, 7:41 PM Ryan Baxter <notifications@github.com wrote:

[2019-02-11 17:58] ryanjbaxter commented on #324
Do you mean running the app from your ide while using service discovery from a local kubernetes cluster?

[2019-02-11 17:59] shahbour commented on #324
Yes exactly

On Mon, Feb 11, 2019, 7:58 PM Ryan Baxter <notifications@github.com wrote:

[2019-02-11 18:02] ryanjbaxter commented on #324
This is something I am working on figuring out with @salaboy.  If that what this issue is about that was not clear.

[2019-02-11 18:24] shahbour commented on #324
When I started I did not know that the problem is because I am testing from
ide. (I am moving from zuul so I thought that was done)

One more thing have you tried to test a service running on port other than
80?

Thanks

On Mon, Feb 11, 2019, 8:02 PM Ryan Baxter <notifications@github.com wrote:

[2019-02-11 18:27] ryanjbaxter commented on #324
Yeah all my services are running on ports other than 80

[2019-02-11 18:30] shahbour commented on #324
Ok can you share a sample if possible , just the gateway or look at my
sample , before last commit when I changed the URL.

On Mon, Feb 11, 2019, 8:27 PM Ryan Baxter <notifications@github.com wrote:

[2019-02-11 18:38] ryanjbaxter commented on #324
Check out this branch https://github.com/ryanjbaxter/chaos-monkey-spring-boot-demo/tree/spring-cloud-kubernetes

[2019-02-12 13:37] MichalFoksa opened #330 "Add spring cloud kubernetes to properties appendix"
Can you PLS create a documentation of all possible application properties?

I.e. something like: [Appendix A. Common application properties](https://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html) from Spring documentation.

PS: Spring Cloud Kubernetes is very helpful - thumbs up!

[2019-02-12 15:19] spencergibb commented on #330
It should be a part of it, is it not?

[2019-02-12 15:23] MichalFoksa commented on #330
It is not.

Try to search in  [Appendix A. Common application properties](https://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html) for e.g.: `spring.cloud.kubernetes`

[2019-02-12 15:23] spencergibb commented on #330
Sorry on mobile

[2019-02-12 15:24] spencergibb commented on #330
We don't put them with boot, but with the spring cloud docs

[2019-02-12 15:25] spencergibb commented on #330
https://cloud.spring.io/spring-cloud-static/Greenwich.RELEASE/multi/multi__appendix_compendium_of_configuration_properties.html

[2019-02-12 15:46] MichalFoksa commented on #330
Thank you! I did not find these - there is a a lot of stuff.

Anyway: `spring.cloud.kubernetes` is not there :(

[2019-02-12 16:18] MichalFoksa commented on #330
@spencergibb thanks!

[2019-02-13 15:39] ryanjbaxter opened #331 "Configuration Not Refreshed After Some Period Of Time When Running On GKE"
After a while a container running on GKE stops refreshing configuration data from config maps.  Once I kill the pod and recreate it, refresh starts working again.

Here is the deployment for the app
https://github.com/ryanjbaxter/chaos-monkey-spring-boot-demo/blob/spring-cloud-kubernetes/bestseller-toys/bestseller-toys-deployment.yml

Here is the config map
https://github.com/ryanjbaxter/chaos-mon

[2019-02-13 16:26] spring-issuemaster commented on #140
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-02-14 09:57] shahbour commented on #324
hello @ryanjbaxter , I did test the gateway and it is working, very strange. I think i was missing the netflix ribbon dependency .

[code]

Now Gateway is looking for endpoints for the service i am trying to access .

Note : I did test it from IDE and it just worked

[2019-02-14 15:00] salaboy commented on #324
@shahbour @ryanjbaxter for some reason that is set to option, which I believe should be ok. but we might need to improve our docs.

[2019-02-14 20:24] MichalFoksa commented on #231
I vote for it if it means having access to kind of data from `io.fabric8.kubernetes.api.model.Service` and
`io.fabric8.kubernetes.api.model.ServiceSpec`.

[2019-02-15 00:55] ryanjbaxter commented on #324
@shahbour I believe this is what @spencergibb said here originally https://github.com/spring-cloud/spring-cloud-kubernetes/issues/324#issuecomment-461131141

In any case glad you got it working!

[2019-02-18 06:16] ooiweijie opened #333 "Support Spring Cloud Config Client using Kubernetes as Discovery Client"
Spring Cloud Config Client should be able to use Kubernetes as the Discovery Client. Right now, if the following properties are used, the SCCC (name = `config-server`) will always attempt to retrieve the config from `localhost:8888`:
[code]

Only when the config server's uri is specified can the config be retrieved successfully:
[code]

background: https://stackoverflow.com/questions/54702501/does

[2019-02-18 16:47] spring-issuemaster commented on #318
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-02-19 08:17] shahbour commented on #324
@ryanjbaxter I did add  `spring-cloud-starter-kubernetes-ribbon` but that did not include `spring-cloud-starter-netflix-ribbon` which is needed, so i think we should mention that in the document some where .

sorry for commenting on closed issue

[2019-02-19 14:37] ryanjbaxter commented on #324
Ah ok.  `spring-cloud-starter-netflix-ribbon` isnt included in `spring-cloud-starter-kubernetes-ribbon` we should fix that!

[2019-02-19 14:42] ryanjbaxter commented on #324
@shahbour see https://github.com/spring-cloud/spring-cloud-kubernetes/commit/d2c5b48011a78aec9396148bdebfc194876a664b

[2019-02-19 14:48] shahbour commented on #324
Looks good, just on [spring-cloud-kubernetes-ribbon/pom.xml](https://github.com/spring-cloud/spring-cloud-kubernetes/blob/d2c5b48011a78aec9396148bdebfc194876a664b/spring-cloud-kubernetes-ribbon/pom.xml) it is found as optional may be there it should not be optional.

[2019-02-19 14:49] ryanjbaxter commented on #324
No that is the point of using the starter.  You will not be adding `spring-cloud-kubernetes-ribbon` to your classpath you will be adding the starter.

[2019-02-19 15:08] shahbour commented on #324
Maybe we should open a new thread for this, but would not it be better if we just call the kuberentes service (ip:port) and it handles the load balancing at server side instead of using ribbon and balance at client side ?

By changing `url-expression` to `"'http://' + host + ':' + port"`  i was able to achieve that as in [comment#461717038](https://github.com/spring-cloud/spring-cloud-kubernetes/i

[2019-02-19 15:27] ryanjbaxter commented on #324
That is a different issue entirely, please open a separate issue

[2019-02-20 16:22] spring-issuemaster commented on #140
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-02-20 16:22] #140 closed

[2019-02-22 17:18] #293 closed

[2019-02-25 16:47] spring-issuemaster commented on #318
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-02-25 16:47] #318 closed

[2019-02-26 07:37] geoand commented on #333
@ryanjbaxter @spencergibb what would we need to do to support this?

[2019-02-26 16:24] #310 closed

[2019-02-26 16:27] ryanjbaxter commented on #333
I am actually unsure as to why this does not work today.  The basic idea is that the config client should use the discovery client implementation on the classpath to look up the URL to the config server.  I am not sure what would prevent that from working when using the Kubernetes discovery client implementation.  First place to look would be the config client code that is enabled when `spring.clo

[2019-02-26 16:29] spencergibb commented on #333
There some bootstrapping that has to happen for the discovery client to load properly.

https://github.com/spring-cloud/spring-cloud-consul/tree/master/spring-cloud-consul-discovery/src/main/java/org/springframework/cloud/consul/discovery/configclient

[2019-02-26 21:07] paulczar opened #338 "should adding `spring-cloud-starter-kubernetes` to pom.xml load config?"
I'm looking at spring cloud kubernetes integrations and was under the impression from the docs that all I needed was to add it to my pom.xml like so:

[code]

after much frustrating debugging I discovered that what I really needed was:

[code]

Once I added that instead of the base kubernetes it worked as expected loading values from a configmap.

Is this expected functionality? If so we should up

[2019-02-27 01:19] spencergibb commented on #338
Nope, if the docs say otherwise it should be changed.

[2019-02-27 01:20] spencergibb commented on #338
Paul, do you mind pointing to the section you were reading?

[2019-02-27 03:55] paulczar commented on #338
As you read through README.md at
https://github.com/spring-cloud/spring-cloud-kubernetes

The first section covers [discovery](https://github.com/spring-cloud/spring-cloud-kubernetes#discoveryclient-for-kubernetes) where it says to include `<artifactId>spring-cloud-starter-kubernetes</artifactId>` in pom.xml.

The second section goes into [config settings](https://github.com/spring-cloud/spring-cl

[2019-02-27 03:58] spencergibb commented on #338
Thanks, AFK so that helps others who might fix it. I think that's the way it may have been pre release and that didn't get updated along with it.

[2019-02-27 07:03] pukkaone commented on #338
Pull request https://github.com/spring-cloud/spring-cloud-kubernetes/pull/332 adds the `spring-cloud-starter-kubernetes-config` dependency to the documentation.

[2019-02-27 07:34] geoand commented on #333
I don't know much about the ConfigServer, but I'll look into this soon hopefully

[2019-02-27 15:27] paulczar commented on #338
wicked @pukkaone that would have solved me a lot of time and effort!

[2019-02-27 15:48] paulczar opened #340 "spring-cloud-kubernetes-config appears to ignore application.yaml"
It appears that `spring-cloud-kubernetes-config` is only reading values from `bootstrap.yaml` and not `application.yaml`.  I want to disable it for dev so that it doesn't reach out to my kubernetes cluster and load up config-maps when I'm using it locally.   `spring.cloud.kubernetes.config.enabled` defaults to `true`, so I want to set it to `false` in `application.yaml` under the development profi

[2019-02-27 15:52] spencergibb commented on #340
All config across spring cloud is loaded during bootstrap. It needs to be in bootstrap I believe

[2019-02-27 15:56] ryanjbaxter commented on #340
You could do this in bootstrap.yaml

[2019-02-27 16:15] #146 closed

[2019-02-27 16:15] #326 closed

[2019-02-27 16:20] ryanjbaxter commented on #338
Merged #332 so closing this

[2019-02-27 16:20] #338 closed

[2019-02-27 17:15] ryanjbaxter commented on #330
This should be fixed by https://github.com/spring-cloud-samples/scripts/commit/1a044f978b47addb0e8d8bd1987d33db88b9b757

[2019-02-27 17:15] #330 closed

[2019-02-27 20:23] paulczar commented on #340
Hrmmm, If I set the following in `bootstrap.yaml` it still tries to read the configmap from kubernetes. It looks you either turn it on or off for the whole project regardless of profile ? I can see this causing unexpected results in different environments.

[code]

[2019-02-27 23:18] jkubrynski opened #341 "Kubernetes discovery not usable with multi-port services"
I've checked the #104 but it wasn't in fact resolved. I can define ports in metadata, however, all load balancers are using the port from the `ServiceInstance.getPort` method. If we have more than one port it works randomly. The solution would be to specify the `name` of the `default` port, which will be used if more than one port is defined for a given service. Current implementation looks like t

[2019-02-28 00:27] ryanjbaxter commented on #341
Yes would love a PR

[2019-02-28 15:53] #341 closed

[2019-02-28 21:25] ryanjbaxter commented on #325
I am a little perplexed now that I am looking deeper into this.

The class `KubernetesAutoServiceRegistration` which would auto register the client exists but is never used, so in theory the client should never register itself.  But that is apparently not true since clients do appear to register itself and can be discovered by other clients.  Is this just Kubernetes automatically registering the a

[2019-02-28 22:08] spencergibb commented on #325
Yeah, I can't remember why it exists, because the platform does registration. This was one of the reasons to split discovery and registration

[2019-02-28 22:28] MichalFoksa opened #344 "Optionally return Kubernetes services instead of service instances by getInstances()."
Is there a interest in feature where `KubernetesDiscoveryClient.getInstances(String serviceId)` optionally returns Kubernetes services instead of service instances (made of EndpointAddress and EndpointPort) as it is now?

This approach is beneficial:
- when client load balancing is not needed/wanted.
- it allows [`ExternaName` type of Services](https://kubernetes.io/docs/concepts/services-networki

[2019-03-01 06:14] geoand commented on #344
Hi @MichalFoksa ,

I see this could make sense. How do you envision that it would apply to certain services and not others?

[2019-03-01 07:19] MichalFoksa commented on #344
Hi @geoand ,

My idea at the moment is all or nothing. Either you receive instances, or services.

[2019-03-01 07:27] geoand commented on #344
Thats sounds good to me @MichalFoksa. @salaboy any thoughts?

[2019-03-03 01:29] vxavictor513 commented on #333
@spencergibb Isn't the bootstrapping already here?

https://github.com/spring-cloud/spring-cloud-kubernetes/tree/master/spring-cloud-kubernetes-discovery/src/main/java/org/springframework/cloud/kubernetes/discovery

[2019-03-03 02:25] spencergibb commented on #333
Indeed it is

[2019-03-04 06:53] ooiweijie commented on #333
@spencergibb @ryanjbaxter @geoand Upon re-examining my codes, I realised that I have an extra line of code that overrides the value of `spring.cloud.config.discovery.enabled` to `false`. Upon removing that line of code and supplying the service id of the config server, it worked!

I truly apologise for any confusions that my question may have caused.

[2019-03-04 06:53] #333 closed

[2019-03-04 06:58] geoand commented on #333
Glad to hear it worked @ooiweijie 😊

[2019-03-04 10:45] salaboy commented on #325
@ryanjbaxter yup.. in k8s if you create a service that will be reflected inside DiscoveryClient getServices().
That class was already there when I started looking at the project. My gut feeling is that it was created for supporting some edge cases when you run the app outside of the cluster and want to connect, but I am not 100% sure. We should remove it if it doesn't have a concrete use case.

[2019-03-04 10:48] salaboy commented on #344
Hmm... I will need to think about this.. and I can see that @spencergibb marked this for team discussion.. so I think that we need to discuss this further.

[2019-03-04 13:57] spencergibb commented on #325
Can't remove until a major release, but we can deprecate

[2019-03-04 15:22] salaboy commented on #325
please do :)

[2019-03-04 17:51] FuzzyFlipFlop opened #346 "[Question] debugging outside kubernetes"
I'm trying to figure out what is required to be able to debug my microservice that makes use of feign clients to call other services deployed in kubernetes. My service works fine when deployed in kubernetes, but when I run it in my IDE (IntelliJ) I get an error along the lines of:

connect timed out executing GET http://lookup-service/foo/bar

My FeignClient is configured like:
[code]

I've tried

[2019-03-04 18:00] spencergibb commented on #346
`@Component` on a feign client is not right. @ryanjbaxter and @salaboy have some experience running clients outside of k8s, I'll let one of them respond.

[2019-03-04 19:49] spencergibb commented on #340
with this in the cli
[code]
and this in bootstrap.yml
[code]
The `ConfigMapPropertySourceLocator` is not created.

[2019-03-05 16:40] ryanjbaxter commented on #325
@spencergibb so in reality the property `spring.cloud.service-registry.auto-registration.enabled` is going to have no effect in Kubernetes

[2019-03-05 16:45] spencergibb commented on #325
We can certainly make it disable the bean.

[2019-03-06 19:18] ryanjbaxter opened #347 "Profile Specific Configuration Not Loaded"
In my add I have some kubernetes specific configuration contained within a file called `application-kubernetes.yml`.  When I deploy my app in minikube the configuration from this file is not loaded, even though the `kubernetes` profile appears to be enabled.

If however I specify the `kubernetes` profile as an environment variable in my `deployment.yml` then the configuration appears to loaded fin

[2019-03-07 01:02] ryanjbaxter commented on #325
But that does't do what the property says it does.  It should stop the service from automatically registering with the service discovery service but as soon as a service is created for the app in Kubernetes it is registered, other services could now discover the service.  In essence the app has no control over whether it is registered or not.  Maybe the app could unregister itself?  @salaboy do yo

[2019-03-07 05:41] spencergibb commented on #325
We can't prevent registration because it is a function of the platform, not spring cloud. Similar to CF.

[2019-03-07 08:26] geoand commented on #347
I was able to reproduce this issue.
So the gist is that although Spring Cloud Kubernetes properly adds the `kubernetes` profile, this profile seems to have no effect on the properties being loaded.

One can also easily reproduce this without having to have the application deployed on Kubernetes, simply change `KubernetesProfileApplicationListener#addKubernetesProfile` to:

[code]

Is there some Sp

[2019-03-07 15:48] spencergibb commented on #347
Is it an ordering issue maybe?

[2019-03-07 16:21] geoand commented on #347
That's as my first as well but when I tried to change the order value it didn't have any effect

[2019-03-07 16:25] ryanjbaxter commented on #325
Right that is what I was saying above, so `spring.cloud.service-registry.auto-registration.enabled` seems like a useless property in this case

[2019-03-07 16:28] spencergibb commented on #325
I see. :+1:

[2019-03-07 16:46] ryanjbaxter commented on #325
I am going to close this for now as I think `spring.cloud.kubernetes.enable` is good enough at the moment for disabling the service registry bean.  The `KubernetesServiceRegistry` implementation infact does not do much so having it enabled does not really have any effect anyways, and I cannot come up with a use case where you specifically want to disable this bean while leaving the rest of the kub

[2019-03-07 16:46] #325 closed

[2019-03-07 16:47] ryanjbaxter opened #348 "spring.cloud.service-registry.auto-registration.enabled has no impact in Spring Cloud Kubernetes"
Since registration of a service is controlled by the platform in Kubernetes, setting `spring.cloud.service-registry.auto-registration.enabled` has no impact un this case.  We should document this.

[2019-03-07 16:58] ryanjbaxter commented on #347
I had a breif conversation with @philwebb about this yesterday and he suggested

Looking at `ConfigFileApplicationListener.initializeProfiles` I think Boot should find it. Try debugging `getOtherActiveProfiles` and check that it actually finds it
@rbaxter It might be an ordering issue. I think your listener should be fine, but worth sticking a couple of breakpoints in `KubernetesProfileApplication

[2019-03-07 17:00] ryanjbaxter commented on #346
@salaboy we need to look into this

@FuzzyFlipFlop we will get back to you on this

[2019-03-07 17:12] geoand commented on #347
I'll give it a go tomorrow

[2019-03-07 17:13] #348 closed

[2019-03-07 20:04] FuzzyFlipFlop commented on #346
thanks for getting back to me.

[2019-03-07 20:43] salaboy commented on #346
@FuzzyFlipFlop hi there.. sorry for my lack of communication here..
What you are trying to achieve should be pretty simple and it is more a networking questions than a kubernetes question.

If you are running your service locally ( the one that wants to call "lookup-service" ) that means that lookup-service should be an entry in a DNS table. meaning that if you are outside the cluster your compute

[2019-03-07 21:17] FuzzyFlipFlop commented on #346
@salaboy if I use the kubectl port forward do I need to reconfigure my feign client to know the correct port somehow? Maybe I need to reconfigure by service configuration in kubernetes to something other than 80?

[2019-03-07 22:18] FuzzyFlipFlop commented on #346
I turned on debug logging for "org.springframework.cloud.kubernetes" and ran my test and got:
2019-03-07 15:10:17.726 DEBUG 28764 --- [ctor-http-nio-3] r.n.http.server.HttpServerOperations     : [id: 0x5af5f677, L:/0:0:0:0:0:0:0:1:9000 - R:/0:0:0:0:0:0:0:1:57276] Increasing pending responses, now 1
2019-03-07 15:10:17.726 DEBUG 28764 --- [ctor-http-nio-3] reactor.netty.http.server.HttpServer     :

[2019-03-07 22:22] spencergibb commented on #346
That's not surprising

[2019-03-08 02:16] bestpayAmes opened #350 "restart-context at same time"
when configmap changes, applicationcontext of all application instance will restart;
this will be a disaster;because this time will doesn't have service;

[2019-03-08 05:50] geoand commented on #350
Hi @bestpayAmes

That is actually a very good comment. @spencergibb @iocanel should we add some random wait time before restarting the context in order to lower the chance of all instances being down at the same time?

[2019-03-08 06:21] geoand commented on #347
OK, so here is what I got:

`getOtherActiveProfiles` get's called in `ConfigFileApplicationListener#initializeProfiles`, which itself executes when the `ApplicationEnvironmentPreparedEvent` event is fired.

However at that point none of the listeners have executed. The initializers get executed as part of `SpringApplication.prepareContext`.
So is what we are trying to do unsupported by Spring Boot

[2019-03-08 06:23] spencergibb commented on #347
Environment post processor?

[2019-03-08 06:24] spencergibb commented on #350
The application context shouldn't be restarting

[2019-03-08 06:27] geoand commented on #347
I'll give it a shot

[2019-03-08 06:32] geoand commented on #350
WDYM @spencergibb? We restart the context when we detect a configmap change in order to apply config changes.

[2019-03-08 10:14] bestpayAmes commented on #350
@spencergibb do you mean  only REFRESH can be used ; RESTART_CONTEXT and SHUTDOWN can not be used? why do you provider these two strategy?

[2019-03-08 13:48] spencergibb commented on #350
If we're restarting the context that needs to change. Refresh is available and it doesn't need to restart.

[2019-03-08 13:53] geoand commented on #350
The default strategy is `ReloadStrategy.REFRESH`.
However the concern raised by this issue is still valid IMHO. Even if refresh takes 0.5 seconds, it's still possible for it to happen at roughly the same time for all instances of the running app.
That's why I propose we add a random wait time (with a configurable max) in order to be able to spread out the refreshes

[2019-03-10 10:17] salaboy commented on #346
For example, I have the following setup:
In the application that I'm running locally I have:
[code]

then I do the port forwarding:
[code]
At this point I can do curl localhost:8081 and I can access the remote service that is running inside k8s.

and then I need to add an entry to my /etc/hosts file

[code]

At this point I can do curl invoice:8081 and I can access the remote service.
This means t

[2019-03-11 14:36] FuzzyFlipFlop commented on #346
Thank you for the help. I was able to get it working by including the URL property on my feign client similar to your example. Using the properties there is a great idea,

[2019-03-11 14:36] #346 closed

[2019-03-11 19:53] spring-issuemaster commented on #340
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-03-11 19:59] javendo commented on #348
Does the same thing happens with the serviceName? I mean, it doesn't matter if I have added the spring.application.name property, in the end it will get the service name. Is it right?

[2019-03-12 12:59] ryanjbaxter commented on #348
I believe that is true

[2019-03-12 13:19] javendo commented on #348
Is there any plan to allow us to control the serviceName it will be registered? If not, I think it should be added in the docs like it was done for autoregistration enable.

[2019-03-12 14:47] vxavictor513 opened #353 "Enable Kubernetes Discovery Client for Spring Cloud Vault at Bootstrap Stage"
The current bootstrap logic only configure discovery client for Spring Cloud Config. This is to add support for Spring Cloud Vault.

[2019-03-12 15:08] spencergibb commented on #348
How can this project control what was registered to kubernetes?

[2019-03-12 15:19] ryanjbaxter opened #354 "spring.application.name has no effect on service registry name"
With other service discovery implementations `spring.application.name` is used as the name registered with the service discovery service.  This is not true in sc-kubernetes, we should document this.

[2019-03-12 15:20] ryanjbaxter commented on #348
You can control the service name that gets registered, it uses the service name in your deployment file when you deploy the app to kubernetes.  We should probably document that `spring.application.name` has no effect on this though. https://github.com/spring-cloud/spring-cloud-kubernetes/issues/354

[2019-03-12 16:10] FWiesner opened #355 "Enable binding of secrets to other prefixes"
Say you have a standard secret that is shared across multiple applications:
[code]
the keys of these secrets are not prefixed and as they would be shared, you might not want them prefixed (or can't if you're out of control of them). You can of course map them into your application, with a no-prefix configuration properties class. But, you might want to bind them to framework-defined configuration

[2019-03-12 16:56] FWiesner commented on #355
example use case here is the shared password for an outbound proxy

[2019-03-12 17:16] pukkaone commented on #355
Why not read the secret property by placeholder to set other properties? For example,

    spring.mail.properties.mail.smtp.proxy.password: ${secret1}

[2019-03-12 19:41] FWiesner commented on #355
oh - I thought only System properties and env vars could be used  as placeholder

[2019-03-12 19:45] spencergibb commented on #355
Nope, anything in the spring environment. Why can't you do
[code]
That should work just fine.

[2019-03-12 19:58] FWiesner commented on #355
I don't have the key under control. If I had, everything would be simple.

[2019-03-12 19:58] FWiesner commented on #355
but I'll give @pukkaone 's comment a try

[2019-03-12 19:58] #355 closed

[2019-03-18 19:50] spring-issuemaster commented on #340
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-03-18 19:50] #340 closed

[2019-03-19 08:39] nickbr23 commented on #344
I've been playing around with SCK for a few days now and I've found that the discovery mechanism works perfectly when running without Istio, but when running with Istio it returns 404s.

I'm currently having to bypass the discovery client and pass in kubernetes service information to get it working with Istio.

If we can get the kubernetes services back from the discovery client then it'd work per

[2019-03-19 19:05] spencergibb commented on #344
@nickbr23, yes we are well aware of that doc.

[2019-03-19 19:53] spencergibb commented on #350
We've not had this come up before with any other configuration services. If we are refreshing or restarting the context, we shouldn't.

[2019-03-19 19:56] spencergibb commented on #350
Looking at where that constant is used, refresh doesn't mean refreshing the application context it means clear refresh scope and rebind config properties. This shouldn't cause delays.

[2019-03-20 07:36] FWiesner opened #362 "Race condition with watch-based secrets monitoring and volumes"
Spring Cloud Kubernetes version: 1.0.1.RELEASE
Kubernetes version: 1.10
---------

Yesterday when I had to implement a secrets watcher for a Python-based app, I realized that the secrets change event is immediately firing, but mounted secret volumes take several seconds afterwards to be updated. So, for my Python app the watch event triggers a limited time poller to check for file changes on the s

[2019-03-20 08:13] FWiesner commented on #362
[code]
As you can see from the logs, the last secret update was reported 55 seconds via the watch before the volume actually got updated whereas in the secret updates above almost instantaneous led to volume updates.

I guess you need to either add a similar poller to the event-based change detection or recommend that people don't use the watch based approach for secrets if they do not also use th

[2019-03-20 15:07] #347 closed

[2019-03-25 06:44] cristina-ad234 opened #371 "Vulnerability CVE-2018-1002105 in Spring Cloud Kubernetes Core 1.0.0.RELEASE"
After upgrading to the Greenwich.RELEASE of the Spring Cloud package, the corresponding BOM (http://central.maven.org/maven2/org/springframework/cloud/spring-cloud-dependencies/Greenwich.RELEASE/spring-cloud-dependencies-Greenwich.RELEASE.pom) is bringing **v1.0.0.RELEASE** of **spring-cloud-kubernetes-core**.

Upgrading has triggered the dependency vulnerability plugin we are using to reveal that

[2019-03-25 07:21] geoand commented on #371
I don't see why Spring Cloud Kubernetes would be vulnerable to a Kubernetes CVE. @spencergibb @ryanjbaxter do you have any info perhaps?

[2019-03-25 09:10] cristina-ad234 commented on #371
It was a very odd thing to encounter, since it seemed a server-side issue from the vulnerability description on NIST, but this the output of the OWASP plugin run:
`spring-cloud-kubernetes-core-1.0.0.RELEASE.jar: ids:(org.springframework.cloud:spring-cloud-kubernetes-core:1.0.0.RELEASE, cpe:/a:kubernetes:kubernetes:1.0.0) : CVE-2015-7528, CVE-2016-1905, CVE-2016-7075, CVE-2018-1002105`

CVE-2018-10

[2019-03-25 12:59] geoand commented on #371
@iocanel do you perhaps have any idea? I don't see why a server side Kubernetes API issue would affect clients like us...

[2019-03-25 13:07] iocanel commented on #371
As the author of the `kubernetes-client` I don't see how that affects either the client itself or spring-cloud-kubernetes.

[2019-03-27 19:38] steven-sheehy commented on #289
@manderson23 Can this be closed?

[2019-03-27 20:35] manderson23 commented on #289
Yes

On Wed, 27 Mar 2019, 19:38 Steven Sheehy, <notifications@github.com> wrote:

[2019-03-27 20:53] spencergibb commented on #289
Closed via #294

[2019-03-27 20:53] #289 closed

[2019-03-29 02:09] vxavictor513 opened #384 "Service list does not refresh in Spring Cloud Gateway"
I'm using Spring Cloud Gateway Discovery + Spring Cloud Kubernetes.
[code]

The routing works fine for any services available upon Spring Cloud Gateway's startup, but the gateway is unable to detect any new services registered to Kubernetes afterwards.

Tried enabling `KubernetesCatalogWatch` but it doesn't help.
[code]

Did I miss out anything here?

[2019-03-29 07:46] geoand commented on #384
From a Spring Cloud Kubernetes perspective I don't see why a problem would occur since we just re-read the Kubernetes `Endpoints` from the API server, but I might be missing something in the interaction with the Spring Cloud Gateway

[2019-03-30 14:51] germm opened #385 "KubernetesDiscoveryClientAutoConfiguration should enable Scheduling"
The scheduled Method `catalogServicesWatch()` in `KubernetesCatalogWatch` is not executed if the Annotation `@EnableScheduling` is not explicitly set by the user. This was alerady part of the discussion in #254

IMHO, the `KubernetesDiscoveryClientAutoConfiguration` should enable Scheduling unless kubernetesCatalogWatch is disabled by the user.

[2019-03-30 21:52] germm commented on #384
KubernetesCatalogWatch does only work if the Annotation `@EnableScheduling` explicitly set by the user (see #385) .

[2019-03-30 22:21] germm commented on #278
We are facing the same issue with TLS Hostname verfication as described in the first post.

It would be great if spring-cloud-kubernetes-discovery could be (optionally) configured that `KubernetesServerList` and `KubernetesServiceInstance` us the Pod Hostname assigned by Kubernetes:
`<pod-ip-dashed>.<namespace>.pod.cluster.local`

See also [DNS for Services and Pods](https://kubernetes.io/docs/con

[2019-03-30 22:30] germm commented on #344
TLS Hostname verification issue can be solved if `KubernetesServerList` and `KubernetesServiceInstance` could be configured to use the pod hostname instead of the IP:

`<pod-ip-dashed>.<namespace>.pod.cluster.local`

See  also [comment for issue 275](https://github.com/spring-cloud/spring-cloud-kubernetes/issues/278#issuecomment-478294275)

[2019-03-30 23:31] vxavictor513 commented on #384
@germm You're right, it is working after adding `@EnableScheduling`. And I agree that `KubernetesDiscoveryClientAutoConfiguration` should enable it by default. Will follow the discussion in #385.

Thanks!

[2019-04-01 14:15] spring-issuemaster commented on #371
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-04-01 14:35] spencergibb commented on #362
See #350 for similar issue.

[2019-04-01 16:27] #384 closed

[2019-04-03 15:23] ryanjbaxter commented on #385
We don't have any precedence for adding `@EnableScheduling` as part of auto configuration in other Spring Cloud projects or in Spring Boot itself as far as we can see.  If there are other `@Scheduled` annotations in the app I wouldn't expect those to automatically be scheduled just because Spring Cloud Kubernetes is on the classpath.  We should however at the very least document the fact that it i

[2019-04-03 15:26] spencergibb commented on #350
I think it's ok to add an enhancement for a configurable random wait for the restart case. Default to a second or two.

[2019-04-03 15:29] geoand commented on #24
We have already added integration tests so closing this

[2019-04-03 15:29] #24 closed

[2019-04-03 15:31] ryanjbaxter commented on #46
We already have this implemented via `KubernetesCatalogWatch`.  We are lacking documentation around this.  Which should be handled via #385

[2019-04-03 15:31] #46 closed

[2019-04-03 15:38] geoand commented on #350
I can do this :)

[2019-04-03 19:59] germm commented on #385
Many thanks for your answer. Mentioning the fact in the documentation makes the situation better.

I understand your reason for not automatically enable scheduling but a search for `EnableScheduling` shows that this is not consequently handled this way. The following auto configurations do enable scheuduling:
- [ConfigReloadAutoConfiguration](https://github.com/spring-cloud/spring-cloud-kubernetes

[2019-04-03 20:08] spencergibb commented on #385
I'll argue those are the exceptions and should probably be removed.

[2019-04-04 15:15] spencergibb commented on #362
We don't support polling volume mounted properties. See #190

[2019-04-04 15:16] spencergibb commented on #344
I think we're ok making this an option.

[2019-04-04 16:03] eddie71 commented on #231
Would this not be a separate component to support the spring cloud connectors projects?

[2019-04-04 16:09] spencergibb commented on #231
We have no plans to update spring cloud connectors

[2019-04-04 16:10] spencergibb commented on #231
If anything it might end up looking like https://github.com/pivotal-cf/java-cfenv

[2019-04-08 10:32] hero-zhanghao opened #386 "An error occurred when applying k8s in spring boot admin"
I followed the spring boot admin example [(Spring Boot Admin with Spring Cloud Kubernetes Discovery and Config)](https://github.com/salaboy/showcase-admin-tool) in the document to change the existing project.When started in minkube, get the following exception:

![image](https://user-images.githubusercontent.com/16066564/55717609-45588200-5a2c-11e9-932c-420e96cadff4.png)

I don't know what I did w

[2019-04-08 11:05] hero-zhanghao commented on #386
This situation seems to be caused by reading the default kubernetes service. Is there any way to avoid it?

[2019-04-08 11:07] hero-zhanghao commented on #386
Another problem is that inside spring boot admin, from time to time when accessing actuator service, 401 error will appear, and sometimes retry will be improved, like this:

![image](https://user-images.githubusercontent.com/16066564/55719719-7edfbc00-5a31-11e9-9323-ec2bebea1853.png)

![image](https://user-images.githubusercontent.com/16066564/55719738-8c954180-5a31-11e9-895b-7401e943e3f4.png)

[2019-04-08 11:11] spencergibb commented on #386
You know we don't maintain spring boot admin?

[2019-04-08 11:15] hero-zhanghao commented on #386
I know, but I think this is not the problem of spring boot admin. On the original environment, there is no problem with eureka. The above problem only appears after being transferred to the environment of k8s

[2019-04-08 11:21] geoand commented on #386
Perhaps @salaboy has some insight? It was his getting started that was used after all :)

[2019-04-08 11:24] spencergibb commented on #386
Can you please paste the stack trace, not an image of it?

[2019-04-08 14:14] spring-issuemaster commented on #371
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-04-08 14:14] #371 closed

[2019-04-08 14:58] spencergibb commented on #386
Now that I can see stack trace image, it's an ssl error. Not sure what spring cloud kubernetes has to do with it.

[2019-04-08 15:12] geoand commented on #386
I don't understand which part of the code is making the call, it is certainly not Spring Cloud Kubernetes since the client doesn't use Netty.

[2019-04-09 02:30] hero-zhanghao commented on #386
I think it's reading into Kubernetes and turning on the SSL service.
![image](https://user-images.githubusercontent.com/16066564/55769155-4f24c880-5ab2-11e9-9e8c-6605ffc13cbf.png)
In my minikube environment, there is a service named Kubernetes. It should be returned by the spring cloud Kubernetes DiscoveryClient. Up to now, I think this is the problem of spring boot admin. Admin should filter out

[2019-04-09 02:43] spencergibb commented on #386
Spring Cloud Kubernetes has a way to filter. On mobile, but you can look in docs.

[2019-04-09 02:43] #386 closed

[2019-04-09 03:53] hero-zhanghao commented on #386
I tried to find the document you said, but I didn't find it. Can you give me some help?
thanks

[2019-04-09 03:53] spencergibb commented on #386
Tomorrow. You can filter by Kubernetes labels

[2019-04-09 07:14] geoand commented on #386
You can try and play with:

https://github.com/spring-cloud/spring-cloud-kubernetes/blob/master/spring-cloud-kubernetes-discovery/src/main/java/org/springframework/cloud/kubernetes/discovery/KubernetesDiscoveryProperties.java#L47

or

https://github.com/spring-cloud/spring-cloud-kubernetes/blob/43078596907a92c6b7a6fe2466c029aaa145e336/spring-cloud-kubernetes-discovery/src/main/java/org/springframe

[2019-04-09 07:26] hero-zhanghao commented on #386
Thank you very much. I will try to use this configuration. Better yet, it is described in the documentation

[2019-04-10 20:03] ryanjbaxter commented on #385
`ConfigReloadAutoConfiguration` is only enabled if `spring.cloud.kubernetes.reload.enabled` is set to true so it is not on by default.  We should probably remove `@EnableScheduling` from that class as well.

[2019-04-11 07:56] #350 closed

[2019-04-11 15:19] spring-issuemaster commented on #362
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-04-14 16:07] joshiste commented on #385
Did you thought about not relying on the `@Scheduled` at all? Imho a single threaded task scheduler for the `KubernetesCatalogWatch` would do the job and doesn't require any other condfigurations, or further steps from the developer... and no update to the documentation...

[2019-04-16 10:28] raksit31667 opened #389 "How to fetch multiple secrets from multiple labels"
# Context
I would like to fetch secrets for PostgreSQL and Redis which already deployed with different labels. According to the documentation, I can configure `bootstrap.yaml` as below:

[code]

# Expected behavior
The application should fetch secrets from PostgreSQL and Redis successfully.

# Current behavior
The application cannot fetch both secrets, it seems to me that it can only accept one la

[2019-04-16 10:50] geoand commented on #389
@raksit31667 What you are seeing is standard Kubernetes behavior. When you add multiple labels, those act as a logical `AND`, see: https://medium.com/mayadata/kubernetes-label-selector-and-field-selector-81d6967bb2f

What might be useful here would be to have some hook to allow users to provide arbitrarily complex labels in code. Maybe something like: https://github.com/spring-cloud/spring-cloud-k

[2019-04-17 15:30] spencergibb commented on #389
Rather than doing a logical 'or' we could add support for multiple secret sources similar to the config map support https://github.com/spring-cloud/spring-cloud-kubernetes/blob/master/docs/src/main/asciidoc/property-source-config.adoc#using-a-configmap-propertysource

[2019-04-17 21:45] ryanjbaxter opened #390 "KubernetesServerList Not Working With Telepresence"
Fair warning this issue with be sparse with details, I need to dig into the issue some more.

I am running an app using Spring Cloud Gateway and Spring Cloud Kubernetes with Ribbon in Kubernetes.  I want to swap out the pod running in kubernetes with an instance of the app runnning locally using Telepresence

https://www.telepresence.io/tutorials/intellij

When I do this and the Gateways tries to

[2019-04-18 15:18] spring-issuemaster commented on #362
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-04-18 15:18] #362 closed

[2019-04-19 13:02] sailor4242 opened #391 "java.lang.NoSuchMethodError: okio.ByteString.startsWith(Lokio/ByteString;)Z"
Hi, I have just added "spring-cloud-starter-kubernetes-config"  to my project and it's failed to start with  :
`java.lang.NoSuchMethodError: okio.ByteString.startsWith(Lokio/ByteString;)Z
	at okhttp3.internal.http2.Hpack$Writer.writeHeaders(Hpack.java:511)
	at okhttp3.internal.http2.Http2Writer.headers(Http2Writer.java:299)
	at okhttp3.internal.http2.Http2Writer.synStream(Http2Writer.java:127)
	at

[2019-04-19 13:05] geoand commented on #391
Hi,

Are you overriding the kubernetes-client in the project that you see the error in? Or are you perhaps using ok-http in your project?

[2019-04-19 13:43] sailor4242 commented on #391
no, i am not using it

[2019-04-19 13:44] geoand commented on #391
@sailor4242 would it be possible to provide a reproducer project?

[2019-04-19 13:46] sailor4242 commented on #391
@geonad I can try, but it may take some time

[2019-04-19 13:47] spencergibb commented on #391
How about start with your dependency tree `mvn dependency:tree` or the Gradle equivalent

[2019-04-19 15:20] sailor4242 commented on #391
@spencergibb, @geoand  Yes, sorry for disturbance, was getting it transitive.

[2019-04-19 15:20] #391 closed

[2019-04-25 09:33] pistantan opened #392 "Config map not loaded on Istio enabled namespace"
Hi,

We are using spring-cloud-kubernetes, particularly the config part of it, to load the application configuration from a configuration map, and it does work great on the bare cluster. However, we are implementing Istio of top of it.

We already tried creating destination rules, etc, but nothing seems to be working. Is there a known direction we should look into? Maybe some missing configuration

[2019-04-25 17:52] Alos opened #393 "Ribbon logging too much"
After adding:

[code]
Services continuously log:

`"Did not find any endpoints in ribbon in namespace...."` continuously while the application is running in my K8s cluster.

[2019-04-26 09:22] shawnliujw commented on #390
same issue here

[2019-04-29 14:24] ryanjbaxter commented on #393
What version?  Is everything working other than the logging?

[2019-04-29 14:31] ryanjbaxter commented on #392
@geoand @salaboy any ideas?

To me it seems like some kind of configuration problem when Istio is involved.

[2019-04-29 16:40] geoand commented on #392
I'm on PTO with limited access to a computer, so I won't be able to look at it for a week or so

[2019-04-30 12:22] salaboy commented on #392
@pistantan @ryanjbaxter any ideas if you have the right CA configurations in Istio?
The problem is quite clear to me, your pod is trying to use the Kubernetes Service registry to contact
"Operation: [get]  for kind: [Pod]  with name: [sample-service-5585c68b6b-m6cbd]"
But the operation is not allowed. It looks like you need to configure the Kubernetes client to use SSL, which seems to be the probl

[2019-04-30 12:28] salaboy commented on #392
It needs to be something like this: https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-examples/src/main/java/io/fabric8/kubernetes/examples/CredentialsExample.java#L38

[2019-05-01 15:26] ryanjbaxter commented on #390
@shawnliujw it is actually not an issue at all.  SC K8S is returning the POD IP address instead of the service IP address.  There is an issue open to allow the user to configure the service discovery client to use the service IP addresses instead https://github.com/spring-cloud/spring-cloud-kubernetes/issues/344.

To make things work I needed to tell Telepresence to also proxy IP addresses within

[2019-05-01 15:26] #390 closed

[2019-05-01 15:28] ryanjbaxter opened #394 "Add A Dev Tools Module"
The module would help with the developer experience in building and debugging Kubernetes based apps.

To start with I would like to add some support for using Telepresence, it could
* Automatically add env vars from JSON file generated when running Telepresnece
* Automatically configure the Fabric8IO client to use certs for connecting to the remote cluster

[2019-05-02 18:55] Lacritz opened #395 "Missing documentation about configuration properties"
Hi Folks,

We added the starter-kubernetes to our dependencies and actually setup it up like mentioned in the configuration.
[code]
We have added the the @EnableDiscoveryClient annotation to our application

[code]

But we had still issues. Debugging the application has shown, that only the `CompositeDiscoveryClient` and the `SimpleDiscoveryClient` are being autowired.

We resolved the issue addin

[2019-05-04 09:00] geoand commented on #395
@ryanjbaxter @spencergibb is this something we should document do you think?

[2019-05-04 09:02] geoand commented on #392
Is Istio's Mutual TLS perhaps enabled in the cluster?

[2019-05-06 07:30] geoand commented on #394
@salaboy you have used Telepresence, correct?

[2019-05-06 10:56] pistantan commented on #392
Hi everyone,

Sorry for the delay.

@salaboy maybe I have a completely different understanding (I'm new to Istio), but Istio's CA is used for the Mutual TLS configuration. Correct? If we whitelist Kubernetes API it should still work, no?

@geoand Yes, indeed. We tried with two different setups: permissive and explicitly setting policy and destination rules. We can't seem to be able to whitelist Ku

[2019-05-06 11:19] geoand commented on #392
@pistantan can you try applying a rule like this: https://github.com/snowdrop/istio-routing-example/blob/master/rules/load-balancing-rule.yml#L14 (using the proper host for the Kubernetes API server of course).
What that does is explicitly turn off Mutual TLS for traffic to a specific host.

[2019-05-06 14:14] ryanjbaxter commented on #395
This is the default
[code]
So you should not need to set it.

I noticed you are not using the Spring Cloud BOM.  Can you please try using that?  If you still have issues please provide a sample that reproduce the problem.

[2019-05-06 14:29] spring-issuemaster commented on #393
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-06 16:10] salaboy commented on #392
If the Kubernetes API points to an https host it will require the right certs in there.. unless you follow @geoand suggestion

[2019-05-06 16:51] Alos commented on #393
We are using Spring Cloud Greenwich.RELEASE

[2019-05-09 08:14] salaboy commented on #394
@geoand yes I have, not with spring cloud k8s in the class path.. the main problem usually is the difference from running from inside the cluster and from outside due RBAC policies applied internally to access Kubernetes services.
As I mentioned yesterday, I think that we need to try and compare Squash as well:
https://squash.solo.io

[2019-05-13 14:19] spring-issuemaster commented on #395
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-05-16 12:12] PatrickHuetter commented on #163
I also think this would be a good enhancement. We also have multiple namespaces e.g. "spring-server" where services like config-server, api-gateway, spring-boot-admin or other server applications are contained. The "spring-service" namespace contains all business logic relevant services. At this time it seems that it's not possible to configure the kubernetes discovery client to obtain services fr

[2019-05-16 15:24] geoand commented on #163
Isn't overriding the `KubernetesClient` bean a viable option?

[2019-05-16 21:17] #385 closed

[2019-05-17 11:56] chentging opened #396 "KubernetesDiscoveryClient.getInstances(String serviceId) always return null when spring.cloud.kubernetes.client.namespace="
spring frame version is:
spring cloud kubernetes 1.0.1.RELEASE

I have a token that is a kubernetes-admin RBAC，I want to get all instances in every service
when i confiure "spring.cloud.kubernetes.client.namespace=${a specific namespace}", that is very OK.

If i want to get instances in all kubernetes namespaces, the config is "spring.cloud.kubernetes.client.namespace=",this is a empty string. i o

[2019-05-17 12:44] chentging commented on #396
Preliminary findings：
KubernetesDiscoveryClient.java 104 rows code Endpoints endpoints = this.client.endpoints().withName(serviceId).get();
return null
And must allocate a special namesapce eg:
Endpoints endpoints = this.client.endpoints().inNamespace("kube-public").withName(services.get(0)).get();

i think should traversal namespace when "spring.cloud.kubernetes.client.namespace="

[2019-05-17 13:22] geoand commented on #396
Just to make sure I undestand correctly, you are saying that when you have set an empty namespace, `this.discoveryClient.getServices()` correctly all services, but that  `this.discoveryClient.getInstances(service)` doesn't return the instances for some of the returned services?

[2019-05-17 20:56] mchendil82 commented on #392
We are also spring boot fabric8 client to resolve configmap in kubernetes but after configuring ISTIO with mutual TLS  we are facing same issue as below and it is not find the configmap resource behind istio-proxy:
17-05-2019 20:35:29.767,xxxxxxxx,6,[main],WARN ,o.s.c.k.StandardPodUtils,,,,,,,,Failed to get pod with name:[xxxxxxxxx-test-7d77dd6676-thlmz]. You should look into this if things aren't

[2019-05-17 21:28] mchendil82 commented on #392
Any known solution or fix exists for this issue?

[2019-05-18 06:18] geoand commented on #392
Take a look at the solution I posted above which involves turning off mutual tls for communication with the API server

[2019-05-18 13:17] chentging commented on #396
@geoand your understand very correctly, through my test result , when i have set an empty namesapce ,and i have the kubernetes cluster admin premission, and correctly "spring.cloud.kubernetes.client*" all config, ** this.discoveryClient.getInstances(service) ** always return null

[2019-05-19 17:55] spring-issuemaster commented on #252
Closing due to age of the question. If you would like us to look at this issue, please comment and we will look at re-opening the issue.

[2019-05-20 06:37] geoand commented on #396
@iocanel Shouldn't `this.client.endpoints().withName(serviceId).get()` return services from all namespaces (assuming no namespace is set for the client)?

[2019-05-20 06:42] iocanel commented on #396
@geoand AFAIR, the client will always default to the current namespace, unless explicitly specified. So to answer your question, I'd say no, it should return only stuff found in the current namespace. To get services found in all namespaces:

`client.services().inAnyNamespace().list()`

[2019-05-20 06:43] geoand commented on #396
Thanks @iocanel!

[2019-05-20 07:30] geoand commented on #396
I am wondering if we should perhaps disallow the use of an empty namespace in order to avoid problems like this...

[2019-05-20 08:40] PatrickHuetter commented on #163
@geoand This might be an option but i think this is some kind of basic feature many people will need in future while migrating more and more to kubernetes. So it would be nice to have some kind of configuration option for that. If you tell me in which classes i should look i could try to build such a feature and create a merge request but i have to understand many parts of the source code for now.

[2019-05-20 08:42] geoand commented on #163
I just now saw that #396 is related

[2019-05-20 08:44] geoand commented on #396
Actually, I think I am going to close this because it looks like a duplicate of #163. Feel free to reopen if you feel this issue has some differences

[2019-05-20 08:44] #396 closed

[2019-05-20 08:59] PatrickHuetter commented on #163
@geoand Exactly as you described! An option would also be some kind of configuration parameter to configure something like: "all namespaces", "only selected namespaces", "one namespace", "current namespace". e.g. path.to.config.variable: namespace_1, namespace_2

I think with this feature many spring boot microservice projects that use or migrate to kubernetes will profit and make devops happy bec

[2019-05-20 09:02] geoand commented on #163
@PatrickHuetter thanks for your feedback!

I have added a `for team discussion` label so we can go over this with the team and see what the best way to move forward might be. Just thinking about it from a high level perspective leads me to believe that is should not be too difficult, but we probably need to put some more thought into it.

[2019-05-20 14:15] spring-issuemaster commented on #395
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-05-20 14:15] #395 closed

[2019-05-20 15:24] mchendil82 commented on #392
@geoand - Yes, I have tried to disable the TLS for API server but still spring boot is not able to resolve the config map?  Do you have any sample config which you can share to make sure that I am not missing anything? Not sure,  if this solution worked for someone

[2019-05-21 01:45] geoand commented on #392
@mchendil82 I have posted an example configuration above (you could adapt it to use the Kubernetes API)

[2019-05-21 17:06] spencergibb opened #397 "Build failing because of okhttp3 mismatch"
[code]

[2019-05-22 06:36] geoand commented on #397
I'll take a look

[2019-05-22 08:22] geoand commented on #397
So this only happens in `master`, `1.0.x` works fine.

[2019-05-22 09:42] geoand commented on #397
Fixed by #398

[2019-05-22 11:03] #397 closed

[2019-05-29 19:35] anwarchk commented on #138
@spencergibb wondering if this was resolved in any know releases ? I am seeing the same issue :`WARN  [scheduling-1] org.springframework.cloud.kubernetes.config.ConfigMapPropertySource: Can't read configMap with name: [spring-boot-k8s-recipes] in namespace:[default]. Ignoring`

[2019-05-29 19:37] anwarchk commented on #138
My `bootstrap.yml`

[code]

[2019-05-29 19:55] spencergibb commented on #138
Have you looked at the docs on security (site is down right now, but here is the source: https://github.com/spring-cloud/spring-cloud-kubernetes/blob/master/docs/src/main/asciidoc/security-service-accounts.adoc)

[2019-05-29 22:46] anwarchk commented on #138
I did @spencergibb . In addition to the example provided in this repo, I also looked at the example application provided here :  https://github.com/fabric8-quickstarts/spring-boot-camel-config.git where it defines the required ServiceAccount and RoleBinding to be able to watch ConfigMaps. I applied the same concepts to the example provided by this project and added the RBAC details required, but s

[2019-05-29 22:51] spencergibb commented on #138
@geoand @salaboy or @ryanjbaxter will have to comment further

[2019-05-29 23:57] anwarchk commented on #138
@spencergibb I got it working :-) Had to tweak the `ServiceAccount` role binding as follows :
[code]
I would like to contribute some documentation about this so that the next person won't have to spend several hours like I did :-)

[2019-05-30 04:38] geoand commented on #138
@amwarchk just curious, what part of the RoleBinding did you need to tweak?

[2019-05-30 17:34] fico-jessecarroll opened #400 "Spring Cloud Kubernetes Config ConfigMapPropertySource class should provide better logging"
Spring Cloud Kubernetes Config ConfigMapPropertySource class should provide better logging.  Currently it logs a WARN if there is a problem pulling in a configMap reference.

`private static Map<String, String> getData(KubernetesClient client, String name,
			String namespace, Environment environment) {
		try {
			ConfigMap map = StringUtils.isEmpty(namespace)
					? client.configMaps().withName(n

[2019-05-30 22:26] anwarchk commented on #138
@geoand  Here is the diff from the Fabric8 sample RBAC config to what worked for me. I am using K8s 1.14

[code]

to

[code]

[2019-05-31 05:28] geoand commented on #138
Thanks @anwarchk.

Since Kubernetes RBAC can be a tricky subject, I propose you give https://kubernetes.io/docs/reference/access-authn-authz/rbac/ some thorough reading :)

[2019-05-31 05:31] geoand commented on #400
@spencergibb @ryanjbaxter WDYT? Should we be adding the exception when logging the warning?

[2019-06-02 18:40] martin-schaefer opened #402 "ConfigMap change does not trigger bean refresh"
I am doing some training with spring-cloud-kubernetes on Red Hat minishift. I managed to define a ConfigMap which is correctly found and the configured message ${service.message} is shown..

However, when I change the value in the ConfigMap, the RestController in the @RefreshScope seems not to be refreshed and the message stays the same. Only a restart of the app updates the message.

According to

[2019-06-03 06:53] geoand commented on #402
I would suggest you take a look at [this](https://github.com/spring-cloud/spring-cloud-kubernetes/tree/master/spring-cloud-kubernetes-integration-tests/simple-configmap) integration test. My guess is that you probably haven't enabled restart.

[2019-06-03 07:00] hazim1093 commented on #252
The question is still unanswered though

[2019-06-03 18:07] Alos opened #403 "Setting Spring configuration profile"
I've been trying to use the ConfigMaps with profiles but I've been unable to change the profile of my running application.

I've added the following to my deployment.yaml:

[code]

No matter that I do when the application boots up in K8s it always has the `kubernetes` profile:
[code]

Am I missing something? Here is the full deployment.yaml:

[code]

[2019-06-03 18:41] martin-schaefer commented on #402
Thanks for the hint. I activated the config reload like this:

[code]
But then I received the following error on startup:
[code]

Then I decided to activate refresh/restart and to expose all actuators as shown below. This way it works. However, it feels a bit strange to expose the restart endpoint even tough I left the value `spring.cloud.kubernetes.reload.mode` to its default (`event`)

[code]

[2019-06-03 20:10] ryanjbaxter commented on #400
I think it is fine to log the exception.

[2019-06-03 20:18] spencergibb commented on #403
My guess is that `JAVA_OPTIONS` is just being ignored? Maybe try `SPRING_PROFILES_ACTIVE` as the name and `development` as the value.

[2019-06-03 20:19] Alos commented on #403
Let me give it a try!

[2019-06-03 20:19] geoand commented on #400
@fico-jessecarroll would you like to submit a PR for this?

[2019-06-03 20:43] Alos commented on #403
@spencergibb this worked. Should we enhance the documentation to have this instead of the OpenShift specific paragraph?

[2019-06-03 20:44] spencergibb commented on #403
What does the open shift specific paragraph say?

[2019-06-03 20:46] Alos commented on #403
It says:

[code]
DeploymentConfig files are just a OpenShift thing AFAIK

[2019-06-03 20:59] geoand commented on #403
Probable best replace it with the vanilla Kubernetes `Deployment` (which is almost the same as Openshift `DeploymentConfig`)

[2019-06-03 21:12] geoand commented on #402
@spencergibb @ryanjbaxter is this consistent with the rest of Spring Cloud?

[2019-06-03 21:16] fico-jessecarroll commented on #400
I could.  Is it fine to do a log ERROR, with the same messaging as WARN and just include the exception in the log?

[2019-06-03 21:27] geoand commented on #400
I think we should keep the `WARN` level and just log the exception as well.

[2019-06-03 21:35] fico-jessecarroll commented on #400
Okay.  I'll submit the PR.

Thanks

[2019-06-03 23:48] ryanjbaxter commented on #402
No it is not consistent.  Why would the restart endpoint need to be enabled when we are using refresh by default?

[2019-06-04 00:13] ryanjbaxter commented on #252
@geoand @salaboy any ideas?

[2019-06-04 00:13] spring-issuemaster commented on #252
Closing due to age of the question. If you would like us to look at this issue, please comment and we will look at re-opening the issue.

[2019-06-04 06:35] geoand commented on #252
Not really sure why this was added in the first place. @iocanel , did you add this part perhaps?

[2019-06-04 18:39] spencergibb commented on #403
Do we need to mention `Deployment` at all. Can't we just say set an env var `SPRING_PROFILES_ACTIVE=<listofprofiles>` according to you k8s distros normal way of doing things?

[2019-06-04 20:29] geoand commented on #403
Yeah that makes sense,but we chould also that the necessary end result is having the `SPRING_ACTIVE_PROFILES` env var set in the running pod, but in most cases that would mean setting in the k8s `Deployment`.

[2019-06-07 12:18] philnate opened #405 "Leadership election, local leader set to late?"
Hi,

we migrated our Leader election code from Hazelcast to Kubernetes. The setup we have as of today is like:

[code]

My expectation was that this will yield to the correct behaviour. Yet an `OnGrantedEvent`  where
`event.getContext().isLeader()` is invoked will return `false`. On the contrary an `OnRevokedEvent` will yield for the same invocation `true`.

This is due the fact that LeadershipCon

[2019-06-08 09:52] geoand commented on #405
@gytis would you like to take a look?

[2019-06-09 18:22] claitonp commented on #163
Hi.
I am also interested in this. Would be nice to have at least the option to configure this behavior. Then, you can decide to use it or not.
any news?

[2019-06-10 06:16] geoand commented on #163
@claitonp Hi, this is still pending discussion with the team, but that should happen soon :)

[2019-06-10 14:12] medmedchiheb commented on #403
can i take care of this issue! and i need some help as i am looking to my first PR.

[2019-06-10 14:18] geoand commented on #403
@medmedchiheb go for it :)

[2019-06-10 14:25] medmedchiheb commented on #403
thanks @geoand

so, where is best place to put this topic in the documentation .

[2019-06-10 14:27] geoand commented on #403
I would say just update the documentation that @Alos mentions that is a little dodgy and use the language that is mentioned above as more appropriate.

[2019-06-11 09:11] #403 closed

[2019-06-11 15:08] gytis commented on #405
@philnate this should fix it https://github.com/spring-cloud/spring-cloud-kubernetes/pull/409. Would you mind taking a look?

[2019-06-11 15:09] gytis commented on #405
This bit in particular https://github.com/spring-cloud/spring-cloud-kubernetes/pull/409/files#diff-9f131b28928dd771bf1e8371048a0550. Othe changes are not releated, but without them there were issues with a sample app which I used to reproduce the issue.

[2019-06-12 06:07] philnate commented on #405
@gytis looks good.

[2019-06-13 12:18] #400 closed

[2019-06-13 12:26] iocanel commented on #252
I didn't add it myself (not that I can recall). Maybe @nicolaferraro or @lburgazzoli did!

[2019-06-13 12:33] nicolaferraro commented on #252
My memory can fail :)
But I recall that the meaning is not that it's not secure.. but simply that the standard "view" role doesn't allow reading secrets, only configmaps. You needed a "edit" role to read secrets, but that opened a wide range of other possibilities...

At the time of writing that sentence, fine grained RBAC was probably not implemented yet.

[2019-06-13 12:36] lburgazzoli commented on #252
Another topic was that there were no way to limit what secrets an application were allowed to consume so potentially a malicious application could steal all the secrets in the namespace.

[2019-06-13 12:42] iocanel commented on #252
Thanks for the clarifications.

[2019-06-13 14:56] ryanjbaxter commented on #252
@lburgazzoli so is that still a concern today? (there is no way to limit access to secrets to specific apps)

[2019-06-13 16:50] lburgazzoli commented on #252
This is what the official documentation says:

    https://kubernetes.io/docs/concepts/configuration/secret/#clients-that-use-the-secrets-api

So I think the default is correct

[2019-06-13 17:07] ryanjbaxter commented on #252
So it sounds like the correct thing to do is to update the documentation to state the reasons for the limitations, agree?

[2019-06-13 17:19] lburgazzoli commented on #252
I do agree

[2019-06-14 08:28] hazim1093 commented on #252
Thanks guys, really nice to know the reasons behind it.
The doc was already updated with the link to official kubernetes documentation, I just rephrased it a bit to highlight risks and best practices when using this.

https://github.com/spring-cloud/spring-cloud-kubernetes/pull/412

[2019-06-14 19:47] ryanjbaxter commented on #405
Closed via f22175c

[2019-06-14 19:47] #405 closed

[2019-06-17 15:03] spencergibb commented on #393
Can you post samples of the full log statements?

Have you tried tuning the logging for ribbon?

[2019-06-19 14:53] ryanjbaxter commented on #344
closed via f0eab0e

[2019-06-19 14:53] #344 closed

[2019-06-19 14:59] ryanjbaxter commented on #153
Fixed via 296bf1e

[2019-06-19 14:59] #153 closed

[2019-06-19 20:34] spencergibb opened #415 "rename *SpringBootTest to *IntegrationTests or just *Tests"
Make sure they are still picked up by default when running maven tests.

[2019-06-21 14:52] #415 closed

[2019-06-21 15:10] wer-mathurin opened #417 "Service-to-service integration with Google Cloud Run"
The use case is when we want to enable service-to-service security. When Cloud Run is call from another service running inside kubernetes, you must get a token before calling the service, like this:

`var receivingURL = "THE URL OF THE CLOUD RUN";`
`var url = "http://metadata/computeMetadata/v1/instance/service-accounts/default/identity?audience=";`

`var token = client.build().get().uri(url+recei

[2019-06-24 04:07] geoand commented on #417
Hi,

I would suggest taking a look at:
https://github.com/spring-cloud/spring-cloud-kubernetes/blob/35f4e1f94e0a05663a833d85eae2f6d5736883a2/spring-cloud-kubernetes-core/src/main/java/org/springframework/cloud/kubernetes/KubernetesHealthIndicator.java#L41

to see how to determine whether the application is running inside the
cluster or not.

On Fri, Jun 21, 2019, 18:10 wer-mathurin <notifications@

[2019-06-24 15:08] spring-issuemaster commented on #393
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-06-24 15:08] spring-issuemaster commented on #392
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-06-24 18:05] Alos commented on #393
The log statement:

`2019-06-21 17:57:41.237  WARN [artifact-service,,,] 1 --- [erListUpdater-0] o.s.c.k.ribbon.KubernetesServerList: Did not find any endpoints in ribbon in namespace [<my namespace>] for name [localhost] and portName [null]`

Everything else appears to work ok. I've tried to add:

```org.springframework.cloud.kubernetes.ribbon.KubernetesServerList: OFF```

in my `application.yaml

[2019-06-24 18:08] spencergibb commented on #393
You're saying you've tried setting log levels and it is not working?

[2019-06-24 18:11] Alos commented on #393
Yes, but upon further inspection. It looks like the class logging this is `KubernetesEndpointsServerList` not `KubernetesServerList`

[2019-06-24 18:16] spencergibb commented on #393
`KubernetesEndpointsServerList` does not exist in Greenwich.

[2019-06-24 18:16] spencergibb commented on #393
Can you provide a [complete, minimal, verifiable sample](https://stackoverflow.com/help/mcve) that reproduces the problem?  It should be available as a GitHub (or similar) project or attached to this issue as a zip file.

[2019-06-24 18:20] Alos commented on #393
You are right I've fixed the issue by correctly setting the logging level to `ERROR`:

[code]

I just hope I'm not masking another issue.

[2019-06-24 18:23] #393 closed

[2019-07-01 10:46] stefanocke opened #420 "KubernetesProfileEnvironmentPostProcessor should be conditional on spring.cloud.kubernetes.enabled"
Several configuration classes like KubernetesAutoConfiguration and KubernetesDiscoveryClientAutoConfiguration are condtional on spring.cloud.kubernetes.enabled.
This allows to "switch off" kubernetes client completely in non-k8s environments.

But, KubernetesProfileEnvironmentPostProcessor is currently not conditional.
So, it always runs and for example creates a DefaultKubernetesClient which in t

[2019-07-01 12:04] geoand commented on #420
Thanks for opening the issue.

Can you please provide the entire log line?
I am thinking perhaps we need to change the logging level since I don't think we can't really turn off the post processor

[2019-07-01 12:26] stefanocke commented on #420
@geoand , the complete message is the one above.  It is from  io.fabric8.kubernetes.client.Config.tryServiceAccount.

I think, the logging level there is quite appropriate.  (And btw, it is not in spring-cloud-kubernetes anyway.)
Why not to turn off the PostProcessor in a situation where Kubernetes Client shall be switched off completely?

[2019-07-01 12:52] geoand commented on #420
@stefanocke yeah, makes sense. I opened #421

[2019-07-01 13:15] #420 closed

[2019-07-01 15:08] spring-issuemaster commented on #392
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-07-01 15:08] #392 closed

[2019-07-01 15:43] spring-issuemaster commented on #417
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-07-02 15:38] wer-mathurin commented on #417
Maybe I was not enough clear on what kind of enhancement I was looking for.

There is two flavors of Google Cloud Run.  My problem is with the one not running inside my "own" managed kubenertes cluster.  The DiscoverClient can't work because it does not registered itself inside the cluster since is not in the **my** cluster but a Google managed one.

I was just wondering if it was possible to simp

[2019-07-02 15:43] spencergibb commented on #417
So far we've tried to shy away from doing things for specific flavors of k8s such as open shift. Not sure how different this would be. I still don't understand what is different.

[2019-07-02 16:08] wer-mathurin commented on #417
Another clarification on my side !  We are calling the Cloud Run entry-point from another Kubernetes cluster.

When the service deployed on Cloud Run is not public, you need to add a Bearer token to the header.  That's why we need to tell **the calling** service in our case to add the header "only" when the calling service is running "inside" a real cluster, because the header is not require when

[2019-07-03 00:01] ryanjbaxter commented on #417
So couldnt you do something based on when the `kubernetes` profile is enabled?

[2019-07-03 03:24] wer-mathurin commented on #417
Thx for your reply.  Very good idea.  The component(filter) will be
register only when this profile is enable.  So this cover 50% of what need
to be done.  The other part is the name of the service is different when
running in development mode and in production.

On Tue, Jul 2, 2019, 20:02 Ryan Baxter <notifications@github.com> wrote:

[2019-07-04 00:20] ryanjbaxter commented on #417
@spencergibb would this be something that maybe can be included in the cloud specific projects?

[2019-07-04 03:41] wer-mathurin commented on #417
The core concept to generalize is how we can facilitate Multi Cloud code
development.  The initial thread is only one use case.
Another use case can be.  I have a service A deploy to Cloud Foundry and a
service B deployed to Google Cloud Run. And the service B need to call
service A.

On Wed, Jul 3, 2019 at 8:20 PM Ryan Baxter <notifications@github.com> wrote:

[2019-07-04 03:49] spencergibb commented on #417
I still am not quite sure what your filter that you mention does. Maybe you could post or describe exactly what it does.

Most spring cloud libraries are purpose built for a specific technology, in this case, k8s. Spring Cloud commons is the place where any abstraction across platforms would live.

[2019-07-04 04:19] wer-mathurin commented on #417
The filter I was talking is specific to Google, so not right for an
abstraction...I totally agree.  And using the @Profile annotation does the
job.  FYI : The filter is adding a header with a bearer token, and this is
only needed when running into production.  Because when the Service_B* is
running locally (not deployed in a cluster) it does not have the security
constraint*, it is only a basic Sp

[2019-07-04 09:04] vjey opened #423 "BLOCKER Class not found KubernetesProfileEnvironmentPostProcessor"
groupId=org.springframework.cloud
artifactId=spring-cloud-kubernetes-core
version=1.0.2.RELEASE

META-INF/spring.factories
"org.springframework.boot.env.EnvironmentPostProcessor=\
org.springframework.cloud.kubernetes.profile.KubernetesProfileEnvironmentPostProcessor "

KubernetesProfileEnvironmentPostProcessor registration contains space and therefore there is ClassNotFoundException while try to l

[2019-07-04 09:06] geoand commented on #423
Hi,

Can you provide a reproducer project that shows the error? I don't remember seeing this...

[2019-07-06 08:49] idouba commented on #318
Thanks @spencergibb , I have seen your suggestion of  [Spring Cloud: How to use Feign without Ribbon](https://stackoverflow.com/questions/27620338/spring-cloud-how-to-use-feign-without-ribbon/27659935#27659935 ), and `@FeignClient(url="http://example.com", name="example")` works.
But this require modify every method calling, is there a global method to disable lb and service discovery which infras

[2019-07-06 08:53] idouba opened #424 "The unified method of disable lb and service discovery which infrastructure have provided,"
I have try the suggestion of Spring Cloud: How to use Feign without Ribbon, and @FeignClient(url="http://example.com", name="example") works.
But this require modify every method calling, is there a global method to disable lb and service discovery which infrastructure have provided, springcloud app just need to call the remote producer microservice by serviceName, as the issue spring-cloud/spring

[2019-07-06 08:57] idouba commented on #424
#318

[2019-07-08 20:13] ryanjbaxter commented on #417
I dont see federating services across clusters as being a concern of Spring Cloud K8S, that seems more like a platform concern.

[2019-07-08 20:13] #417 closed

[2019-07-12 10:52] vjey commented on #423
Hi,
sorry, but i can't provide reproducer project because it's a commercial project.

Full stack trace:

D:\Soft\java\jdk1.8.0_171x64\bin\java.exe -agentlib:jdwp=transport=dt_socket,address=127.0.0.1:64235,suspend=y,server=n -XX:TieredStopAtLevel=1 -noverify "-Dspring.profiles.active=local, local-secret" -Dspring.output.ansi.enabled=always -Dcom.sun.management.jmxremote -Dspring.jmx.enabled=true -

[2019-07-12 11:05] geoand commented on #423
Hi, can you maybe show us what your pom looks like?

[2019-07-12 13:31] spencergibb commented on #423
A sample project should be minimal anyway, not the full project.

[2019-07-12 23:16] vjey commented on #423
I will try to prepare the sample project with all dependencies on Monday, 15.07.2019.

BR,
Iurii Vaiserov,
Solution Architect

[2019-07-15 08:45] juliabenatti commented on #214
Hi team,
I have a similar case that it's expected to have a few Config Maps, one for each microservice and an API gateway that is responsible to read these routes in these files.
It would be great to be able to read the Config Maps by **label** dynamically, so the application can keep listening for new Config Maps and changes in the current ones.
Is there any plan for this feature?

[2019-07-18 20:43] #389 closed

[2019-07-19 00:03] melonicecream opened #427 "`No reload will take place` issue with jasypt-spring-boot-starter-2.0.0"
Hello.
When ConfigMap change detected, logged always `... No reload ...`.
(event, polling both happened)
i think cause i am using the property encryption library, jasypt.
non jasypt used `CompositePropertySource` from `environment.getPropertySources()`, but with jasypt used `EncryptableEnumerablePropertySourceWrapper`.

`EncryptableEnumerablePropertySourceWrapper` is not instance of `CompositeProp

[2019-07-19 00:06] ryanjbaxter commented on #427
Can you provide a [complete, minimal, verifiable sample](https://stackoverflow.com/help/mcve) that reproduces the problem? It should be available as a GitHub (or similar) project or attached to this issue as a zip file.

[2019-07-19 00:08] spencergibb commented on #427
I'm a bit unsure what you are asking? We don't maintain jasypt. Is there an exception happening?

[2019-07-19 02:18] Incarnation-p-lee opened #428 "Enable DiscoveryClient from all namespaces based on property opt in"
As we know, the package
[code]
will discovery all services from k8s, and we can configure the namespace from property
[code]

But how can I discovery services from all namespace ?

[2019-07-19 06:35] geoand commented on #428
Hi,

You could define a custom `KubernetesClientServicesFunction` bean that would look something like this:

[code]

[2019-07-19 07:07] Incarnation-p-lee commented on #428
Thanks a lot. but what is this `client` here?

[2019-07-19 07:08] geoand commented on #428
Good catch! I updated the answer

[2019-07-19 07:24] Incarnation-p-lee commented on #428
seems need add `@Primary` for this bean, let me have a try again,

[2019-07-19 07:34] Incarnation-p-lee commented on #428
seems not working, I cannot see any service now.

[2019-07-19 07:50] Incarnation-p-lee commented on #428
looks some error like
`The bean 'servicesFunction', defined in class path resource [org/springframework/cloud/kubernetes/discovery/KubernetesDiscoveryClientAutoConfiguration.class], could not be registered. A bean with that name has already been defined in class path resource [com/microsoft/azure/spring/service/config/CloudGatewayConfiguration.class] and overriding is disabled.`

[2019-07-19 08:10] geoand commented on #428
Can you then add `@Primary`?

The reason I ask to check the above configuration is because that is essentially what happens by default. If you add it and continue to see no services then there is something else going on

[2019-07-19 08:16] Incarnation-p-lee commented on #428
Yes, I added `@Primary`, it looks that bean added `@Primary` too.

[2019-07-19 08:49] AndreasKl opened #429 "KubernetesHealthIndicator fails on preemptible VMs on GCloud and does not recover"
On our development environment the `KubernetesHealthIndicator` fails with `{kubernetes=DOWN {inside=true, namespace=default, podName=ffp-cloud-gateway-rest-tenant-764c8c7d7b-s62c2, error=java.lang.IllegalArgumentException: Value must not be null}` and does not recover.

This is most likely due to passing a null value into `withDetail`.

In addition I was not able to deactivate the `KubernetesHealt

[2019-07-19 09:06] geoand commented on #429
Hi,

Very interesting, would it possible for you to provide some debug logs from when the application starts so we can understand why the error message is being generated?

[2019-07-19 09:30] AndreasKl commented on #429
@geoand I added exception logging to the `KubernetesHealthIndicator` and will post the output asap.

[2019-07-20 01:17] spring-issuemaster commented on #423
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-07-20 07:45] Incarnation-p-lee opened #431 "Kubernetes Discovery Client Catalog watch not enabled"
Is there any way to learn what is the interval time of Discovery client heartbeat ? As well as how to configure it.

[2019-07-21 07:37] Incarnation-p-lee commented on #431
After some investigation, it looks that the catalogWatch with `@Scheduled` is not working due to there is
not `@EnableScheduling` from DiscoveryClient AutoConfiguration. Could you please help to confirm this issue ? And then I can file one PR for this.

As well as related [issue](https://github.com/spring-cloud/spring-cloud-gateway/issues/1182) from spring cloud gateway.

https://github.com/spring

[2019-07-22 14:24] ryanjbaxter commented on #431
From the docs

Duplicates #385

[2019-07-22 14:24] #431 closed

[2019-07-22 14:39] ryanjbaxter commented on #428
@Incarnation-p-lee can you open an issue so we can update the `servicesFunction` bean name to be more specific, it is too generic (obviously).

I think this would be a nice enhancement that we could add so based on a property we create the bean for you.

[2019-07-22 14:41] Incarnation-p-lee commented on #431
So the default behavior is different with eureka discovery client, right ? It is by design or some reason backend ?

[2019-07-22 14:46] Incarnation-p-lee commented on #428
how about `Support kubernetes discovery client discovery services from all namespace` as feature request ?

[2019-07-22 15:00] ryanjbaxter opened #432 "Spring Cloud K8S Build Fails With JDK 11"
[code]

[2019-07-22 15:01] spencergibb commented on #428
This issue has been marked as an enhancement.

[2019-07-22 15:26] geoand commented on #432
Ah yes, we'll need to exclude the that "dependency"

[2019-07-22 15:33] spencergibb commented on #432
@geoand which one it is and where is it pulled in? :-)

[2019-07-22 15:36] geoand commented on #432
I am pretty sure it's a transitive of the kubernetes-client.

Not at my machine now, but I can take a look tomorrow. Otherwise @iocanel would definitely know exactly where to look

[2019-07-22 23:47] ryanjbaxter commented on #431
It is an implementation detail

[2019-07-23 00:46] Incarnation-p-lee commented on #431
OK. I see. Thanks a lot.

[2019-07-23 10:46] AndreasKl commented on #429
I see the following stacktrace:
[code]

[2019-07-23 10:54] #432 closed

[2019-07-23 11:20] geoand commented on #429
Thanks for the info!

Unfortunately I don't think there is anything we can do on our end... It looks like you will have to manually do some null checking and only include the field when it's non null

[2019-07-23 11:36] AndreasKl commented on #429
@geoand Maybe it could be considered a bug that the http call is only issued on application start and never updated, rendering the health check pretty useless.

[2019-07-23 11:45] geoand commented on #429
That makes sense, but then again I don't know if Spring Cloud that in general... @ryanjbaxter, @spencergibb ?

[2019-07-23 19:17] spencergibb commented on #429
There's no reason that can't be reworked to try again during certain conditions.

[2019-07-24 20:30] ryanjbaxter commented on #214
@juliabenatti we have no plans at the moment, if you would like though you can certainly take a stab at it and submit a PR.  That is always welcome!

[2019-07-26 08:22] hrabosch commented on #423
I was facing same issue. **Problem was using Spring Boot 2.0.x**. After upgrading Spring Boot to 2.1.x, everything works fine.

[2019-07-26 13:44] ryanjbaxter commented on #423
I will close this for now, if it is still a problem then please comment

[2019-07-26 13:44] #423 closed

[2019-07-27 15:47] toyangdon opened #438 "Can KubernetesCatalogWatch be able to watch k8s endpoint events between list () gaps?"
Such as the mechanism of Reflector in k8s client-go,Periodic execution of ListerWatcher, Lister can get all the endpoints, Watcher can get the increment of endpoints(changes).
In this way, endpoint changes can be updated in real time.

[2019-07-28 13:31] TYsewyn commented on #438
I'm not sure if I fully understand your question but if you're asking if `KubernetesCatalogWatch` can be used to get notified if an endpoint has changed than the answer is yes, because it already does that. The `KubernetesCatalogWatch` will retrieve the endpoints and its subsets and will send out an event in case something has changed since the last time it checked the endpoints/subsets.
It will d

[2019-07-28 16:23] toyangdon commented on #438
Kube Apiserver provides a watch interface, a way of long connection, by which the server pushes endpoint changes.
Is it possible to use this mechanism:
First, get all  endpoints from apiserver , then call the watch interface to establish a long connection, and get the incremental change of endpoint in real time. At the same time, get  all endpoints from apiserver every 5 minutes for synchronizatio

[2019-07-29 15:52] deveth0 opened #439 "Replace `cluster-reader` with custom role/rolebinding"
Hi all,

The "official" Readme recommends to add the default user to the cluster reader role to afet the required permissions for pod, configmap etc lookup.
As far as I can see, this might be OK for development, but as soon as more than one projects runs in the same cluster, this prevents any isolation and might bring security issues.
Therefor I think that it would be helpful to remove this recomm

[2019-07-29 16:12] geoand commented on #439
@deveth0 I like the idea. Would you like to submit a PR?

Note that the content of the README is created by the adoc files in `docs`

[2019-07-29 16:14] deveth0 commented on #439
Would be a pleasure :)

If possible, I'd like to collect some feedback here first so that I don't need to do the PR multiple times till everybody is happy ;)

[2019-07-29 16:19] geoand commented on #439
:+1:

cc @iocanel @spencergibb @ryanjbaxter @salaboy

[2019-07-29 19:39] TYsewyn commented on #439
You might want to take a look at this: http://ordina-jworks.github.io/microservices-dashboard/#setup-service-discovery-kubernetes.

[2019-07-30 19:18] spring-issuemaster commented on #429
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-07-31 12:07] anavidad3 opened #441 "ConfigMapPropertySource can't read configMap. Retry Policy?"
Related with this Issue #400

Could a retry policy be sense to read ConfigMap?

We work with:
spring-cloud-starter-kubernetes-config 1.0.2.RELEASE version.
gke cluster 1.12.8-gke.10 version.

We have a microservice(MS) where we read a configMap. **Most of the time the configmap load is successful** but sometimes a warning message like this appears:

`2019-07-30 10:18:52,184 [main]WARN  org.springf

[2019-08-01 01:59] damon008 opened #442 "about serviceAccount for configmap"
Hi, about serviceAccount, I want to ask how to use configmap if the env of k8s not contains serviceAccount?

[2019-08-01 02:19] damon008 opened #443 "springcloud-k8s-config"
about springcloud-k8s-config, configmap only use bootstrap.yml or bootstrap.properties,application.yml or application.properties not can?

[2019-08-01 06:30] geoand commented on #442
Hi,

ServiceAccount does not have anything to do with env vars. I propose you read the Kubernetes documentation which although large, does a great job at making all the concepts clear

[2019-08-01 08:41] damon008 commented on #442
@geoand how to understand this:
--
You should check the security configuration section. To access config maps from inside a pod you need to have the correct Kubernetes service accounts, roles and role bindings.
--

[2019-08-01 08:47] geoand commented on #442
The Kubernetes security fundamentals can be a little daunting, but TBH, one really needs to go through the docs and understand the fundamentals. There is just know way around that - same as any other complex system 🙂

[2019-08-01 08:52] damon008 commented on #442
@geoand  cloud not understand what you say.what you say is not I want

[2019-08-01 08:59] geoand commented on #442
My point is that you really need to understand the Kubernetes Security primitives first

[2019-08-01 22:56] davidkarlsen opened #445 "configMap lists won't work"
I have `application.yaml` like:
[code]
but the CM is never attempted loaded.
The serviceaccount has cluster-admin rolebinding.

Using version: 1.0.2.RELEASE

Log:
[code]

[2019-08-01 23:41] davidkarlsen commented on #445
I've debugged a bit more, and the `sources` are never get in order to be set values on. Shouldn't this class be `@Configurable` in order for this to work?

[2019-08-02 06:14] damon008 commented on #442
Our k8s server env: server: http://10.10.1.5:8080，not set ServiceAccount, so depend spring-cloud-starter-kubernetes-config, one error:
...
2019-08-02 05:40:13.369  WARN 1 --- [           main] io.fabric8.kubernetes.client.Config      : Error reading service account token from: [/var/run/secrets/kubernetes.io/serviceaccount/token]. Ignoring.
'''

[2019-08-02 07:23] damon008 commented on #443
How to solve this log error:
Error reading service account token from: [/var/run/secrets/kubernetes.io/serviceaccount/token]. Ignoring.

[2019-08-02 07:24] damon008 commented on #442
How to solve ?
2019-08-02 05:40:13.369 WARN 1 --- [ main] io.fabric8.kubernetes.client.Config : Error reading service account token from: [/var/run/secrets/kubernetes.io/serviceaccount/token]. Ignoring.

[2019-08-02 07:31] geoand commented on #442
If that happens when you run locally, then it's not a problem. It's basically saying that it didn't find the Service Account token in the expected location - which will obviously happpen if you are running locally and not in a proper Kubernetes cluster

[2019-08-02 07:35] damon008 commented on #442
it's not a problem？
then, how to get config infos from configmap?
Do you know what I mean?
...

2019-08-02 07:27:43.313  WARN 1 --- [           main] io.fabric8.kubernetes.client.Config      : Error reading service account token from: [/var/run/secrets/kubernetes.io/serviceaccount/token]. Ignoring.
2019-08-02 07:27:43.315  WARN 1 --- [           main] io.fabric8.kubernetes.client.Config      : Err

[2019-08-02 07:36] damon008 commented on #442
@geoand get null ,You know?

[2019-08-02 07:38] damon008 commented on #442
@geoand  How to solve this for I can get some msg, not null from configmap?

[2019-08-02 07:39] damon008 commented on #442
2019-08-02 07:27:43.546 WARN 1 --- [ main] o.s.c.k.config.ConfigMapPropertySource : Can't read configMap with name: [springcloudk8sconfigdemo] in namespace:[null]. Ignoring

[2019-08-02 07:50] geoand commented on #442
I suggest you take a look at:

https://github.com/spring-cloud/spring-cloud-kubernetes/tree/master/spring-cloud-kubernetes-integration-tests/simple-configmap

and

https://github.com/spring-cloud/spring-cloud-kubernetes/tree/master/spring-cloud-kubernetes-examples/kubernetes-reload-example

[2019-08-02 08:09] damon008 commented on #442
@geoand  Because of our k8s cluster  env maybe not same,whether or not be useful what you say?

[2019-08-02 08:15] geoand commented on #442
It's hard to tell with the given information. I suggest that you take it step by step following the two small examples I added above

[2019-08-02 08:19] damon008 commented on #442
My configmap :
kind: ConfigMap
apiVersion: v1
metadata:
  name: springcloudk8sconfigdemo
data:
  application.yml: |-
    greeting:
      message: Say Hello to the World
    farewell:
      message: Say Goodbye
    ---
    spring:
      profiles: dev
    greeting:
      message: Say Hello to the Developers
    farewell:
      message: Say Goodbye to the Developers
    ---
    spring:
      profiles

[2019-08-02 08:54] damon008 commented on #442
@geoand  Do you know what is the reason of my configmap not be found? I feel what you provided can not solve my question.

[2019-08-02 08:56] geoand commented on #442
I do not, sorry.
I suggest to remove the profiles, get it to work that way and move from there

[2019-08-02 08:58] damon008 commented on #442
What you provided:
https://github.com/spring-cloud/spring-cloud-kubernetes/blob/master/spring-cloud-kubernetes-integration-tests/simple-configmap/src/main/fabric8/deployment.yml

I can not understand this ,why,and this test can be useful?

[2019-08-02 09:00] damon008 commented on #442
My log:
2019-08-02 08:59:01.698  WARN 1 --- [pool-1-thread-1] o.s.c.k.config.ConfigMapPropertySource   : Can't read configMap with name: [springcloudk8sconfigdemo] in namespace:[null]. Ignoring
2019-08-02 08:59:06.715  WARN 1 --- [pool-1-thread-1] o.s.c.k.config.ConfigMapPropertySource   : Can't read configMap with name: [springcloudk8sconfigdemo] in namespace:[null]. Ignoring
2019-08-02 08:59:11.

[2019-08-02 09:05] damon008 commented on #442
And these:
![image](https://user-images.githubusercontent.com/25023599/62358534-7f074880-b547-11e9-8bc8-b595db92fb97.png),
In our k8s cluster,not have Service Account，so:
role ，rb，sa should have?

[2019-08-02 09:12] damon008 commented on #442
I think the reason for Failure to Get Configuration Information is this:
Error reading service account token from: [/var/run/secrets/kubernetes.io/serviceaccount/token]. Ignoring.
what you think?@geoand
why Can't read configMap with name: [springcloudk8sconfigdemo] in namespace:[null]. Ignoring?

[2019-08-02 09:15] damon008 commented on #442
@geoand  Can you show the Test for a complete Demo？contains deployment.yml,bootstrap.yml and so on.

[2019-08-02 09:24] geoand commented on #442
The integration test https://github.com/spring-cloud/spring-cloud-kubernetes/blob/master/spring-cloud-kubernetes-integration-tests/simple-configmap/ has complete scenario that is used as an integration test.

application.yml is [here](https://github.com/spring-cloud/spring-cloud-kubernetes/tree/master/spring-cloud-kubernetes-integration-tests/simple-configmap/src/main/resources/application.yml), b

[2019-08-02 09:27] damon008 commented on #442
sa.yml and role.yml and so on ,Does need these?

[2019-08-02 09:29] damon008 commented on #442
@geoand
I try what you provided, show my logs :
My configmap name is springcloudk8sconfigdemo
Error reading service account token from: [/var/run/secrets/kubernetes.io/serviceaccount/token]. Ignoring.
Can't read configMap with name: [springcloudk8sconfigdemo] in namespace:[null]. Ignoring

[2019-08-02 09:33] geoand commented on #442
`sa.yaml` and `role.yaml` are not provided in the integration test (they are not needed since the user is an admin user).

You need to make sure that the ServiceAccount that is being used to run the application can `view` ConfigMaps, see [this](https://github.com/spring-cloud/spring-cloud-kubernetes#security-configurations-inside-kubernetes).

[2019-08-02 09:35] damon008 commented on #442
your means is : the ServiceAccount must have and must access SA to get configmap infos?

[2019-08-02 09:40] geoand commented on #442
SA is the ServiceAccount :)

Like I said before, I strongly believe one needs to understand the basic Kubernetes RBAC concepts before working with this kind of thing.

[2019-08-02 09:42] damon008 commented on #442
@geoand
Your means is:
 the basic Kubernetes RBAC must have?

[2019-08-02 09:47] damon008 commented on #442
@geoand
I create a SA，name is config-reader，but SECRETS is null , how to make it easy to solve the question of gettting configmap
NAME                  SECRETS   AGE
config-reader         0         1d
default               0         2d
frameworkcontroller   0         2d

[2019-08-02 09:50] geoand commented on #442
I don't feel that this session is being very productive.
Please read the Kubernetes docs on how RBAC is handled on the platform in general and also the docs of this project that explain what RBAC concepts are relevant.
I am confident that once you have done that and have grokked everything that is going on, you'll be able to fix your issue without much hassle

[2019-08-02 13:37] davidkarlsen commented on #443
you need to deploy the pod so that it mounts service account tokens

[2019-08-02 18:01] pnkjsmwl commented on #160
Hi, does it work on Kubernetes version 1.12.9 ?

[2019-08-05 14:09] ryanjbaxter commented on #445
Can you provide a [complete, minimal, verifiable sample](https://stackoverflow.com/help/mcve) that reproduces the problem? It should be available as a GitHub (or similar) project or attached to this issue as a zip file.

[2019-08-05 14:11] #442 closed

[2019-08-05 14:15] ryanjbaxter commented on #441
I am in favor of this, it would be awesome if you wanted to try and submit a PR for it

[2019-08-05 14:20] ryanjbaxter commented on #439
Sounds good to me

[2019-08-06 19:19] spring-issuemaster commented on #429
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-08-06 19:19] #429 closed

[2019-08-07 16:42] anavidad3 commented on #441
Yes, sure!
I'm going to perform some tests and submit a PR.

[2019-08-08 14:16] x-fauzan-x opened #447 "Multiple Properties In One ConfigMap"
Can i use the same configmap for multiple properties files ?
like this

`apiVersion: v1
kind: ConfigMap
metadata:
  name: MS_NAME.sentry.properties
  namespace: default
data:
  application.properties: |-
  sentry.properties: |-
`

Or I must create a configmap for every properties like on readme toturial ?

[2019-08-08 19:00] salaboy commented on #439
Yes, I am happy with that as well.
In general, ClusterRole and ClusterRoleBinding are too broad.. can we just recommend Role and RoleBindings?

[2019-08-08 19:09] deveth0 commented on #439
Yeah, that's what I'd suggest (see above).

[2019-08-08 19:32] TYsewyn commented on #439
It might depend. If you have a company wide config server on Kubernetes where they use namespaces to divide bounded contexts, you will want to have that `ClusterRoleBinding`.
I've seen that setup being used a couple of times.

[2019-08-09 15:30] cydergoth opened #449 "Health indicator should support being disabled"
Health indicator bean for actuator is missing the annotation

`@ConditionalOnEnabledHealthIndicator("your-health")
`
so can't be disabled in scenarios where we don't need it.

See : https://github.com/spring-cloud/spring-cloud-kubernetes/blob/master/spring-cloud-kubernetes-core/src/main/java/org/springframework/cloud/kubernetes/KubernetesAutoConfiguration.java#L160

[2019-08-09 15:47] spencergibb commented on #449
PRs welcome. The value in the annotation isn't needed by default.

[2019-08-09 15:47] cydergoth commented on #449
As a workaround you can use this in your application bootstrap class:

[code]

[2019-08-09 18:57] eddumelendez commented on #449
I can take this issue :)

[2019-08-12 10:19] deveth0 commented on #439
I created a PR, please have a look. I hope this is sufficient? Cheers

[2019-08-12 14:14] spring-issuemaster commented on #445
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-08-12 14:14] spring-issuemaster commented on #443
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-08-12 14:21] TYsewyn commented on #447
Have you tried it? Do you have some issues with that configuration?

[2019-08-14 12:49] 13567436138 opened #452 "how to debug service when it is running out of k8s cluster"
can i debug application locally like normal  java applications

[2019-08-14 14:32] ryanjbaxter commented on #452
The best tool I have found for debugging is Telepresence.  https://www.telepresence.io/discussion/overview

[2019-08-14 14:32] #452 closed

[2019-08-14 15:06] ryanjbaxter commented on #439
Closed via https://github.com/spring-cloud/spring-cloud-kubernetes/commit/13ac9a2e9e50223c21d24b0582529d6289659a92

[2019-08-14 15:06] #439 closed

[2019-08-15 06:01] 13567436138 commented on #452
thanks a lot

[2019-08-15 12:27] wexxwebb opened #453 "No qualifying bean of type 'org.springframework.cloud.context.restart.RestartEndpoint'"
Hello, dear friends!
I have a problem with spring-cloud-kubernates-config, when I write dependencies:

       <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-configuration-processor</artifactId>
            <optional>true</optional>
        </dependency>

        <dependency>
            <groupId>org.springframework.cloud</groupId>

[2019-08-15 14:49] ryanjbaxter commented on #428
Closed via 702c7b2

[2019-08-15 14:49] #428 closed

[2019-08-15 14:55] ryanjbaxter commented on #453
Can you please use the Spring Boot and Spring Cloud BOMs and try again?

[2019-08-19 11:59] iscra commented on #327
Hello,
I have just tracked my issue to the same problem here and went through all the associated comments. Yes, I have seen the notice in README, but interpreted it differently, as in "recursive is off" would mean subdirectories are not parsed, just the top one.

The issue is "spring.cloud.kubernetes.config.paths" must now have only files, never directories.

This is very inconsistent with how sec

[2019-08-19 12:11] geoand commented on #327
Hello,

What you describe was intentionally removed as an option.
It was removed because discovering files that maybe configuration files in arbitrary depths can make things very unpredictable.
I don't remember why it hasn't been done for secrets yet, but the comments in the issues /PRs should provide an answer.

[2019-08-19 14:12] spring-issuemaster commented on #445
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-08-19 14:12] #445 closed

[2019-08-19 14:12] spring-issuemaster commented on #443
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-08-19 14:12] #443 closed

[2019-08-19 14:22] spring-issuemaster commented on #447
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-08-21 14:33] x-fauzan-x commented on #447
It worked actually . I 'm asking just to make sure, because it's not on the readme page

[2019-08-22 14:58] spring-issuemaster commented on #453
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-08-27 19:49] #449 closed

[2019-08-28 15:32] #438 closed

[2019-08-29 07:09] jast90 opened #457 "io.fabric8.kubernetes.client.KubernetesClientException"
My code in [gitlab](https://gitlab.com/jast90/spring-cloud-k8s/)，and I run on minikube in my windows desktop, I get follow error
[code]

[2019-08-29 07:11] geoand commented on #457
Hi,

I think the error message is pretty clear on what the problem is, no?

[2019-08-29 07:59] jast90 commented on #457
Sorry ! I am new to kubernetes, I tried to fix it。

[2019-08-29 07:59] #457 closed

[2019-08-29 08:02] geoand commented on #457
No problem :)

[2019-08-29 08:36] jast90 commented on #457
[reference](https://medium.com/@nieldw/rbac-and-spring-cloud-kubernetes-847dd0f245e4)

[2019-08-29 14:58] spring-issuemaster commented on #453
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-08-29 14:58] #453 closed

[2019-09-02 11:33] timtebeek opened #458 "Discovery on all namespaces leads to NullPointerException on service"
For a bit of backstory: I'm trying out the new `spring.cloud.kubernetes.discovery.all-namespaces=true` to retrieve service instances on all namespaces within a single instance of Spring Boot Admin. This seems to work fine if, and only if, all matching services are deployed to all namespaces. If any service is missing on any namespace, I get the following stacktrace:

[code]

Tracing through the co

[2019-09-03 15:45] #354 closed

[2019-09-03 18:18] Haybu commented on #458
did you try to set KUBERNETES_NAMESPACE=default (or whatever the default ns) as env variable, or set `spring.cloud.kubenetes.client.namespace=default` as a property?

[2019-09-03 23:44] #252 closed

[2019-09-04 02:45] jast90 opened #459 "Is reload only work on `ConfigurationProperties`?"
I have a properties named `oauth-server` ,I use it by another properties in my `application.properties` ,finally I use it in my java code by `@Value` .I change the kubernetes config map, the change not reload.Is reload only work on `ConfigurationProperties`?

[2019-09-04 03:28] spencergibb commented on #459
`@Value` doesn't get updated automatically. Mark the bean `@RefreshScope` or use `@ConfigurationProperties`.

[2019-09-04 06:15] shinji3887 opened #460 "ribbon connot find new services added into k8s"
I use spring-cloud-kubernetes with zuul as an api-gateway in my kubernetes cluster. And my problem is that when a new service added into cluster, zuul cannot route it correctly and the response is 404. When I kill the zuul pod and let it restart, everything works good. Is there any mistake with me? Here is my configration:
[code]
[code]

[2019-09-04 07:19] timtebeek commented on #458
Thanks for the suggestion; while that helps a bit for applications that are deployed to the configured default namespace, I still get the NPE for applications not deployed to the default namespace, but only to another namespace.

[2019-09-04 08:10] jast90 commented on #459
Thank you for your reply，I should read more reference

[2019-09-04 08:10] #459 closed

[2019-09-04 23:07] scothis opened #461 "Strongly discourage applications from talking to the Kubernetes API Server"
Spring Cloud Kubernetes encourages applications to talk directly to the Kubernetes API Server to get ConfigMap/Secret values and resolve Services. This is an anti-pattern that should be discouraged.

1. An application that needs to talk to the API service is unnecessarily coupled to Kubernetes violating Inversion of Control.
2. The API Server is a control plane and is not designed to scale out alo

[2019-09-05 05:52] everflux opened #462 "Volume mount prevents refreshing configuration properties"
I have a simple spring boot application and provide two config maps using a volume mount (paths) and the config API access (config sources).
As soon as a `paths` is configured, the application will not refresh after a change of the config map. The config map values are updated in the volume, but the refresh does not take place. Using the refresh endpoint solves this, but needs to be done manually.

[2019-09-05 05:57] everflux commented on #461
Just a remark: The usage of secrets and configmaps through volume mounts is supported by spring-cloud-kubernetes, that is what the `paths` configuration is for.

[2019-09-05 12:19] markfisher commented on #462
can you list your `spring.cloud.kubernetes.*` properties?

[2019-09-05 19:56] everflux commented on #462
See content of 'bootstrap.yaml' above (sorry, indentation is wrong in the ticket)

[2019-09-05 21:09] markfisher commented on #462
`spring.cloud.kubernetes.reload.enabled` is false by default

[2019-09-06 06:23] everflux commented on #462
I am terribly sorry, indeed my bootstrap.yml was incomplete (due to experiments to triage the issue)
This is the correct bootstrap.yaml:

[code]

and my application.yaml (since I read in another issue that the refresh endpoint must be enabled)
[code]

As soon as the commented "paths" gets enabled the refresh no longer works, no matter if I use the kubernetes watch API or polling mode. Disabling th

[2019-09-09 14:27] ryanjbaxter opened #463 "Update docs to use absolute urls using asciidoc attributes"
See https://github.com/spring-cloud/spring-cloud-openfeign/issues/218

[2019-09-09 14:48] fmonorchio opened #464 "Missing 'spring-boot-configuration-processor' dependency on Spring Cloud Kubernetes Discovery"
I have notice that the discovery module doesn't have the configuration processor dependency for IDE autocomplete on KubernetesDiscoveryProperties.

[2019-09-09 14:49] geoand commented on #464
Hi,

Would you like to contribute a fix for the issue?

Thanks

[2019-09-10 15:26] #463 closed

[2019-09-10 17:22] michaelmcfadyen opened #465 "DiscoveryClient allNamespaces Property Not Used When Querying Services"
This relates to #428 .

There was a change made to configure the discovery client to search across all namespaces based on a property. Inside `KubernetesDiscoveryClient,getInstances` the method call which queries the endpoints was updated to use this new property
[code]

However, the same change was not applied later in the same method when the services are queried.
The current code is:
[code]

As

[2019-09-10 19:10] geoand commented on #465
Hi,

Would you like to a submit a pull request with your proposed fix?

[2019-09-11 14:33] spencergibb commented on #461
See https://github.com/spring-cloud/spring-cloud-commons/issues/604 for srv record integration

[2019-09-11 14:39] spencergibb commented on #190
Blocked by https://github.com/spring-cloud/spring-cloud-commons/issues/605

[2019-09-11 14:40] spencergibb commented on #461
See #190 for watching volume mount

[2019-09-11 14:41] spencergibb commented on #461
Let's use this issue to inform users of when it is appropriate to use the api (Spring Cloud Gateway for example)

[2019-09-11 15:12] Haybu commented on #458
you can set `KUBERNETES_NAMESPACE` or `spring.cloud.kubenetes.client.namespace` whatever that other namespace.

[2019-09-13 09:23] michaelmcfadyen commented on #458
yes, this is the same issue I encountered with #465.

[2019-09-13 09:39] timtebeek commented on #458
@michaelmcfadyen thanks for confirming and exploring I'm more depth in your ticket.. guess that makes this a duplicate that we can close while we wait for the other ticket to be resolved.

[2019-09-13 14:21] #458 closed

[2019-09-16 14:52] spring-issuemaster commented on #464
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-09-16 15:09] spencergibb commented on #460
Can you set `logging.level.org.springframework.cloud.kubernetes.discovery=TRACE`. You should see a message that starts with:
[code]
Also, does sending a post to `/actuator/refresh` help?

[2019-09-16 16:46] fmonorchio commented on #464
Sorry for the late reply.
Sure. I'll try to fix the problem.

[2019-09-17 12:04] michaelmcfadyen commented on #465
Tested out 1.0.4-BUILD-SNAPSHOT and everything is working as expected. Good work!

[2019-09-18 00:16] ryanjbaxter commented on #464
closed via 99c6969

[2019-09-18 00:16] #464 closed

[2019-09-18 08:40] fehmer commented on #460
Last time i checked you need to specify `@EnableScheduling` in your configuration.
There was a bug ticket for that and as far as I remember the solution was to add this into the documentation.

[2019-09-18 20:52] ryanjbaxter commented on #465
Fixed via d9bad61

[2019-09-18 20:52] #465 closed

[2019-09-19 04:55] Haybu commented on #462
Current implementation triggers a reload event once a configmap is updated. However, this event occurs soon before the new configmap content is projected into the mounted volume.

The implementation currently compares config sources in the current state of the environment against the content located from the mounted volume path (while not updated yet).

Refer to the update mounted configmap delay

[2019-09-19 04:59] geoand commented on #462
Doesn't the current implementation only apply to reading the configmap for the API and not the file system?

[2019-09-19 07:45] damon008 opened #469 "refresh config for dynamic"
Do you provide a method to refresh configMap for dynamic without reboot app?

[2019-09-19 07:48] geoand commented on #469
Is should be covered in the README: https://github.com/spring-cloud/spring-cloud-kubernetes#53-propertysource-reload

[2019-09-19 07:52] damon008 commented on #469
Does it work at once?

[2019-09-19 07:57] geoand commented on #469
What do you mean `at once`?

[2019-09-19 08:48] everflux commented on #462
Even if there is some problem with the config map volume update, it should not prevent updating the API based configuration imho.

[2019-09-19 09:29] damon008 commented on #469
Get the latest config immediately when happens.

[2019-09-19 09:31] geoand commented on #469
There are a couple strategies available. One is polling from the app itself and one is getting updates when the API server. The latter would be really quick under normal circumstances

[2019-09-19 09:31] damon008 commented on #469
do not reboot app or wait for sometime

[2019-09-19 09:33] geoand commented on #469
The Spring context refresh will take some time of course, but it shouldn't be long unless you have a very large application

[2019-09-19 09:34] damon008 commented on #469
how to set up strategies

[2019-09-19 09:35] damon008 commented on #469
I want to get latest config when update without reboot app and need not wait.

[2019-09-19 09:54] geoand commented on #469
All the information is in the README I linked. You can also see an example here: https://github.com/spring-cloud/spring-cloud-kubernetes/blob/master/spring-cloud-kubernetes-integration-tests/simple-configmap/src/main/resources/bootstrap.yaml

[2019-09-19 11:52] markfisher commented on #462
even though it's technically separate from this issue, once https://github.com/spring-cloud/spring-cloud-commons/issues/605 and/or https://github.com/spring-cloud/spring-cloud-config/issues/1439 is available, that would allow application config to be updated in an eventually consistent manner while relying on standard Kubernetes ConfigMap volume mounting (no api access from the app)

[2019-09-19 13:00] Haybu commented on #462
yes @geoand, the current implementation uses API to apply reading configmaps directly but not their projected contents from mounted volumes.

@markfisher, that would be an awesome enhancement, it would help with this case to watch the projected files and eventually refresh configs.

[2019-09-25 17:04] spencergibb commented on #231
See https://github.com/buildpack/rfcs/blob/master/text/0012-service-binding.md#structure for potential structure.

[2019-09-26 08:03] shinji3887 commented on #460
thx @fehmer ,after add the `@EnableScheduling` everything works well! Also sending a post to `/actuator/refresh` works. But I think we cannot do the `/actuator/refresh` everytime we publish the service. I think ribbon uses a `@Scheduled` annotation to refresh the list of endpoints and `@EnableScheduling` makes the schedule work. Is it a bug or just we should specify this  in our configuration?

[2019-09-26 12:42] TYsewyn commented on #163
@geoand I think we can close this issue since #448 has been merged?

[2019-09-26 12:44] geoand commented on #163
@TYsewyn makes sense! Go for it :)

[2019-09-26 12:57] PatrickHuetter commented on #163
I didn't have time to test it but what if the pod has now access rights to access a namespace? Does the service discovery fail or does the protected namespace get skipped after logging it and service discovery will work for the namespaces that could be retrieved? In normal sized k8s clusters you always have namespaces that are protected, for example some system namespaces or different project name

[2019-09-26 13:15] TYsewyn commented on #163
AFAIK the kubernetes client will send a `GET` request to `/api/v1/endpoints` with request parameters to retrieve all the endpoints across all namespaces. If the service account being used doesn't have access to a specific namespace then that one will be filtered out.
Those are my assumptions though, this needs to be verified.

[2019-10-01 10:22] iocanel opened #471 "Check that we don't close watches unless we really need to."
Users reported this:

https://github.com/fabric8io/kubernetes-client/issues/1602

This is probably an issue in the user code itself or in `sck`.

Let's make sure that we properly handle `Watch` instances and we never close() them while the application is running.

[2019-10-05 00:03] claitonp opened #472 "DiscoveryClient watch the service catalog for changes and update does not work correctly, when all-namespaces: true"
DiscoveryClient watch the service catalog for changes and update.

This current code returns only the endpoints of the current namespace.
`List<Endpoints> endpoints = client.endpoints().list().getItems(); `

To return all endpoints according to filters and labels, when using all-namespaces: true, use the code below:
[code]

spring-cloud-kubernetes
version:1.0.4.BUILD-SNAPSHOT
[code]

[2019-10-05 00:13] claitonp opened #473 "The problem occurs when you have two or more namespaces, where the service name is the same"
The problem occurs when you have two or more namespaces, where the service name is the same.
Example: service 'price' is in namespaces ns1 and ns2 in the same cluster kubernetes.

xxx-service.yaml
-------------
[code]

yyy-service.yaml
-----------------
[code]
app-discovery.yaml
------------
[code]
In this case, the current code returns the endpoints of both namespaces, which is not expected.
To r

[2019-10-05 00:45] spencergibb commented on #473
Please say what is happening. "Does not work correctly" isn't helpful at all.

[2019-10-05 00:45] spencergibb commented on #472
Please say what is happening. "Does not work correctly" isn't helpful at all.

[2019-10-05 00:58] claitonp commented on #472
In this case, only services / pods where the application namespace is returned. You should return all instances when using the: discovery.all-namespaces option.

[2019-10-05 01:08] claitonp commented on #473
Hi,

When using serviceLabels, it is not filtering correctly:
[code]
To work properly, you must add: .withLabels(serviceLabels)

[2019-10-05 01:14] claitonp commented on #472
when using the: **discovery.all-namespace: true**

To work properly, replace the line below:

` List<Endpoints> endpoints = client.endpoints().list().getItems(); `

**replace to:**

[code]

[2019-10-05 01:46] claitonp commented on #473
In the class KubernetesDiscoveryClient.java , method getInstance(String serviceId).
To work properly you must add the code in bold.

**Map<String, String> serviceLabels = properties.getServiceLabels();**
		List<Endpoints> endpointsList = properties.isAllNamespaces() ?
				client.endpoints().inAnyNamespace().withField("metadata.name", serviceId)**.withLabels(serviceLabels)**.list().getItems()
				:

[2019-10-05 15:31] claitonp commented on #473
Hello, review the beginning of the question again, I made an edit to improve the situation that is occurring.

Thanks.

[2019-10-14 14:21] scizeron opened #474 "ConfigMapPropertySource getData returns an empty hashMap"
Hi,
In my context, I have a spring-boot app using a service account with a specific role (GET my config-map).
Now I have updated my app with spring-cloud-kubernetes from 1.0.1 to 1.0.2 and it fails.
In 1.0.1, the getData method was very straightforward as you can see below :
ConfigMap map = StringUtils.isEmpty(namespace)
					? client.configMaps().withName(name).get()
					: client.configMaps().in

[2019-10-15 18:13] Joshhw opened #475 "spring.cloud.kubernetes.reload.monitoring-secrets not working"
When enabling monitoring-secrets within the bootstrap.yaml the changes to secrets doesn't get reflected in the spring boot app. Here is a [link to a repository](https://github.com/Joshhw/monitoring-secrets-demo) trying to utilize it.

[2019-10-17 13:20] davidkarlsen opened #476 "Spring boot 2.2 support"
Will there be a build based on boot 2.2?

[2019-10-18 15:09] spencergibb opened #477 "Update auto-configuration to use `@Configuration(proxyBeanMethods=false)`"
This is a performance enhancement.

See https://github.com/spring-projects/spring-boot/issues/9068

[2019-10-18 20:16] BarDweller opened #478 "Problems using ConfigMaps/Secrets via PropertySources."
I'm trying to use Volume Mounted configmaps/secrets, but not having much luck.

I'm hoping I've just missed something obvious somewhere.. the example here walks through what I've tried with secrets so far..

I start by enabling secrets, and telling sck where to find them.. I also setup a test property that will attempt to use a value from one of the secrets.

[code]

In my deploy.yaml, I setup the

[2019-10-18 20:18] spencergibb commented on #478
What file did you put `spring.cloud.kubernetes.secrets.*` in?

[2019-10-18 20:21] BarDweller commented on #478
`application.properties`

[2019-10-18 20:27] spencergibb commented on #478
Try putting them in `bootstrap.properties`.

[2019-10-18 20:29] BarDweller commented on #478
Oooh.. that makes *ALL* the difference =)

Every failing test above, now produces the expected output. Feel free to close this Issue, although maybe there's an action here to update the docs to prevent it happening again.. Re-reading them I do see a small reference to bootstrap.properties for them, but it's in the middle of a paragraph, and not really called out that without them being there, the

[2019-10-18 20:38] spencergibb commented on #478
Let's make the docs clearer.

[2019-10-19 18:05] nitishkumar71 opened #479 "gateway is not routing for Spring Cloud Hoxton.M3 release using kubernetes service discovery"
Hello,
I was trying to use spring cloud gateway with kubernetes service discovery on minikube for **Spring Cloud Hoxton.M3**. We are able to get list of all services which are registered in kubernetes using ```DiscoveryClient```. We have created one custom endpoint **<minikube_IP:node_port>/services**, which gives the list of all services, but when we send request for any of the service routes, ga

[2019-10-22 17:16] spencergibb opened #480 "Should we replace fabric8 with https://github.com/kubernetes-client/java?"

[2019-10-22 17:32] iocanel commented on #480
Even though I am no longer actively involved with the fabric8 kubernetes-client, It's still my little baby, so I got to ask why?

[2019-10-22 17:35] spencergibb commented on #480
More of a question really.

[2019-10-22 17:45] spencergibb commented on #480
@iocanel can you give a few sentences to the advantages of the fabric8 one over the official client?

[2019-10-23 11:52] iocanel commented on #480
# why go fabric8

From my point of view the main advantage of the fabric8 kubernetes-client is the DSL which makes it much easier to use.

In additon to the DSL, it offers a mocking framework for the api server, which makes it really easy to write integration tests.

Last but not least, it does provide extensions for things like:

- knative (internal)
- tekton (internal)
- service catalog (interna

[2019-10-23 16:15] trisberg commented on #461
I would suggest setting default to be disabling the `enableApi` for both config and secrets and updating the docs to favor mounting config and secrets as volumes.

Also trying the enable reload for config/secret without accessing the API but haven't been successful yet. I think we need to add a filewatcher on the paths for mounted config/secrets to trigger a reload.

[2019-10-24 13:28] trisberg opened #481 "Add a 'watch-service' option to reload.mode"
It would be nice to have a WatchService keep track of any file changes to config/secret paths that are backed by a volume mount. When file changes are detected it could reload context the same way that 'polling' reload mode works today.

[2019-10-24 22:49] TYsewyn commented on #479
Hi @nitishkumar71! Thanks for creating this issue!
Could you please verify this again with `Hoxton.BUILD-SNAPSHOT` or `Hoxton.RC1`?

Gateway uses the reactive service discovery by default since `2.2.0.M3`, and [this bug](https://github.com/spring-cloud/spring-cloud-commons/issues/617) caused to only take the services (and thus routes) from `application.properties|yml` into account.

[2019-10-25 01:10] nitishkumar71 commented on #479
Hi @TYsewyn
I can confirm this is working with `Hoxton.RC1`. Hence, closing the issue.
Thanks for your efforts.

[2019-10-25 01:10] #479 closed

[2019-10-25 14:48] JKerwood commented on #331
+1

[2019-10-25 21:27] JKerwood commented on #331
My problem was the version of io.fabric8.kubernetes-client.  I needed to upgrade due to the version of my k8s cluster https://github.com/fabric8io/kubernetes-client#compatibility-matrix  After upgrade my watch worked even after needing a reconnect of the socket.

[2019-10-31 14:37] ryanjbaxter commented on #163
Is this not addressed by https://github.com/spring-cloud/spring-cloud-kubernetes/pull/448?

[2019-10-31 17:35] ryanjbaxter opened #482 "Provide A ServiceDiscovery Client that does not use the K8S API server"
To eliminate the need for the application to be able to access the K8S API server we should provide a `ServiceDiscovery` implementation that does not rely on the use of the API.

We could do this by just leveraging the platform service discovery and then fetch the port via a lookup.

Another option would be to implement a service discovery server which exclusively talks to the k8s api server and h

[2019-10-31 17:41] ryanjbaxter commented on #461
We could just mount config maps and secrets to the container using a volume.  Which would eliminate the reliance on the k8s API.

To solve the refresh issue we could implement a piece of infrastructure that would watch for changes to config maps and secrets the app is concerned about, then use something like Spring Cloud Bus to notify the application that something has changed and refresh.  With t

[2019-10-31 19:44] spencergibb commented on #482
There's an open issue in commons for dns/srv discovery client

[2019-11-04 15:35] #469 closed

[2019-11-06 17:05] #477 closed

[2019-11-07 12:29] ojhughes commented on #461
Currently the `core` module sets up an API client. We can move that into a separate module such as `spring-cloud-kubernetes-api-server`. This will allow people who consciously want a nice way of injecting a Kubernetes API client but it will opt-in.

[2019-11-07 14:37] spring-issuemaster commented on #163
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-11-07 15:14] HJK181 opened #483 "kubernetes.client.namespace not honored when using ConfigMap PropertySource and DefaultKubernetesClient"
Given a Service `A1` in namespace `A` and a POD `B1` running in namespace `B` with the following ConfigMap for Pod B1:
[code]

The `DefaultKubernetesClient` uses the namespace where POD B1's ConfigMap is applied instead of the value from `kubernetes.client.namespace` when asked to get all services from `KubernetesDiscoveryClient#getInstances`. The problem is that `ConfigMapConfigProperties#determi

[2019-11-07 16:33] HJK181 commented on #483
Update: Updated my bootrap.yml of Pod B1 the following way:
[code]
And placed the ConfMap in namespace `A`. This does not resolve to problem, so I debugged a bit deeper and found that `io.fabric8.kubernetes.client.Config.tryNamespaceFromPath(Config)` is setting the namespace used in the client. Seams that the value from `application.yml` placed in the ConfigMap gets ignored ...

[2019-11-08 01:25] mwmitchell commented on #278
I work with a service that uses a flavor of Curator leader election, which works by associating (and persisting) job IDs to server IPs. We use a StatefulSet to ensure local state (persistent volume) is always associated with the same Pod. This works fine, except that Pod IPs change, and when this happens incoming requests to jobs (getStatus etc.) fail. If the DiscoveryClient could instead use the

[2019-11-10 07:18] VaishaliNankani opened #484 "how to implement load balancing at spring-cloud-gateway so that traffic is evenly distributed across multiple downstream services deployed in kubernetes"
we have spring-cloud-gateway as the apigateway for multiple down stream micro services deployed in kubernetes environment. wherein each micro service has multiple pods.

when HTTP2 traffic is going via spring-cloud-gateway only one same pod of each microservice is selected for forwarding HTTP2 traffic even when all pods ip addresses are being returned in DNS response to spring-cloud-gateway.so loa

[2019-11-12 14:40] ojhughes commented on #482
I don't think it is possible to implement a DiscoveryClient using DNS alone. You can't populate [List<String> getServices()](https://static.javadoc.io/org.springframework.cloud/spring-cloud-commons/2.1.0.RELEASE/org/springframework/cloud/client/discovery/DiscoveryClient.html#getServices--) because you cannot list all of the services available to the Pod via DNS.

We could extract the known service

[2019-11-12 15:01] markfisher commented on #482
I agree, but I would first explore the ecosystem for existing projects. I would also expect that implementing an Informer-driven ServiceRegistry would be simpler/lighter in Go.

[2019-11-12 16:01] Adamovskiy opened #485 "KubernetesApplicationContextInitializer error when kubernetes is disabled"
I have `spring.cloud.kubernetes.enabled` property set to `false` via environment. But it still tries to build kubernetes client config, and prints stacktrace to std out:

[code]
First of all, it would be nice to print it with logger, not to the output directly. And anyway, I think there should be a way to avoid any kubernetes interaction by config. There already was https://github.com/spring-cloud

[2019-11-13 09:27] atealxt commented on #423
I'm facing the same issue, it happens during app start on locally as well as inside pod.

ERROR Log
[code]

Maven config
[code]

[2019-11-13 09:33] hrabosch commented on #423
@atealxt if u will check my comment little bit above your, u will see what is problem...

[2019-11-13 09:37] atealxt commented on #423
@hrabosch  Yes I also tried that, but instead seeing a different error. Trying to investigate that, will see.

Vote the issue here because we want to know the root cause and fix it completely, not only work around.

[2019-11-13 09:41] hrabosch commented on #423
@atealxt It is not workaround, it is version compatibility. U have to use correct release train. And i am not sure what is your current error, but I am sure you need this version of Spring for this. Also, if you are using new version of Spring Boot, you may need to check Spring Cloud compatibility. Here https://spring.io/projects/spring-cloud at the bottom of page you can check it.

[2019-11-13 10:04] atealxt commented on #423
@hrabosch  Really? I just try upgrade spring.version from 5.0.4.RELEASE to 5.0.15.RELEASE also fix the issue, only minor version changed.

[2019-11-13 10:15] hrabosch commented on #423
@atealxt  I am not sure which dependency was causing your second issue, sorry. But if it works, it is great 😉 Are u still using Spring Boot 2.0.x?

[2019-11-13 10:29] atealxt commented on #423
@hrabosch
yes, spring 5.0.15.RELEASE + spring.boot.version 2.0.0.RELEASE + spring.cloud.k8s.version 1.0.3.RELEASE
I'm working on a spring cloud project integration to k8s,  want to change version as little as possible.

[2019-11-13 11:28] ArtyomGabeev opened #486 "BlockingLoadBalancerClient does not work with KubernetesDiscoveryClient"
Hi,

I'm trying to migrate from ribbon LB to newly introduced blocking LB.

Here is a test replicating the issue:
[code]

Fails with:
[code]

The issue is that KubernetesServiceInstance returns for schema either "http://" or "https://".
Current implementation of LoadBalancerUriTools except schema to be "http" or "https".

I've checked implementation of ServiceIntance for Eureka, it returns null wh

[2019-11-13 17:41] ArtyomGabeev commented on #486
@OlgaMaciaszek , hi Olga

What do you think about this issue? Should I fix it in LoadBalancerUriTools?

Thanks

[2019-11-14 14:41] spring-issuemaster commented on #163
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-11-14 14:41] #163 closed

[2019-11-14 21:33] baev commented on #486
my vote for removing `://` from `KubernetesServiceInstance` side (scheme is a URI part without `://` https://tools.ietf.org/html/rfc3986#section-3.1)

[2019-11-16 16:35] snakeeeeeeeee opened #487 "Can I use kubernetes service locally？"
I want to connect and debug the kubernetes service on the server during development, but I don't know what to do

[2019-11-18 15:12] zzzhy opened #488 "what is the best practice for spring cloud kubernetes with istio"
Recently, our team are intended to using istio for service mesh...
But the projects are in spring cloud arch, so what's the best practise to integrate istio and spring cloud kubernetes ?
I mean using more the cloud native componets such as service discovery (whereas ribbon)...

[2019-11-18 15:52] wabrit commented on #214
Another upvote for this feature - we want to be able to dynamically add configmaps to the set of those that are used by a microservice, and having a label-based mechanism for configmap selection (which appears to be supported for secrets) would be the most convenient approach.
Without this, we have to redeploy the microservice every time we want to add support for a new configmap. or define one ub

[2019-11-18 16:06] Haybu commented on #402
this is done part of #440, merged into 1.0.x. I would close this one.

[2019-11-18 16:07] #402 closed

[2019-11-20 15:11] livelyRyan commented on #488
I'm doing spring cloud kubernetes and istio integration, but I have a problem

I have configured two versions of an application to distribute in the direction of 100:0. However, when I access the service, the two versions will alternately display, that is, the configured traffic rules are not effective, and the current is polling. I suspect that the reason is that after the client load balancing o

[2019-11-20 17:02] ryanjbaxter commented on #471
@iocanel the only two places I see where we call `.close()` are
https://github.com/spring-cloud/spring-cloud-kubernetes/blob/1.0.x/spring-cloud-kubernetes-leader/src/main/java/org/springframework/cloud/kubernetes/leader/PodReadinessWatcher.java#L76

and

https://github.com/spring-cloud/spring-cloud-kubernetes/blob/1.0.x/spring-cloud-kubernetes-leader/src/main/java/org/springframework/cloud/kuberne

[2019-11-21 11:24] ArtyomGabeev opened #489 "Using ExternalName service type with KubernetesDiscoveryClient"
Imagine you have a setup when services running in K8S need to access services running outside.

I want to create an ExternalName service:
[code]
After that I should be able to resolve service call http://my-service/doCall into http://my.service.example.com/doCall

So instead of relying only on endpoints in KubernetesDiscoveryClient, check if service type is ExternalName, then return single service

[2019-11-23 01:33] zzzhy commented on #488
@livelyRyan 我用openfeign直接指定url的域名没有问题

[2019-11-27 17:06] spring-issuemaster commented on #471
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-11-29 02:08] huhonggit opened #490 "waiting for feign"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-11-29 04:05] #490 closed

[2019-11-29 09:03] zzzhy opened #491 "how to debug in 'java main' way"
as a spring boot project, it can be started as a java main application locally.
what's the way to debug my micro-services in local debug env with no kubernetes and no dockers ?

[2019-12-01 17:06] akuma8 opened #492 "Add `spring.cloud.kubernetes.enabled` property"
It seems like that property  `spring.cloud.kubernetes.enabled` is not provided. On my dev machine I would like to disable k8s aware but it is not possible. I tried this configuration:
[code]
but when I start my application I have this exception:
[code]
I can use maven profiles to exclude Spring Cloud K8S dependencies but I need them for configuration.
To confirm the absence of  `spring.cloud.kuber

[2019-12-02 10:10] yeshwanthvshenoy opened #493 "Document using bootstrap to disable"
**Describe the bug**
Spring Cloud Kubernetes Leader is trying to create a new Kubernetes client on application startup even when the `spring.cloud.kubernetes.leader.enabled=false` and `spring.cloud.kubernetes.leader.autoStartup=false` are set in the application.properties.

**Sample**
Let's assume I am not running minikube locally and I have the spring-cloud-kubernetes-leader added in my dependenc

[2019-12-02 10:17] geoand commented on #493
cc @gytis

[2019-12-03 15:16] seletz commented on #493
Just bumped into the same issue.
Adding `spring.cloud.kubernetes.enabled=false` to application.yaml is ignored.

The property **is** used if added to the `bootstrap.yaml` file.

I'm using 1.1.0.RELEASE.

This bug hits me when doing integration tests and deploying on non-k8s environments.

[2019-12-03 15:20] spencergibb commented on #493
if you are using config it happens in bootstrap and the property must be present there.

[2019-12-03 15:22] seletz commented on #493
@spencergibb  OK, I see.  Would there be another way to disable s.c.k8s for e.g. integration testing?

[2019-12-03 15:34] seletz commented on #493
Ah, I see.  For my use case -- **only** enabling the thing when on K8S -- having:
- `spring.cloud.kubernetes.enabled=false` in `bootstrap.properties`
- `SPRING_CLOUD_KUBERNETES_ENABLED=true` in the k8s deployment spec does the trick.

Maybe this would be worth mentioning in the docs, or am I doing things wrong?

[2019-12-03 15:41] spencergibb commented on #493
better docs are always beneficial.

[2019-12-03 16:27] guilhermecgs commented on #489
very much needed feature

is this related?
https://github.com/spring-cloud/spring-cloud-kubernetes/issues/344

[2019-12-03 16:31] guilhermecgs opened #495 "Can Kubernetes Client get endpoints from another namespace using externalName?"
I have a kubernetes cluster with serviceA on namespaceA and serviceB on namespaceB.

I want, from serviceA, use kubernetes service discovery to programmatically list serviceB. I am planning to use spring cloud kubernetes ( @EnableDiscoveryClient ).

However, there is a company wide policy to block the use of the configuration below that should have solved the problem: spring.cloud.kubernetes.disco

[2019-12-04 06:59] yeshwanthvshenoy commented on #493
@spencergibb When trying it out when `bootstrap.yaml` things are working as expected. Can we get this updated in the docs please? cc: @seletz

[2019-12-04 17:03] spring-issuemaster commented on #471
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-12-04 17:03] #471 closed

[2019-12-05 13:31] vamsikrishnanekkalapudi opened #496 "There is no way to get pod metadata"
I would like to get the meta data of a pod but i could not able to found the way to do it.

The way we are getting the service metadata as below in the similar way i would like to get the meta data of a pod.
[code]
Is there any way to do it?

[2019-12-06 08:59] yuanqingx opened #497 "Class not found KubernetesProfileEnvironmentPostProcessor"
**Describe the bug**
I tried 1.1.0.RELEASE,1.0.4.RELEASE, both of this versions has the problem. I don't know 1.0.3.RELEASE ,1.0.2.RELEASE  have the same error, but 1.0.1.RELEASE is normal, it's another class name.
When I debug, I found the class name is error, it has some space at the last. The name from the **spring.factories**

[code]

KubernetesProfileEnvironmentPostProcessor__(here is two spa

[2019-12-09 15:22] ryanjbaxter commented on #497
Can you please provide details on how to reproduce this issue?  I would think that nearly all of our tests would fail if the spaces at the end were not removed by some code.

[2019-12-09 15:31] ryanjbaxter commented on #496
Right we do not expose each Pods metadata.  There would likely be a big performance impact of doing so.

[2019-12-09 15:47] ryanjbaxter commented on #495
Does this mean there is a policy in your kubernetes deployment keeping this from working?

I am not sure what `ExternalName` is can you elaborate?

[2019-12-09 16:00] ryanjbaxter commented on #491
Are you asking how to debug your application without running inside kubernetes?  Or are you asking how to debug your application while it is running inside of kubernetes?

[2019-12-10 02:40] zzzhy commented on #491
debug application without running inside kubernetes, just as a java application in my idea debug frame

[2019-12-10 05:41] vamsikrishnanekkalapudi commented on #496
Thanks for your response.
But we have a use case where we need to assign a job to appropriate pod based on the labels of the pod.
Can we achieve this by using io.fabric8.kubernetes.client.KubernetesClient object?

[2019-12-10 09:49] sloppycoder opened #498 "Environment variable does not override value in configmap"
**Describe the bug**
When running Spring Boot application outside K8S, the environment variable value always overrides what is in application.yml. However, with spring-cloud-kubernetes-config, the value defined in configmap always takes precedent.

**Sample**
My application.yml
[code]
My K8S manifest
[code]
In my application the configuration always get the value from configmap, 'none', instead of

[2019-12-10 10:39] sloppycoder commented on #498
I created a test repo to demostrate the issue

https://github.com/sloppycoder/boot-k8s-configmap-test

[2019-12-10 16:32] spencergibb commented on #498
This is by design. There's a property in commons that will allow the opposite. Will look for it when in laptop

[2019-12-10 16:50] TYsewyn commented on #492
Updated documentation with d3700c5 and 98c7eb5. Will verify if it's a bug later tomorrow.

[2019-12-11 02:49] sloppycoder commented on #498
thanks for the tip. Adding the following to application.yml solved my problem
[code]
[spring cloud config docs](https://cloud.spring.io/spring-cloud-static/spring-cloud.html) has more details.

[2019-12-11 02:49] #498 closed

[2019-12-11 14:57] TYsewyn commented on #492
@akuma8 Can you confirm that this is happening during the bootstrap phase when `spring-cloud-kubernetes-config` is on the classpath?
If this is true, could you check if the stacktrace is gone when you add `spring.cloud.kubernetes.enabled=false` to `bootstrap.properties|yml`?

[2019-12-11 17:21] TYsewyn commented on #488
Please take a look at [this talk](https://www.youtube.com/watch?v=AMJQO9zs2eo) which goes a little bit more in detail as to what to use when.

[2019-12-11 17:44] TYsewyn commented on #486
Unfortunately we can't change the returned value of `getScheme` at this moment since that introduces a breaking change. AFAIK the only viable option would be to adapt `LoadBalancerUriTools` to strip `://` from the scheme like @ArtyomGabeev already proposed.
Please keep your first PR open so we can merge this once we start working on the next major release.

[2019-12-11 17:53] TYsewyn commented on #485
Can I kindly ask you which release train of Spring Cloud you are using?

[2019-12-11 19:18] michaelaplante commented on #489
I am using Spring Cloud Hoxton.RELEASE (i.e., with Spring Cloud Kubernetes 1.1.0.RELEASE) and the following configuration is not working, so I don't think what you're asking for is covered by  #344

ExternalName service:
[code]
My client application is using ribbon with : `@FeignClient(name = my-service)`

Spring Sloud Kubernetes Ribbon config is:  `spring.cloud.kubernetes.ribbon.mode : SERVICE`

[2019-12-13 02:55] yuanqingx commented on #497
I uesd Spring Boot 2.0.6.RELEASE.
In the org.springframework.core.io.support.SpringFactoriesLoader#loadSpringFactories,
it’s not trim the class name. So class not found.
And I tried the 2.2.2.RELEASE,it’s ok.
Your should eliminate the space...

![2](https://user-images.githubusercontent.com/39399831/70765756-a0e6c680-1d96-11ea-986e-4db27093dce2.png)
![3](https://user-images.githubusercontent.com/3

[2019-12-15 10:47] akuma8 commented on #492
@TYsewyn This is my dependency:
[code]
The property `spring.cloud.kubernetes.enabled`  does not exist actually so I can't set it in `bootstrap.yml`

[2019-12-15 11:16] TYsewyn commented on #492
What exactly do you mean with “does not exist”?
If you are referring to the code completion and hints within IntelliJ, that will be fixed alongside the documentation in the next release.
That property is used multiple times in the code base, it just wasn’t documented properly.

Have you actually tried setting that property and starting your application?

[2019-12-16 11:13] ckoutsouridis opened #499 "configuration properties metadata are missing for some projects"
for the bellow modules

- `spring-cloud-kubernetes-leader`
- `spring-cloud-kubernetes-istio`

there is no
[code]

dependency and so the properties metadata are missing

[2019-12-16 11:15] ckoutsouridis opened #500 "dependency management for spring-cloud-kubernetes-leader"
i think it would be nice if `spring-cloud-kubernetes-dependencies` had a dependency management entry for `spring-cloud-kubernetes-leader`

[2019-12-16 15:23] ryanjbaxter commented on #492
Going to close this as @TYsewyn should have fixed the documentation as well as the IDE bug with the commits above

[2019-12-16 15:23] #492 closed

[2019-12-16 15:51] spring-issuemaster commented on #495
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-12-17 06:22] zzzhy opened #501 "better integration with istio service observability"
our project is using spring cloud and the service mesh tool is istio.
we found it when using `spring-cloud-starter-kubernetes-ribbon` component, there turns out no edges in kiali graph tab between pods or services.
I think the reason is that istio only collects data or metrics which just goes through k8s service, while ribbon flows to pod directly.
any instructions or suggestions will be of great

[2019-12-17 08:29] m-kay commented on #473
I think there is not only a problem with the serivce label filter but more a general problem when `spring.cloud.kubernetes.discovery.all-namespaces` is set to true. Since in Kubernetes you can access the services by <namespace>.<service-name> this should also be reflected in the discovery client. I'm facing the problem in Spring Boot Admin where services with the same name but in different namespa

[2019-12-17 16:04] lavecoral opened #502 "The Ribbon is optional"
The `spring-cloud-starter-netflix-ribbon` in `spring-cloud-kubernetes-ribbon` is optional，so if the project don't add ribbon dependency, the RestTemplate can't use client LoadBalance. But it's not mentioned in the document.

[2019-12-18 03:32] Jumwah commented on #441
Any progress on this - I see the PR is ready?  I'm getting Connection Refused, more often than I'm not - it's preventing me using Spring Cloud Kubernetes at all since it's not reliable.

[2019-12-18 17:45] spring-issuemaster commented on #486
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-12-18 17:55] spring-issuemaster commented on #485
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2019-12-18 18:16] OlgaMaciaszek commented on #486
@ArtyomGabeev sure, feel free to provide a PR.

[2019-12-19 07:05] zzzhy commented on #488
@TYsewyn thanks for the video, but it seems not the one I wanted.
I prefer this framework can cooperation with istio well by visiting the services while not directly to the pods.

[2019-12-19 07:34] TYsewyn commented on #488
Then you want to disable/exclude service discovery in/from your application and just use dns resolving.

[2019-12-19 09:26] zzzhy commented on #488
that's right. no others but just kubernetes' service discovery ability.
exactly spring boot + k8s + istio.  but on this Collocation, the chain is block if kubernetes' service names not equals to module names.
now my solution is use spring boot , but the appliction name equals to kubernetes' service name, and then use rest requests route to the services by dns resolving.
this is not a quite good so

[2019-12-19 09:35] zzzhy commented on #488
in case of not contains too much resttemplate codes, I use openfeign either

[2019-12-19 12:26] TYsewyn commented on #488
You can create your own routing/traffic management using virtual services with Istio, which you will definitely need if you want to support eg. resiliency, A/B testing, or other types of load balancing.
This way you can route `https://my-app-name` to the K8s service `my-app-service` so you don't need to change anything in your code.
The only thing you need to do is set the url in the `@FeignClient

[2019-12-19 12:26] #488 closed

[2019-12-19 18:24] akuma8 commented on #492
Sorry to answer lately, I am a bit busy.
Yes I did the test. I set the property to `false` and restart my application and still get the exception. Since it's a `WARN` message I ignore it.

[2019-12-19 21:29] ryanjbaxter commented on #492
Just because IntelliJ does not know about it doesn't mean it doesn't work.  @TYsewyn fixes will make IntelliJ pick them up once we do the next release.

[2019-12-20 07:14] hirakida opened #504 "This project overrides okhttp3 version defined in `spring-boot-dependencies`"
I want to use this okhttp3 version.
https://github.com/spring-projects/spring-boot/blob/v2.2.2.RELEASE/spring-boot-project/spring-boot-dependencies/pom.xml#L167

But, if I import `spring-cloud-dependencies`, okhttp3 will be overwritten with 3.12.0.
https://github.com/spring-cloud/spring-cloud-kubernetes/blob/v1.1.0.RELEASE/spring-cloud-kubernetes-dependencies/pom.xml#L179-L188

[code]

depencencyM

[2019-12-20 16:20] claitonp commented on #473
To resolve this situation I overwrite the SBA and the Sprign Cloug Gateway, add .withLabels(serviceLabels)

[code]

application-dev.yaml SBA:
[code]

Spring Cloud Gateway:

[code]

[2019-12-20 16:40] piomin opened #505 "Ribbon should allow discovery across all namespaces"
**Is your feature request related to a problem? Please describe.**
Ribbon should allow discovery across all namespaces. Currently it search for serivces only in the current namespace.

**Describe the solution you'd like**
Ribbon auto-configuration needs to be changed. and property allNamespaces should be add with default value `false`

**Describe alternatives you've considered**
We could also base

[2019-12-20 16:47] akuma8 commented on #492
@ryanjbaxter I agree with you but I still don't understand why setting that property does not have any effect and I still have the error message during the bootstrap phase.

[2019-12-20 21:05] ryanjbaxter commented on #492
Can you provide a sample that reproduces the error and problem?

[2019-12-21 03:13] bradfordChiang commented on #486
I'm having the same issue here. when will this PR be merged?

[2019-12-22 10:47] keaz commented on #274
I had the same issue when I use jlinked openjdk jre 11. I fixed this issue by using normal openjdk 11.

[2019-12-23 07:35] damon008 opened #506 "reload configmap"
**Describe the bug**
Using examples, I wrote one,but I found the app not reload configmap after execute 'kubectl edit cm demo-configmap', Then I delete the pod of app, it can get the latest config

**Sample**
my bootstrap.yaml
![image](https://user-images.githubusercontent.com/25023599/71343203-08242800-259a-11ea-82d2-b31ecd3df685.png)

[2019-12-23 11:17] piomin commented on #505
I decided to add new property for enabling it: `spring.cloud.kubernetes.ribbon.allNamespaces` - following current approach in Spring Cloud Kubernetes module.
Because Kubernetes allows the same app name in different namespaces I'm checking if there more than one serviceId returned by KubernetesClient in the list endpoints from all namespaces.

[2019-12-23 14:19] lubumbax commented on #506
@damon008 , can you try naming your ConfigMap the same as the spring application?. Something like:

[code]

The `management.endpoint.restart.enabled: "true"` property is not really mandatory, at least in the latest releases.

Adding to that, I have been able to make that work on `Greenwich.SR4` (and SR1, SR2, SR3).
[code]
Unfortunately, if I change to `Hoxton.SR1` the changes in a ConfigMap won't

[2019-12-23 15:49] spring-issuemaster commented on #495
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-12-23 15:49] #495 closed

[2019-12-24 01:28] damon008 commented on #506
@lubumbax I add application.yaml for mybatis and server port and so on in my project.Does it have any influence?

[2019-12-24 03:31] damon008 commented on #506
what is the views of the official spring?

[2019-12-24 05:46] damon008 commented on #506
@lubumbax  do what you  said, the app run failed,
show the log:
![image](https://user-images.githubusercontent.com/25023599/71396083-a3c59f00-2653-11ea-8025-3b1a8e0fb755.png)

[2019-12-24 10:56] lubumbax commented on #506
Not sure what "mybatis" means.
Combining an `application.yaml` with `ConfigMap` is fine. You can also add a `bootstrap.yaml` to that if you want. You can add properties to either of them.
I prefer (like many others) adding all possible app/service properties to `ConfigMap` and only those that are most critical for the app to start to `bootstrap.yaml`. That said, I would get rid of `application.yam

[2019-12-25 02:51] damon008 commented on #506
@lubumbax
it print log when I edit cm configmap-name，it show me that it reload
![image](https://user-images.githubusercontent.com/25023599/71429842-b1d2f880-2703-11ea-9b4e-60e74ea580f7.png)
The following levels of reload are supported (by setting the spring.cloud.kubernetes.reload.strategy property): * refresh (default): Only configuration beans annotated with @ConfigurationProperties or @RefreshS

[2019-12-25 03:13] damon008 commented on #506
@lubumbax  Can you show your demo?

[2019-12-25 17:57] spring-issuemaster commented on #485
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2019-12-25 17:57] #485 closed

[2019-12-26 20:59] hannes-angst opened #508 "Allow activeProfile not to be appended"
When configuring the configMap, the activate Profile is appended to the name

[code]

results in `https://172.20.0.1/api/v1/namespaces/default/configmaps/feature-toggles-dev`, which active profile `dev`.

Cause is the line
`String mapNameWithProfile = name + "-" + activeProfile;`

from
`m2/repository/org/springframework/cloud/spring-cloud-kubernetes-config/1.1.1.RELEASE/spring-cloud-kubernetes-con

[2019-12-27 08:24] damon008 commented on #506
@lubumbax
Hello, I found what happened.After add db such as mybatis or redis when use the springcloud-kubernetes with configmap, the configmap can not be reloaded.

you can try when add db resource such as redis or mysql.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"lubumbax"<notifications@github.com&gt;;
发送时间:&nbsp;2019年12月24日(星期二) 晚上6:56
收件人:&nbsp;"spring-cloud/spring-cloud-k

[2019-12-27 12:39] piomin opened #509 "Allow registration for external application"
**Is your feature request related to a problem? Please describe.**
I would like to use Kubernetes registry and Ribbon client for communication with external applications.

**Describe the solution you'd like**
Auto-configured registration mechanism for applications running outside Kubernetes.

[2019-12-28 18:14] akuma8 commented on #492
@ryanjbaxter See a demo here: https://github.com/akuma8/demo
At the application startup you will see the warning message.

[2019-12-28 22:58] TYsewyn commented on #492
Like I already said, please add `spring.cloud.kubernetes.enabled: false` to your bootstrap.yml file.

[2019-12-30 18:13] akuma8 commented on #492
Could you set this information in the documenation? I mean setting the property in ` bootstrap.yml` not in `application.yml`

[2019-12-30 18:46] TYsewyn commented on #492
We would gladly accept any PR for this.
Let me know if you want to take this up! 🙂

[2019-12-31 09:28] akuma8 commented on #492
Yes, for a first contribution, documentation is the right place to start.
Please let me know how to contribute?

[2019-12-31 21:30] ajay2799 commented on #475
Having the same problem. Any workaround?

[2020-01-02 11:07] damon008 commented on #506
@lubumbax   Do you have a similar problem?

[2020-01-02 13:49] lubumbax commented on #506
Not really. I added the following dependencies to one of my services:
[code]
Then configured a `JedisConnectionFactory` bean that connected to Redis running on another service.

A change in the ConfigMap of that service triggered reload.

[2020-01-03 01:56] damon008 commented on #506
@lubumbax  What kind of your JedisConnectionFactory? and about mysql , what kind of mybatis? about the bean

[2020-01-03 01:59] damon008 commented on #506
you can try this:
[code]
In my project, this can not

[2020-01-03 02:40] damon008 commented on #506
I try what uou said, I found it not reload before delete pod

[2020-01-03 12:16] lubumbax commented on #506
I would need to get a link to a code repo with a sample application reproducing the issue; please provide it here.

[2020-01-04 01:42] damon008 commented on #506
@lubumbax

the demo code:
Base on
[code]
redis :
[code]

redis bean:
[code]

demo:

[code]
In EnvConfig, the value of base_path can not reload after edit cm

[2020-01-04 01:46] damon008 commented on #506
@lubumbax
Can you show your demo code?

[2020-01-04 01:56] damon008 commented on #506
@lubumbax
I care what kind of your pom?

[2020-01-04 03:37] damon008 commented on #506
After I edit cm, the log show it change and refresh.
![image](https://user-images.githubusercontent.com/25023599/71759278-bb1f4a80-2ee5-11ea-88f3-75974a7e3e74.png)

but I cannot get the edited value with redis or mybatis (mysql), and if I remove db or some pertinent dependence of db (redis). or ``` I means if use db or redis in the project, it also can not reload the newest value after edited the

[2020-01-04 19:44] Joshhw commented on #475
I have yet to find a solution.

[2020-01-06 09:37] TYsewyn opened #510 "Clarify disabling Kubernetes features"
Hi, this is a `first-timers-only` issue. This means we've worked to make it more legible to folks who either haven't contributed to our codebase before, or even folks who haven't contributed to open source before.

If that's you, we're interested in helping you take the first step and can answer questions and help you out as you do. Note that we're especially interested in contributions from peopl

[2020-01-06 09:38] TYsewyn commented on #510
Claimed by @akuma8 via https://github.com/spring-cloud/spring-cloud-kubernetes/issues/492#issuecomment-569896316

[2020-01-06 10:46] geoand commented on #506
I am sorry but I don't really know why redis or mysql configuration would not be reloaded after a config change

[2020-01-07 04:27] damon008 commented on #506
@lubumbax  Can you show your all demo with redis or mysql?

[2020-01-08 10:34] ArtyomGabeev commented on #486
I've opened another PR to trim double slash in util class.

We are not closing this one, probably on next major release we will be able to merge it as well.

[2020-01-08 11:22] spencergibb commented on #486
Wait, why can't we fix kubernetes service instance? I don't want work around in a common library for this one's bug.