[2016-12-16 21:27] spencergibb opened #2 "Update parent to spring-cloud-build"

[2016-12-16 21:28] spencergibb opened #3 "change groupId to org.springframework.cloud"

[2016-12-16 21:29] spencergibb opened #4 "Use circle CI for PR builds"

[2016-12-16 21:30] spencergibb opened #5 "Add to spring jenkins for CI and snapshot publishing"
publish to repo.spring.io

[2016-12-16 21:30] spencergibb opened #6 "Setup mvnw for building"

[2016-12-16 21:31] spencergibb opened #7 "Update copywrite headers"
'Copyright 201x-201x the original author or authors.'

[2016-12-16 21:37] #6 closed

[2016-12-16 21:42] spencergibb opened #8 "remove fabric8 references"

[2016-12-16 21:43] spencergibb opened #9 "Update to spring cloud style documentation"

[2016-12-16 21:53] spencergibb opened #10 "move off of fabric8-maven-plugin"

[2016-12-16 21:57] spencergibb opened #11 "Add origination of code"
We should give mention of where this came from and give credit where credit is due.

[2016-12-16 21:57] spencergibb opened #12 "Remove com.google.guava if possible"

[2016-12-16 21:59] #3 closed

[2016-12-16 21:59] #4 closed

[2016-12-16 21:59] #8 closed

[2016-12-16 22:03] #7 closed

[2016-12-16 22:03] spencergibb opened #13 "Update packages to org.springframework.cloud"

[2016-12-16 22:08] iocanel commented on #12
AFAIR, the code itself is not directly using guava, but was added because it was transitively required on run-time.

We can try to remove it and see how it goes.

[2016-12-16 22:10] spencergibb opened #14 "move config to separate module"

[2016-12-16 22:11] spencergibb opened #15 "remove InetUtils class"
and the whole spring-cloud-kubernetes-compat module

[2016-12-16 22:12] iocanel commented on #10
The fabric8-maven-plugin is only used in one of the examples, in order to generate the docker image and kubernetes resources and also to deploy the project to kubernetes.

[2016-12-16 22:14] spencergibb opened #16 "Move from @Value for properties defaults to allow relaxed binding for defaults"
@Value("${spring.application.name:unknown}")

[2016-12-16 22:16] spencergibb opened #17 "Use auto-configuration in discovery"
In combination with `KubernetesDiscoveryClientConfiguration` to allow use of `@ConditionalOn*Bean`

See https://github.com/spring-cloud/spring-cloud-netflix/commit/5b25c9ad1a22c34e8a227bb4e854f2114cfbf368

[2016-12-16 22:21] #13 closed

[2016-12-16 22:24] spencergibb commented on #10
OK, I'm just glancing at things. I appreciate the detail.

[2016-12-16 22:24] #10 closed

[2016-12-16 22:25] spencergibb commented on #12
Let's find out where the transitive dep is. We have an aversion to guava :-)

[2016-12-16 22:28] spencergibb opened #18 "Update to Dalston"
from Brixton

[2016-12-16 22:32] spencergibb opened #19 "Update to spring cloud depencencies model"
Create a spring-cloud-kubernetes-dependencies module

[2016-12-16 22:34] spencergibb opened #20 "Update to spring style version numbers"
Start with 0.2.0 since original was 0.1

Move to 1.0.0 when the project graduates from spring-cloud-incubator

[2016-12-16 22:44] spencergibb opened #21 "Make java 7 compatible"

[2016-12-16 22:51] spencergibb commented on #21
Maybe we just leave it java 8 which will become the baseline in the next release train (Edgware).

[2016-12-16 22:51] iocanel commented on #15
Agree, this is no longer needed.

[2016-12-16 22:56] iocanel commented on #14
Agree!

Given that in Kubernetes config maps and secrets can be mounted and used as files, it makes absolute sense to    move the config staff out of core and make the optional.

[2016-12-16 23:00] #2 closed

[2016-12-16 23:03] #20 closed

[2016-12-16 23:53] spencergibb commented on #18
This should probably not happen right away.

[2016-12-16 23:54] spencergibb opened #22 "Upgrade to Camden dependencies"
Since this is the current release, we could release 0.X.X releases against the camden dependencies.

See #18

[2016-12-17 00:01] spencergibb opened #23 "Don't reference the release train directly"
When the project joins the train, that would be a circular dependency.

[2016-12-17 00:02] #22 closed

[2016-12-17 00:24] spencergibb opened #24 "Describe how to do integration tests with Kubernetes"
/cc @iocanel

[2016-12-17 00:46] spencergibb opened #25 "Make spring-boot-actuator optional"

[2016-12-17 00:54] #19 closed

[2016-12-17 00:54] #23 closed

[2016-12-17 01:02] spencergibb commented on #5
See https://github.com/spring-io/build-scripts/pull/6

[2016-12-17 01:18] spencergibb commented on #12
Looks like it's part of archaius. We have dep mgmt in netflix.  To remove the usage in s-c-kubernetes-ribbon, need to fix:
[code]

It's specifically `TypeToken.of()`. I'm worried to change it because there isn't a test to verify we don't regress.

[2016-12-17 01:22] #15 closed

[2016-12-17 01:26] spencergibb opened #26 "Add unit tests"

[2016-12-17 01:31] #25 closed

[2016-12-17 01:34] spencergibb opened #27 "Standardize on commons logging interfaces"
Spring standard

[2016-12-17 08:47] iocanel commented on #24
[Arquillian Cube](https://github.com/arquillian/arquillian-cube) provides a module for writing integration tests with Kubernetes.

At the moment it works great when the integration tests run **inside** Kubernetes. When tests are run **outside** of Kubernetes and use remote Kubernetes installation there are some limitations *(access services deployed on kubernetes from the outside requires either p

[2016-12-18 12:36] spencergibb commented on #5
Closed via https://github.com/spring-io/build-scripts/commit/4540de9d48cfe60120b476fe57fbb7f9bebf6bf5

[2016-12-18 12:36] #5 closed

[2016-12-18 12:36] spencergibb commented on #5
Now publishing snapshots http://repo.spring.io/snapshot/org/springframework/cloud/spring-cloud-kubernetes/

[2016-12-18 13:26] spencergibb commented on #5
https://jenkins.spring.io/view/Spring%20Cloud/view/CI/job/spring-cloud-kubernetes-master-ci/

[2016-12-20 18:14] #14 closed

[2016-12-20 18:20] #11 closed

[2016-12-22 22:31] jrrickard commented on #26
@spencergibb I enjoy writing tests. Are PRs with additional tests welcome?

[2016-12-22 22:38] spencergibb commented on #26
absolutely!

[2017-01-07 22:18] asarkar opened #31 "Kubernetes PropertySource order"
What is the order of [Kubernetes PropertySource](https://github.com/spring-cloud-incubator/spring-cloud-kubernetes#kubernetes-propertysource) with respect to the application's {{application.yml/bootstrap.yml}} files and config service?

[2017-01-12 20:42] jrrickard commented on #26
@spencergibb sorry for the delay, we had a baby. Working on this now, would you prefer multiple PRs (as well as issues) for tests across different modules (i.e. for tests for spring-cloud-kubernetes-discovery, tests for spring-cloud-kubernetes-config), or just in one big PR?

[2017-01-12 21:03] spencergibb commented on #26
NP. Congratulations!

I think it's easier to review smaller PRs, so I'd lean that way. @iocanel, thoughts?

[2017-01-12 21:10] iocanel commented on #26
Congratulations @jrrickard!

@spencergibb: I also prefer smaller PRs.

[2017-01-16 15:45] iocanel commented on #27
I'll pick this up

[2017-01-16 16:44] iocanel opened #34 "Add .editorconfig"
This will help having a consistent format, effortless for all IDEs.
It will also help reviewing too.

[2017-01-16 17:08] spencergibb commented on #27
Closed via #33

[2017-01-16 17:08] #27 closed

[2017-01-16 17:10] iocanel commented on #31
I tried to find something in the spring boot documentation about custom property source order but couldn't find something. So here's what I remember from my own experience:

A custom property source, gets configured by bootstrap.yml and overrides values defined in application.yml. But I may not remember correctly.

@spencergibb: do u have a link to a doc that clarifies that? or do you remember som

[2017-01-16 18:49] iocanel opened #36 "Check if we want to keep sundrio for generating the bom"

[2017-01-16 19:07] spencergibb commented on #36
It's currently disabled. We maintain each project's bom manually at the moment. It might be an interesting experiment to see if having it generated is a viable solution for us. Following the naming convention, the bom would be `spring-cloud-kubernetes-dependencies`.

[2017-01-16 19:08] spencergibb commented on #36
/cc @dsyer @snicoll

[2017-01-16 19:56] #12 closed

[2017-01-16 20:37] dsyer commented on #36
I can see some benefit in autogenerating a BOM (people seem to find it rather hard on average to do it properly when it's manual). Can we see a diff between the two?

[2017-01-16 20:43] spencergibb commented on #36
@dsyer that will be part of the experiment. I disabled the auto-bom generation because it broke the build. It will need to be fixed to see the output.

[2017-01-16 21:57] iocanel commented on #36
ok, I'll pick this up and see why it breaks!

[2017-01-17 09:02] iocanel commented on #36
So, from what I see the `spring-cloud-kubernetes-dependencies` is used both internally and externally, so we can't really generate it on the fly.

What we can do is move the internal dependency management in the main pom and generate the pom that that we ship.

Why would we want to do that?

1. The bom we ship just defines that stuff the user really needs. For example the current bom doesn't need

[2017-01-17 13:06] iocanel commented on #36
So, the question is if (1) worths the trouble.

FWIW, I created a pull request, so that I can show how it looks like.
With this configuration it automatically includes all own project modules and nothing else.

If we want to include things like the kubernetes client and model we can add to the configuration something like:

    <dependencies>
        <includes>
            <include>io.fabric8:kube

[2017-01-17 13:55] dsyer commented on #36
Does `io.fabric8:kubernetes` not have a BOM?

[2017-01-17 14:24] iocanel commented on #36
It does

[2017-01-17 14:45] dsyer commented on #36
Then shouldn't we include that (instead of `io.fabric8:kubernetes-*`)?

[2017-01-17 15:24] iocanel commented on #36
I need to check if this is supported by the plugin.

[2017-01-17 16:09] iocanel commented on #36
It is supported, but it unwraps the boms to check for version conflicts etc.

[2017-01-17 17:04] spencergibb commented on #36
So what does a generated bom look like?

[2017-01-17 17:08] iocanel commented on #36
It looks like this: https://gist.github.com/iocanel/ff1e96127be772852f63aef3424e30f9

[2017-01-17 17:15] spencergibb commented on #36
Thanks for doing the experiment. To me it doesn't seem like it gaining us much and it doesn't fit the current spring cloud pattern.

[2017-01-17 17:18] iocanel commented on #36
Ok, let's remove it completely then.

[2017-01-17 17:20] spencergibb commented on #36
Yup, I agree

[2017-01-17 17:20] dsyer commented on #36
Definitely we don't want those jackson dependencies in there (they will flag as warnings with Maven 3.4 in any project that uses this BOM). So probably there are issues with the kubernetes BOM that we'll have to watch out for even if we do a manual BOM for this project.

(FWIW we have a similar unresolved issue with the AWS BOM.)

[2017-01-17 17:22] iocanel commented on #36
The kubernets-client provides multiple boms, one with just the artifacts it ships and one with a minimal set of dependencies. So let's switch to the thin bom.

[2017-01-17 17:24] iocanel commented on #36
Hmmm, I guess that `unwarpping` boms with the ability to filter out stuff is an additional value point for generating a bom :-)

[2017-01-17 17:26] iocanel commented on #36
Switching to the thin bom, is not trivial, because it seems that someone adds dependencyManagement for okhttp which breaks the tests.

[2017-01-17 22:04] dsyer commented on #36
If something in kubernetes needs a different version of okhttp (or any other dependency) than the rest of spring cloud or spring boot that is an issue we. We'd to look into. What is the origin of the conflict? Can we reconcile it here? Do we need to change the other BOM?

[2017-01-18 15:59] iocanel commented on #36
The kubernetes-client is using but not requiring okhttp version 3.4.1 (it should work with any most 3+ version).
The kubernetes-mockwebserver (an other project which we use for testing) is also using okhttp 3.4.1 and depends on okhttp's mockwebserver 3.4.1 which has a hard requirement on okhttp 3.4.1.

spring-cloud-netflix-dependencies adds dependency management for okhttp version 3.3.1

So we end

[2017-01-25 03:33] asarkar opened #39 "How does the PropertySource reload work for HA config server?"
Reference to https://github.com/spring-cloud-incubator/spring-cloud-kubernetes#propertysource-reload

Git can send notification to a URL but we want to have multiple config servers for high-availability. One option is to put them in a K8S service but then we need to build something in K8S to send notifications to all pods in the service.

[2017-01-25 08:53] iocanel commented on #39
My understanding is that this part of documentation refers to the configmap and secret property sources and does not have to do with the config server stuff.

@nicolaferraro: can you please verify?

[2017-01-25 15:17] nicolaferraro commented on #39
Yes, the reload functionality is related to secret and configmap property sources only. Internally, it should use the same path that the spring config server uses to trigger a reload, but it doesn't need a config server.
It's the pod itself that monitors the Kubernetes namespace and triggers a reload to the context as soon as a change event is detected (via websocket from the Openshift rest API by

[2017-01-25 19:03] asarkar commented on #39
How do I dynamically refresh a config server K8S service? Or are you saying that is a better question for spring-cloud-config?

[2017-01-26 18:28] jrrickard commented on #26
@iocanel @spencergibb couple of follow up questions. Existing tests are mostly written in Groovy, but most other spring-cloud projects seem to have tests written in Java. I started writing in Java but realized I should check if the preference is Java or Groovy for these.

Related question. If Groovy, should I upgrade the Spock version (1.0 -> 1.1) to support the use of SpringBootTest instead of th

[2017-01-26 20:49] spencergibb commented on #26
Java.

[2017-01-29 20:12] bparry02 commented on #26
@jrrickard I'd like to contribute some unit tests as well. Which projects are you focusing on initially?

[2017-02-27 10:14] iocanel commented on #36
I think that we can close this now

[2017-02-27 10:14] #36 closed

[2017-02-27 13:13] cmoulliard opened #41 "goal io.fabric8:fabric8-maven-plugin:3.2.26:resource failed: Type io.fabric8.kubernetes.api.model.extensions.StatefulSetBuilder not present"
It looks like that spring cloud kubernetes is not align anymore with f-m-p

[code]

So this error is reported during mvn fabric8:resource goal

[code]

[2017-02-27 13:13] cmoulliard commented on #41
From James

[code]

[2017-02-28 10:49] davinkevin opened #42 "Perform a 0.2.0.RELEASE"
Hi,

Sorry if I miss it, but I want to use Spring cloud Kubernetes and I didn't find any information on how to integrate it.

The doc said to add it as dependency to my pom.xml, but the code example use a variable as version `${latest.version` (with a missing bracket).
I don't find it in maven central or mvn repository. I only have the old one under the `groupId` `io.fabric8`

I will use the `io.f

[2017-02-28 16:44] spencergibb commented on #42
Are you asking if there has been a release? There has not been one under the new project. @iocanel what do you think?

[2017-02-28 16:53] iocanel commented on #42
I think that its a good time to go for a release. It will help people who want to migrate.

[2017-02-28 18:01] spencergibb commented on #41
What's  `f-m-p`?

[2017-03-01 08:48] davinkevin commented on #42
Glad to hear it ! Do you plan it soon ? I can postponed the implementation and directly use the new version 😄

[2017-03-01 09:37] lydialmr120 opened #43 "Use kubernetes, why still need spring cloud?"
I hope everyone give me your suggestion, thank you.

[2017-03-01 11:13] iocanel commented on #43
Kubernetes as a platform does provide a lot of interesting features like discovery, loadbalancing, configuration support and more.

Now, let's say that you want to add hystrix in to the mix. You are going to need to implement a discovery module for turbine (an example is the [Kubeflix Turbine Discovery](https://github.com/fabric8io/kubeflix/blob/master/turbine-discovery/src/main/java/io/fabric8/ku

[2017-03-01 16:53] iocanel commented on #41
f-m-p is an abbreviation for [fabric8-maven-plugin](https://github.com/fabric8io/fabric8-maven-plugin).

So, in other words this means that spring-cloud-kubernetes and f-m-p r using incompatible kubernetes-client version.

I intend to upgrade once we get kubernets-client 2.3.

[2017-03-02 16:26] cmoulliard commented on #41
@iocanel As the Fabric8 maven plugin is only used within the `spring-cloud-kubernetes-examples` project, can we avoid this issue by defining for the project and the plugin the same Kubernetes Api client ?

[2017-03-02 17:27] iocanel commented on #41
The issue is not related with what version of fmp we use here, but what version of kubernetes-client.

[2017-03-02 17:27] iocanel commented on #41
at least this is my understanding.

[2017-03-03 15:31] joshfix opened #45 "NoSuchMethodError on OkHttpClient$Builder.pingInterval"
I've been using 0.2.0.BUILD-SNAPSHOT for a couple of weeks without issue.  As of this morning, I can successfully build my apps with the starter, but cannot run them.  Very early in bootstrap I get the following exception:

[code]

This error occurs both locally and on kubernetes.

[2017-03-03 18:50] joshfix commented on #45
Excluding okhttp and manually specifying the latest version seems to circumvent the issue.

[code]

[2017-03-03 18:52] spencergibb commented on #45
Can you run `./mvnw -X dependency:tree` against your project (before the fix) and see where the dependency came from?

I just fixed an issue regarding this here https://github.com/spring-cloud/spring-cloud-netflix/issues/1752

[2017-03-03 18:54] joshfix commented on #45
Sure:

[code]

[2017-03-03 18:56] spencergibb commented on #45
Looks like upgrading k8s-client to 2.2.1 will help as well http://search.maven.org/#artifactdetails%7Cio.fabric8%7Ckubernetes-client-project%7C2.2.1%7Cpom

[2017-03-03 20:09] spencergibb commented on #42
I think we still have a few things to fix up, but I don't see an issue of doing one in the next few weeks.

[2017-03-06 08:33] cmoulliard commented on #42
What are the issues that you want to fix in order to release ?

[2017-03-06 19:43] spencergibb commented on #42
There are some issues about the k8s client that should be fixed.

[2017-03-07 10:25] rkerebel opened #46 "Add K8S Discovery watch"
There is a gap with spring-cloud-consul-discovery regarding refresh feature. Spring Cloud Consul Discovery is providing a CatalogWatchDog which is firing HeartBeatEvent instances so listeners can refresh the list of services in case it has been changed.

[2017-03-07 10:49] cmoulliard opened #47 "Document relationship between s-c-kubernetes, kubernetes client, kubenetes model & API"
As `spring-cloud-kubernetes`uses librairies released by the `Fabric8` project, that should be great to include within the documentation a table describing How this project is aligned with the Kubernetes API (1.3, 1.4, 1.5, ...) through the Fabric8 Kubernetes Client (= 1.x or 2.x) and Fabric8 Kubernetes Model (= 1.0.x)

[code]

[2017-03-07 17:46] spencergibb commented on #46
`ConsulCatalogWatch` uses a consul watch (see consul.io for details). Is there a similar API for kubernetes?

[2017-03-07 19:12] iocanel commented on #46
Yes there is. I wil have a look.

On Tue, Mar 7, 2017 at 7:46 PM, Spencer Gibb <notifications@github.com>
wrote:

--
*Ioannis Canellos*

*Blog: http://iocanel.blogspot.com <http://iocanel.blogspot.com/>*
*Twitter: iocanel*

[2017-03-08 14:47] cmoulliard opened #48 "java.lang.NoSuchMethodError: io.fabric8.kubernetes.client.KubernetesClient.pods()Lio/fabric8/kubernetes/client/dsl/MixedOperation;"
When a SpringBoot application is starter as a pod, I get this error

[code]

Here are the dependencies used

[code]

[2017-03-09 11:55] iocanel commented on #48
You need to align your code with kuberntes-client 2.2.x, 1.4.19 won't work.

[2017-03-09 11:55] #48 closed

[2017-03-09 16:13] iocanel commented on #45
Our current master is using kubernetes-client version 2.2.0 which is already using `okhttp` 3.6.0.

The fact that your dependency tree shows 3.3.1 instead of 3.6.0 makes me think that there is some short of dependencyManagement affecting you.

[2017-03-09 16:13] iocanel commented on #43
@lydialmr120 does this answer the question?

[2017-03-24 02:14] Nareshkumarpr commented on #39
I have a error when I enable reload property,

spring.cloud.kubernetes.reload.enabled=true

Error Trace:

org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'propertyChangeWatcher': Invocation of init method failed; nested exception is java.lang.NoSuchMethodError: okhttp3.internal.Internal.setCallWebSocket(Lokhttp3/Call;)V
	at org.springframework.beans.factory.a

[2017-03-24 16:50] cmoulliard commented on #31
@spencergibb Bootstrap is loaded first and before application.properties/yaml - http://stackoverflow.com/questions/32997352/what-is-the-diference-between-putting-a-property-on-application-yml-or-bootstrap

[2017-03-24 17:11] cmoulliard opened #52 "HelloWorld Integration test fails when tested against - openshift (minishift)"
This error is reported when we try to execute the Arquillian Integration test using OpenShift deployed on minishift

[code]

It looks like that the deployment failed or something happened when the rc was created

[code]

![screenshot 2017-03-24 18 10 15](https://cloud.githubusercontent.com/assets/463790/24305427/3541b4d2-10bd-11e7-8901-40256f9ae4fc.png)

[2017-03-24 17:13] cmoulliard opened #53 "Too many hibernate debug messages are logged"
When the Arquillian Integration Test is executed, hundred of lines are reported with DEBUG level about Hibernate Validator

[code]

This problem can be solved by adding within the logback.xml file the info level for hibernate validator

[2017-03-24 18:43] cmoulliard opened #55 "HelloWorld can't be deployed in minikube - docker image not found"
The deployment of the HelloWorld in minikube generates

[code]

generates this error

[code]

![screenshot 2017-03-24 19 40 42](https://cloud.githubusercontent.com/assets/463790/24308823/d317d39c-10c9-11e7-9aa6-47f5d0a0eb7c.png)

Kubernetes yaml file generated by f-m-p

[code]

[2017-03-26 15:43] cmoulliard opened #56 "Add more instructions within README file of HelloWorld"
Add more instructions within README file of HelloWorld :
- How to use kubernetes
- How to install locally minikube
- How to deploy on minikube.
- Purpose of the README

[2017-03-27 06:31] #53 closed

[2017-03-27 06:38] iocanel commented on #55
I don't think that this has to do anything with `spring-cloud-kubernetes` but its a purely `fabric8-maven-plugin` issue.

Also, according to the readme, you need to use it with something like:

    mvn clean package fabric8:build fabric8:deploy fabric8:start

Doesn't it just work with that?
Why do you remove the **fabric8:build** goal in #56?

[2017-03-27 06:57] cmoulliard commented on #55
According to the maven.fabric8.io doc, the goal fabric8:deploy already includes fabric8:build --> "This goal is designed to run fabric8:build and fabric8:resource before the deploy *iff you have the goals bound in your pom.xml:"

F-m-p is able to generate the kubenrnetes yaml file and next deploy it on kubernetes. But the issue is that the docker image can't be found `Failed to pull image "cloud/k

[2017-03-27 07:19] jstrachan commented on #55
I wonder if either `mvn fabric8:deploy` or `mvn fabric8:run` work better? With maven mojo's forking of lifecycles its possible to run duplicate goals if you also add in a redundant `package` goal too.

e.g. when generating timestamped images if you're not careful you'll regenerate the timestamps if you call the same goals multiple times.

One thing that might help is listing the available docker i

[2017-03-27 13:16] cmoulliard commented on #55
The problem is resolved is we fix the docker image to use latest. I will submit a fix

[2017-03-27 13:32] cmoulliard opened #59 "Use NodePort instead of ClusterIP"
Use NodePort instead of ClusterIP to allow to access from the host the service running within the pod

With this change, we can access the service using IP address returned by this command to make a curl request

[code]

[2017-03-27 13:41] cmoulliard opened #60 "javax.net.ssl.SSLException: java.security.ProviderException: java.io.IOException: Only uncompressed point format supported"
This error is reported when the SpringBoot pod running the HelloWorld example is started on minikube

[code]

[2017-03-27 14:32] #55 closed

[2017-03-27 14:32] #56 closed

[2017-03-29 19:40] cmoulliard commented on #60
This error occurs when we use the latest Java Alpine JDK Image 1.2 but does not exist using 1.2.3 version

[code]

[2017-03-30 09:27] #59 closed

[2017-03-30 11:04] iocanel commented on #47
@cmoulliard: can we close this one now?

[2017-03-30 11:19] #47 closed

[2017-03-30 11:20] cmoulliard commented on #60
As this problem is not related at all to Spring, Spring Boot or either Spring Cloud Kubernetes but to the Alpine JDK docker image, we can close it

[2017-03-30 11:20] #60 closed

[2017-03-30 11:22] cmoulliard commented on #9
@spencergibb Is there a guide describing such style convention ?

[2017-03-30 14:38] spencergibb commented on #9
No, there is no guide, but it should follow the other projects https://github.com/spring-cloud/spring-cloud-netflix/tree/master/docs

Basically, all the docs live there in asciidoc format, including the readme.

[2017-03-30 18:44] cmoulliard opened #65 "Service name is too long for the Spring Cloud Kubernetes Reload example"
When the Service resource yaml is generated for the Spring Cloud Kubernetes Reload example using f-m-p and deployed on Kubernetes (using minikube)

[code]

This error is reported
[code]
as the Service name has been truncated by fmp as it is longer as 24 chars

The workaround is to define a shorter name and pass it within the  <config/> tag of the fmp configuration

[code]

Such a modification must

[2017-03-30 18:58] cmoulliard opened #66 "ConfigMap - bean.message = HelloWorld is not loaded for Spring Cloud Kubernetes Reload example"
ConfigMap deployed on Kubernetes

[code]

Log of the spring boot application "Spring Cloud Kubernetes Reload example"

[code]

[2017-04-03 20:55] rhuss commented on #60
@cmoulliard I just released 1.2.5 of the images. Instead of a downgrade of Java, I tried an upgrade of Alpine (from 3.4 to 3.5). Could you please give fabric8/java-alpine-openjdk8-jdk:1.2.5 another try and check whether it solves the issue ? (unfortunately I dont have a test case at hand)

[2017-04-09 19:55] donovanmuller opened #67 "References to the "iPaas Quickstarts - Spring Boot - Ribbon" project should be updated"
The links to the [iPaas Quickstarts - Spring Boot - Ribbon](https://github.com/fabric8io/ipaas-quickstarts/tree/master/quickstart/spring-boot/ribbon) are invalid now.
They should be updated to the  [fabric8-quickstarts/spring-boot-ribbon](https://github.com/fabric8-quickstarts/spring-boot-ribbon) project I believe.

[2017-04-09 21:25] #67 closed

[2017-04-14 06:17] davinkevin commented on #42
Any news about this release ? Not even an SNAPSHOT release to let people try it 😄  in our project

[2017-04-14 06:49] iocanel commented on #42
@spencergibb: at the moment I am not aware of any pending k8s client issues? Is there something that needs to be done?

[2017-04-14 15:54] spencergibb commented on #42
@davinkevin there have been snapshots for a long while in https://repo.spring.io/libs-snapshot-local  See https://repo.spring.io/libs-snapshot-local/org/springframework/cloud/spring-cloud-kubernetes/

@iocanel as far as doing a release, I don't think so.

[2017-04-14 15:59] iocanel commented on #42
So, that means we can release?

[2017-04-14 16:02] spencergibb commented on #42
I think so. I will likely need to do it since you won't have access to publish under the `org.springframework.cloud` group id in maven central.

[2017-04-26 16:45] locorider opened #70 "Support Updating Metadata in KubernetesServiceInstance"
Currently **getMetadata()** in **KubernetesServiceInstance** returns
[code]
But other libraries like the *axon-distributed-commandbus-springcloud* use Metadata to store information like load factor. ([SpringCloudCommandRouter.java](https://github.com/AxonFramework/AxonFramework/blob/axon-3.0.x/distributed-commandbus-springcloud/src/main/java/org/axonframework/springcloud/commandhandling/SpringClou

[2017-05-02 10:13] cmoulliard commented on #60
@rhuss I try to use the docker image 1.2.5 as such on minikube for the example

[code]

and get a new error

[code]

which is still related to SSL ...

[2017-05-02 10:25] rhuss commented on #60
@cmoulliard thanks, I will try to reproduce it. probably better to avoid alpine for now.

[2017-05-02 10:44] cmoulliard commented on #66
Resolved with PR submitted #71

[2017-05-02 10:44] #66 closed

[2017-05-02 10:44] cmoulliard commented on #65
Resolved with PR submitted #71

[2017-05-02 10:44] #65 closed

[2017-05-02 12:16] cmoulliard opened #72 "Reload option doesn't work for kubernetes-hello-world-example project"
When we deploy the `kubernetes-hello-world-example` on minikube or minishift, the springboot application is well started BUT if the configMap is modified then the bean message is not reloaded

Options used

[code]

Scenario played

[code]

[2017-05-02 14:46] #72 closed

[2017-05-03 08:09] cmoulliard opened #73 "Setup KubernetesMockServer before to bootstrap springboot test"
I have developed a test case in order to check if the key to be used to populate the response message of the rest controller is coming from a Kubernetes ConfigMap which has been created using a MockServer

Here is the code of the class : https://github.com/cmoulliard/spring-cloud-kubernetes/blob/java-testcase/spring-cloud-kubernetes-config/src/test/java/org/springframework/cloud/kubernetes/config/

[2017-05-03 13:08] cmoulliard commented on #73
Fixed issue which was related to a wrong /api path

[2017-05-03 13:08] #73 closed

[2017-05-03 13:10] cmoulliard opened #74 "Add a more real Test case to demonstrate/test configMap"
Add a Java Junit Test case containing a SpringBoot application exposing a HTTP APi where the message is found from the Kubernetes ConfigMap deployed within a KubernetesMock Server

[2017-05-03 13:38] cmoulliard commented on #42
Can we release 0.20.2 after pushing and reviewing my 2 last PR @spencergibb, @iocanel ?

[2017-05-03 14:09] spencergibb commented on #42
I think that's fine. I'm prepping for OSCON, moving house the weekend and OSCON next week so I wouldn't be able to get to it until after then.

[2017-05-04 06:33] rhuss commented on #60
Just a next try with 1.2.6. If this doesn't work, I still have the option to downgrade to 1.8.0_111 for alpine. @cmoulliard could you give it another try with 1.2.6 ?

[2017-05-04 08:07] iocanel commented on #74
I think we can close this now.

[2017-05-05 07:07] cmoulliard commented on #60
@rhuss No more problem reported with 1.2.6 when this project is deployed on minikube

[2017-05-06 15:37] #74 closed

[2017-05-06 15:38] cmoulliard commented on #26
As we have started to add Groovy and/or Java Unit Tests, can we close this ticket ?

[2017-05-06 15:47] cmoulliard opened #77 "Add an example covering Ribbon & Hystrix"
Add an example where the client of the service will use Ribbon ClientDiscovery to find the address of the service registered within Kubernetes API (DNS), implements a CircuitBreaker using Hystrix

[2017-05-15 07:20] #77 closed

[2017-05-15 07:25] cmoulliard opened #80 "Ribbon and/or circuit breaker doesn't detect that pods are backs"
When we follow this [scenario](https://github.com/spring-cloud-incubator/spring-cloud-kubernetes/tree/master/spring-cloud-kubernetes-examples/kubernetes-circuitbreaker-ribbon-example) to demonstrate circuit breaker/ribbon, the first part of the demo works very well but not when we scale up to `1`, the pod of the `name service` after it was scale to `0`.
It is required to restart the pod `greeting

[2017-05-15 16:55] cmoulliard opened #81 "No qualifying bean of type 'com.netflix.client.config.IClientConfig' available"
I'm developing a new Java test case for the Ribbon module. The code is similar to what has been done within the groovy test case at the exception that If I run it using the [java junit testclass](https://github.com/cmoulliard/spring-cloud-kubernetes/blob/c6e8b8d30250b36719a6104f144320500680cd55/spring-cloud-kubernetes-ribbon/src/test/java/org/springframework/cloud/kubernetes/ribbon/RibbonTest.java

[2017-05-15 17:07] spencergibb commented on #81
If `KubernetesRibbonClientConfiguration` is created by normal spring configuration you'll get an error like that. If it's loaded as part of ribbon configuration, a `ClientConfig` instance will be auto created.

[2017-05-15 17:13] cmoulliard commented on #81
When it is define using this annotation ("@RibbonClient(name = "testapp", configuration = KubernetesRibbonClientConfiguration.class)"), will the client config be created automatically ?

[2017-05-15 17:15] cmoulliard commented on #81
I have been able to resolve the okhttp3 client (= was using the config of kube server instead of the mock server) after changing the annotation from @Before to @BeforeClass

[2017-05-15 18:24] cmoulliard commented on #81
As in my case, it is not created by default, I will continue to instantiate the bean till we will figure out how to resolve that. Make sense ?

[2017-05-15 18:29] spencergibb commented on #81
My guess is that it's getting picked up outside of `@RibbonClient`.

[2017-05-15 19:07] #26 closed

[2017-05-16 07:30] cmoulliard commented on #80
In order to understand the problem I have created a test case where no circuit breaker is defined in order to check first Ribbon.

Surprisingly, when the restTemplate.getObject is called [here](https://github.com/cmoulliard/spring-cloud-kubernetes/blob/27f4b4a3570ac5fb60ecc4d0b49342028909b14f/spring-cloud-kubernetes-ribbon/src/test/java/org/springframework/cloud/kubernetes/ribbon/RibbonFallbackTes

[2017-05-16 07:40] iocanel commented on #80
@cmoulliard: not sure how this is supposed to work.
But it doesn't sound that weird, given that endpoints are resources not managed by the user.

[2017-05-16 08:08] cmoulliard commented on #80
So, you think that we can't simulate this scenario ?

- Start 2 MockServer replying to request issued for this path `/greeting`
- Register the 2 MockServers as endpoints for the kubeMockerServer (`testapp-a` and `testapp-b`)
- Add test case (1) to check if we get a response using as Ribbon Client name `testapp` to call the endpoint --> `http://testapp/greeting`
- Delete the endpoints from kubeMock

[2017-05-17 16:17] cmoulliard opened #82 "Update spring-cloud-netflix & sleuth dependencies"
As spring-cloud-netflix & sleuthprojects have been released, we should update these versions

https://github.com/spring-cloud-incubator/spring-cloud-kubernetes/blob/master/pom.xml#L62-L64

[code]

to use

[code]

[2017-05-17 16:40] spencergibb commented on #82
:+1:

[2017-05-17 16:42] cmoulliard commented on #82
I will send a PR. FYI, this issue #80 is fixed BUT it will need this PR to be working (= to let the mvn test to pass)

[2017-05-18 04:53] cmoulliard opened #85 "Log polluted with java.lang.IllegalStateException: Shutdown in progress"
Test logs got polluted with IllegalStateException being thrown every time context is closed

[code]

Error is similar to : https://github.com/spring-cloud/spring-cloud-commons/issues/111 & discussed at Netflix - https://github.com/Netflix/netflix-commons/issues/22

[2017-05-18 08:20] cmoulliard commented on #80
Scenario described initially as issue retested successfully. It is required to wait more time as the endpoints are not registered as quickly as we can suppose when the pods are recreated

[code]

[2017-05-18 08:20] #80 closed

[2017-05-18 08:39] cmoulliard commented on #81
Problem resolved with PR - #83 and commit 6696b361c192f38569d667572dfccaf048fbdee0

[2017-05-18 08:39] #81 closed

[2017-05-18 09:27] iocanel commented on #52
@cmoulliard: Maybe it worths adding something like:

     <property name="wait.timeout">600000</property>

to the arqullian.xml so that it waits a little bit longer.

I also strongly suggest upgrading arquillian cube to 1.2.0  which will result on having tons of feedback on why the environment failed to initialize in time.

[2017-05-18 09:29] cmoulliard commented on #52
We suffer from 2 Arquillian restrictions no matter which version we use of Arquillian Cube Kubernetes (>= 1.3.2) which are :

1) The user logged to the OpenShift platform doesn't has access to the generated namespace.

[code]

[2017-05-18 09:59] iocanel commented on #52
To be honest I don't see any restriction related to arquillian.

1. In openshift a user that needs to be able to create a new project requires the `self-provisioner` role. Once the project is created, the user will have full access to the project. If you can't ensure that you have the `self-provisioner` role, then regardless of the tool you are using, you'll need to use an existing namespace. Arqu

[2017-05-18 10:01] cmoulliard commented on #52
Can you explain what you configure here ?

[2017-05-18 10:02] cmoulliard commented on #52
The resource is not filtered even if we add to the profile `integration`

[code]

[2017-05-18 10:18] cmoulliard commented on #52
Even if we use the tricks mentioned previously a NPE is reported

[code]

When I look to what is deployed, there is an issue as the docker image can't be found even if the image has been added within the docker registry.
What is strange is that the pod tries to pull the `library/kubernetes-hello-world:latest` image ....

[code]

[2017-05-18 10:24] iocanel commented on #52
Updated my previous comment, so that you see the clearly the configuration options.

[2017-05-18 10:25] iocanel commented on #52
Please run your mvn build with -X so that I can have a better look at the output.

[2017-05-18 10:29] cmoulliard commented on #52
Here is the more relevant part

[code]

[2017-05-18 10:33] iocanel commented on #52
Didn't realize that you are not using `arquillian-cube-openshift`.
If you want to run against openshift, you have to use it.

Issues 1 and 3 will get automatically resolved if you add in your dependencies.

[2017-05-18 10:34] cmoulliard commented on #52
I'm not the owner of this code ;-) Will make a test with arquillian-cube-openshift

[2017-05-18 11:05] cmoulliard commented on #52
The test is working when I use openshift-cube-openshift dep but I can't specifiy the yml file to be used

[code]

Generate :

[code]

[2017-05-18 13:38] #82 closed

[2017-05-19 15:50] cmoulliard opened #88 "Doc : Kubernetes Profile Autoconfiguration ?"
We need more info about this feature and certainly a better description as to be honest I don't understand

- What is the Kubernetes `Profile` ?
- What a user can configure with such profile ?
- What means `in` and `out` ?

[code]

[2017-05-19 16:03] cmoulliard opened #89 "Doc : Improve Transparency section"
We should explain why the technology used here allow to be used `in` and `out` of Kubernetes & how we can troubleshoot (E.g. example)

[code]

[2017-05-19 17:24] cmoulliard opened #90 "Add new module - Turbine discovery"
As NetFlix OSS proposes a nice [solution](https://github.com/Netflix/Turbine/wiki) to aggregate the  streams of server send events - Turbine, we should integrate also the Turbine Discovery project [developed under the Kubeflix github org](https://github.com/fabric8io/kubeflix/tree/master/turbine-discovery) within Spring Cloud Kuerbernetes in order to provide the Discovery feature when the applicat

[2017-05-19 20:24] spencergibb commented on #90
spring-cloud-netflix has support for using turbine with [CommonsInstanceDiscovery](https://github.com/spring-cloud/spring-cloud-netflix/blob/master/spring-cloud-netflix-turbine/src/main/java/org/springframework/cloud/netflix/turbine/CommonsInstanceDiscovery.java) which s-c-k8s implements. Is there anything else needed?

[2017-05-19 20:26] spencergibb commented on #88
It's similar to the `cloud` profile that gets activated when running in cloud foundry. Users can mark `@Configuration` classes with `@Profile("kubernetes")` to conditionally activate those configurations.

[2017-05-20 07:18] cmoulliard commented on #90
I will review the existing [code](CommonsInstanceDiscovery ) to see if it fits our requirements implemented in [TurbineDiscovery](https://github.com/fabric8io/kubeflix/blob/master/turbine-discovery/src/main/java/io/fabric8/kubeflix/turbine/TurbineDiscovery.java) to grab the endpoints where the `hystrix_enabled` label is `true`

[2017-05-20 07:22] cmoulliard commented on #88
I don't think that we have already defined a Profile for Kubernetes and/or Openshift where within the implementation it checks if the pod runs top of Kubernetes or OpenShift

[2017-05-20 10:41] iocanel commented on #90
The kubeflix turbine discovery module aimed, at non spring users. For spring users, using the discovery module of spring cloud kubernetes, should actually work (though I haven't tried it).

On the other hand, the kubeflix discovery module does have some extra goodies, like support cross namespace aggregation, filtering services by label etc. If it makes sense, to have those for spring cloud kubern

[2017-05-20 10:50] iocanel commented on #88
its not our job to define it, its the users. we just let the user code know
when its run inside kubernetes.

On Sat, May 20, 2017 at 10:22 AM, Charles Moulliard <
notifications@github.com> wrote:

--
*Ioannis Canellos*

*Blog: http://iocanel.blogspot.com <http://iocanel.blogspot.com/>*
*Twitter: iocanel*

[2017-05-22 08:01] iocanel commented on #52
Right, there is still a bug in arquillian cube for which I just created a pull request.

[2017-05-22 08:33] cmoulliard commented on #90
According to our discussion, here are the actions that I propose to do :

- [ ] Test Turbine with Spring Cloud Discovery mechanism to see if works base on an example or test case
- [ ]  Add cross namespace aggregation feature
- [ ]  Add filtering services by label
- [ ]  Anything else ?

[2017-05-22 08:40] cmoulliard commented on #88
According to the Spring [doc](https://docs.spring.io/spring/docs/current/javadoc-api/org/springframework/context/annotation/Profile.html), the profile can be enable using a System Property, env variable, ...
As we will most probably follow the approach base on ENV var, we must explain within Spring Cloud doc, how such ENV var can be [defined](https://kubernetes.io/docs/tasks/inject-data-applicatio

[2017-05-22 08:52] iocanel commented on #88
What this module does, is eliminate the need for ENV etc.
If the code is run inside Kubernetes, the module will detect that and will automatically enable the `kubernetes` profile, if it exists.

Users, can optionally create configuration, that will be enabled as part of kubernetes profile.

Example:
You write an app that connects to a database.
For dev time the simplest possible way, is to run the

[2017-05-22 15:45] cmoulliard opened #91 "Add zipkin test case"
The module spring-cloud-kubernetes-zipkin doesn't contain any test or mock test case. I propose to add such a test to validate the logic implemented

[2017-05-23 10:23] cmoulliard opened #92 "Spring Cloud Kubernetes Core refers 1.4.2.BUILD-SNAPSHOT version for Spring Boot Starters"
The project Spring Cloud Kubernetes Core refers to a `BUILD-SNAPSHOT` version for Spring Boot Starters.

- We should define it within the parent project
- We should use an official release (which one ?)

[code]

[2017-05-23 10:49] cmoulliard opened #93 "[Suggestion] Add a new module containing Openshift Template or Kubernetes List"
I would like to propose to create a new maven module containing yaml/json config files of related technology (E.g. Hystrix Dashboard, Turbine Server, ...) that we could deploy on Kubernetes/Openshift to play with Spring Cloud Kubernetes Hystrix, Spring Cloud Kubernetes Zipkin, ...

Openshift Templates

- [Hystrix Dashboard](https://github.com/snowdrop/openshift-templates/blob/master/hystrix-dashbo

[2017-05-23 12:04] spencergibb commented on #92
spring-cloud-build defines the Spring Boot version and it shouldn't be defined locally in the project.

[2017-05-23 12:28] cmoulliard opened #94 "Question: POM file managing the dependencies + versions of the project"
Which maven module is supposed to be used to manage as a parent pom, the dependencies + versions declared for Spring Cloud Kubernetes

The pom.xml file, part of the root folder of the project, contains a section with versions

[code]

while this is also the case for the pom.xml created under `spring-cloud-kubernetes-dependencies`

[code]

We should perhaps manage in one place the versions + depend

[2017-05-23 13:30] cmoulliard commented on #92
I don't see any definition of the starter as this one `org.springframework.boot:spring-boot-autoconfigure:jar:1.4.2.BUILD-SNAPSHOT` within the [spring-cloud-build repo](https://github.com/spring-cloud/spring-cloud-build). Do I miss something ?

[2017-05-24 07:42] cmoulliard opened #96 "Doc: Cover Hystrix"
The README page doesn't cover SCK Hystrix. We should detail what the SCK Hystrix allows to do or offers as feature.

Currently, it will initialize a `HystrixRequestContext context = HystrixRequestContext.initializeContext();` for every HTTP request and close it, end of the request

See Hystrix doc about [RequestContext](https://netflix.github.io/Hystrix/javadoc/com/netflix/hystrix/strategy/concurr

[2017-05-24 20:53] spencergibb commented on #92
https://github.com/spring-cloud/spring-cloud-build/blob/171be768c76fc4f8e7f6fc82ed3b0bbdeaa4e3d2/spring-cloud-build-dependencies/pom.xml#L12-L16

[2017-05-24 20:53] spencergibb commented on #92
We should bump the spring-build-parent version to 1.3.x

[2017-05-24 20:58] spencergibb commented on #96
What does SCK do with Hystrix beyond what is provided by s-c-netflix?

[2017-05-24 21:04] spencergibb commented on #94
We have to be careful because of the way the release train is structured. Things that the release train supplies (commons, netflix, sleuth) shouldn't be in `spring-cloud-kubernetes-dependencies`. `spring-cloud-kubernetes-dependencies` should be for dependencies that clients will need that are needed by this project.

[2017-05-26 08:54] cmoulliard commented on #92
If we use this SNAPSHOT Version of the [spring-cloud-build-dependency](https://github.com/spring-cloud/spring-cloud-build/blob/171be768c76fc4f8e7f6fc82ed3b0bbdeaa4e3d2/spring-cloud-build-dependencies/pom.xml#L8), will this version be changed when we release 0.2.0 (= removing SNAPSHOT) ?

[2017-05-26 11:43] cmoulliard commented on #88
@iocanel Can me mock such a use case easily where by example we define using configmap a different value for the key `db.url` or Arquillian Cube Kubernetes + active instance of minikube will be required ?

[2017-05-26 12:24] cmoulliard commented on #94
Thanks for the info Spencer. We should maybe document such info within the Developer Guide @spencergibb ?

As `<fabric8.maven.plugin.version>3.2.28</fabric8.maven.plugin.version>` is specific to this project  I propose to move it under `spring-cloud-kubernetes-dependencies`. Make sense @iocanel ?

[2017-05-26 14:03] cmoulliard commented on #96
The idea of the HystrixRequestContext is to share between different threads the info coming from a request. Here is a use case describing that [idea](https://jfconavarrete.wordpress.com/2014/09/15/make-spring-security-context-available-inside-a-hystrix-command/)

As the code implemented here is not specific to Kubernetes or even OpenShift, I'm also sceptical about the pertinence of this module und

[2017-06-01 02:43] spencergibb commented on #92
yes

[2017-06-06 15:10] cmoulliard opened #100 "Develop a new module around Jaeger & OpenTracing"
In order to support Open Tracing initiative and to propose an alternative to Zipkin, I suggest to develop a new module around OpenTracing in order to report traces to Jaeger/OpenTracer dashboard, retrieve the tracer registered as a service and defined within the application.properties file.

[2017-06-07 09:11] manderson23 opened #102 "ConfigUtils logs under SecretsPropertySource class name"
When enabling DEBUG logging this leads to some confusion as logging in relation to finding the Config Map appears under the SecretsPropertySource logger.

[2017-06-07 10:48] manderson23 opened #103 "spring-cloud-starter-kubernetes-config should require spring-boot-actuator"
Starter projects are meant to get you up and running quickly and auto reloading the Config Map relies on RestartEndpoint being available.

Should spring-boot-actuator be a required dependency for spring-cloud-starter-kubernetes-config? (I see that spring-boot-actuator was made optional for core in #25)

I spent a good few hours figuring out that reloading wasn't working due to the absense of sprin

[2017-06-08 08:33] manderson23 commented on #103
I also had a similar issue with Discovery requiring spring-cloud-commons

[2017-06-13 12:51] manderson23 opened #104 "Support services with multiple ports in KubernetesDiscoveryClient"
I have a zookeeper Service configured as follows:
[code]
In this case the K8 client finds an Endpoint for `zoo1` where the `EndpointSubset` has one address and three ports.

A call to `discoveryClient.getInstances("zoo1")` returns the `leader` port only whereas I would like the `client` port.

Should `KubernetesDiscoveryClient` return three `ServiceInstance` in this case? One for each port?

[2017-06-13 18:13] spencergibb commented on #100
See https://github.com/spring-cloud-incubator/spring-cloud-kubernetes/pull/101#issuecomment-308202338

[2017-06-13 18:13] #100 closed

[2017-06-13 18:22] spencergibb commented on #104
Are the services on each port distinct? We do something similar in s-c-consul and s-c-zookeeper if the management port is set.

[2017-06-14 07:53] manderson23 commented on #104
ZK deployment and service is configured in a similar manner to the yaml within spring-cloud-dataflow-server-kubernetes.

There are then 3 instances of each ZK service/deployment pair.

[2017-06-22 10:17] iocanel opened #105 "The client configuration bean requires additional settings"
Currently its out of sync with https://github.com/fabric8io/kubernetes-client/blob/master/kubernetes-client/src/main/java/io/fabric8/kubernetes/client/Config.java

Some properties of interest are the proxy related properties which are definitely missing.

[2017-06-22 14:46] cmoulliard opened #106 "K8S ConfigMap doesn't work very well with profile"
When the following configMap is defined

[code]

and the profile `development` specified

[code]

the rest endpoint defined within the controller

[code]

returns the wrong message

[code]

It seems that only the latest key is loaded ...

Keys/values are well parsed

[code]

The existing code should take care of the profile as the class `org.springframework.boot.env.YamlPropertySourceLoader` of sp

[2017-06-23 07:14] cmoulliard commented on #106
Fix #107

[2017-06-23 07:14] #106 closed

[2017-06-28 18:39] trisberg opened #108 "Update io.fabric8 kubernetes-client version"
Any plans on updating the io.fabric8 kubernetes-client version which is currently at 2.4.1?

Also, what are you release plans for 0.2.0? I didn't see a milestone or date defined here.

[2017-06-28 18:51] trisberg commented on #108
Currently the s-c-dataflow-server-kubernetes uses the io.fabric8 spring-cloud-kubernetes lib and it also has a dependency on the s-c-deployer-kubernetes project which uses the io.fabric8 kubernetes-client version 2.4.1, would be nice to have same version of the client lib

[2017-06-30 22:31] iocanel commented on #108
It's a good idea to update to 2.4.1 and also get a release out.

[2017-07-03 22:42] spencergibb opened #109 "Failing test in CI"
`RibbonFallbackTest.testFallBackGreetingEndpoint()`

https://jenkins.spring.io/blue/organizations/jenkins/spring-cloud-kubernetes-master-ci/detail/spring-cloud-kubernetes-master-ci/1603/pipeline

[2017-07-06 08:17] #92 closed

[2017-07-06 08:17] #91 closed

[2017-07-06 08:17] cmoulliard commented on #88
README doc improved

[2017-07-06 08:17] #88 closed

[2017-07-06 08:18] #52 closed

[2017-07-06 08:19] #41 closed

[2017-07-06 08:19] cmoulliard commented on #89
README file updated

[2017-07-06 08:19] #89 closed

[2017-07-06 10:22] jniebuhr commented on #42
Any news on this? It's been a while.

[2017-07-06 10:27] cmoulliard commented on #42
I think that it is time now to release as we have reviewed the README (see last PR), added new examples, fix some issues, ....

[2017-07-06 19:29] spencergibb commented on #42
The build has a failing test, and I'd like #108 to be fixed.

[2017-07-07 04:38] cmoulliard commented on #109
I don't have access

<img width="1431" alt="screenshot 2017-07-07 06 37 27" src="https://user-images.githubusercontent.com/463790/27943361-d056e1cc-62de-11e7-98d1-d969df40a34d.png">

[2017-07-07 04:44] cmoulliard commented on #109
This test is failing as the `service.occurence` value must be changed for machine which are faster than CircleCi -> https://github.com/cmoulliard/spring-cloud-kubernetes/blob/ba558139e71bd4f4275b9c09911b6020875d97d9/spring-cloud-kubernetes-ribbon/pom.xml#L145

[2017-07-07 16:21] #108 closed

[2017-07-07 16:23] spencergibb commented on #109
[code]

[2017-07-07 16:52] #109 closed

[2017-07-07 19:26] spencergibb commented on #104
@iocanel thoughts?

[2017-07-07 19:33] spencergibb commented on #103
Actually, it should be optional, but things using it should be conditionally created. `DiscoveryClient` is from `spring-cloud-commons` so that is required.

@iocanel or @cmoulliard?

[2017-07-10 07:35] iocanel commented on #104
In theory we could return all service instances and add the port name as part of the metadata, so that the user can filter ports if needed.

The thing is that the discovery client is not just something used by the user (who can adapt to whatever convention we use), but is also used by other parts of the ecosystem, that will fail to properly handle the convention.

So I really don't know what's bes

[2017-07-10 15:11] cmoulliard commented on #103
Spring Boot actuator is only required to use spring-cloud-kubernetes core module to register our [KubernetesHealthIndicator](https://github.com/spring-cloud-incubator/spring-cloud-kubernetes/blob/master/spring-cloud-kubernetes-core/src/main/java/org/springframework/cloud/kubernetes/KubernetesHealthIndicator.java)

DiscoveryClient is not used by the modules sck core / config

[2017-07-10 15:19] spencergibb commented on #103
And it looks like it is protected correctly by an actuator class https://github.com/spring-cloud-incubator/spring-cloud-kubernetes/blob/db99dfa2351a76d55e81c90f3335c2419c0c3470/spring-cloud-kubernetes-core/src/main/java/org/springframework/cloud/kubernetes/KubernetesAutoConfiguration.java#L90

@manderson23 you'll need to provide a project that recreates the problem.

[2017-07-10 15:24] cmoulliard commented on #103
Errare humanum est. @manderson23 is right when he says that actuator is required as the ConfigReloadConfiguration bean of sck-config - reload part uses the RestartEndpoint.class - https://goo.gl/QyFvrb which extends the `org.springframework.boot.actuate.endpoint.AbstractEndpoint` class of actuator

[2017-07-10 15:27] spencergibb commented on #103
Ah, so that line needs to add a conditional on actuator class.

[2017-07-10 15:36] cmoulliard commented on #103
@spencergibb Do you suggest that we remove the parameter optional here - https://goo.gl/wDPb6w ?

[2017-07-10 15:40] spencergibb commented on #103
No, I suggest adding `Endpoint.class` to https://github.com/cmoulliard/spring-cloud-kubernetes/blob/1cf4f5663c240324d39161b48bb228d50ae76575/spring-cloud-kubernetes-config/src/main/java/org/springframework/cloud/kubernetes/config/reload/ConfigReloadAutoConfiguration.java#L49 and a test ala https://github.com/spring-cloud/spring-cloud-commons/blob/master/spring-cloud-commons/src/test/java/org/sprin

[2017-07-10 15:47] cmoulliard commented on #103
ok. I will work on it.

[2017-07-10 16:14] cmoulliard commented on #103
What is the effect to add the`Endpoint.class` to this line

[code]

If I start the sck-reload example (" kubernetes-reload-example") without actuator, not error is displayed

[2017-07-10 16:24] spencergibb commented on #103
`Endpoint` is from spring-boot-actuator, the others from spring-cloud-commons. If they have commons and not actuator, I'd think there would be a problem trying to use `RestartEndpoint`.

[2017-07-10 16:47] cmoulliard commented on #103
I have redeployed the kubernetes reload example with the sck-config modified `@ConditionalOnClass({Endpoint.class, RestartEndpoint.class, ContextRefresher.class})` without the dependency sb-actuator and the project runs perfectly on openshift

[code]

[2017-07-11 06:28] cmoulliard commented on #103
There is something that I don't understand.

As actuator is mandatory and used by the RestartEndpoint.class -> see `org.springframework.cloud.context.restart.RestartEndpoint extends AbstractEndpoint<Boolean>` where `AbstractEndpoint;` is coming from actuator `import org.springframework.boot.actuate.endpoint.AbstractEndpoint`, why do we have to add such conditions

`@ConditionalOnClass({Endpoint.cl

[2017-07-11 12:00] metacosm opened #113 "Rename kubernetes-zipkin module to kubernetes-zipkin-example for better coherence"

[2017-07-12 14:06] iocanel commented on #103
@cmoulliard: My guess is that someone is bringing the actuator in anyways.

My understanding based on the class hierarchy presented above is that if the actuator was not in the class path, we would have a CNFE.

[2017-07-12 14:12] cmoulliard commented on #103
I will do a new test but no CNFE was reported.

[2017-07-12 14:36] itsmurugappan opened #115 "Zipkin discovery in Kubernetes"
The official docker image of zipkin exposes port 9410 and 9411. The Zipkin discovery module discovers zipkin service but posts to 9410 which doesnt work. In OSE i had to remove the 9410 port from being exposed, then it posts to 9411.

[2017-07-12 20:10] #115 closed

[2017-07-13 09:40] gytis opened #116 "Allow different configuration files when creating a ConfigMap"
Spring Boot Kubernetes only looks for a limited number of file names in a ConfigMap [1]. In simple Spring Boot user can decide what file to use for properties and name is configurable [2]. Same should be available when running on Kubernetes. Thus allowing user to create ConfigMap from various files.

[1] https://github.com/spring-cloud-incubator/spring-cloud-kubernetes/blob/master/spring-cloud-kub

[2017-07-14 16:07] cmoulliard commented on #103
I confirm. No CNFE is reported within the log of the console

[code]
public class ConfigReloadAutoConfiguration {

    /**
     * Configuration reload must be enabled explicitly.
     */
    @ConditionalOnProperty(value = "spring.cloud.kubernetes.reload.enabled")
    @ConditionalOnClass({Endpoint.class, RestartEndpoint.class, ContextRefresher.class})
    @EnableScheduling
    @EnableAsync
    prot

[2017-07-14 16:51] cmoulliard commented on #113
@metacosm As PR has been merged, can you close it ?

[2017-07-14 19:37] #113 closed

[2017-07-18 11:58] metacosm commented on #116
@gytis Do we need/want to support the full configuration mechanism (i.e. supporting files defined by `spring.config.location`) or is supporting `spring.config.name` enough?

[2017-07-18 12:23] gytis commented on #116
@metacosm I think in this case what we need to configure is configmap name and file name inside a configmap.

[2017-07-18 12:24] gytis commented on #116
Not sure that spring.config.location is necessary and how would it work with a configmap.

[2017-07-19 06:55] cmoulliard commented on #116
spring.config.location is still required to let Spring to know that the
file to scam is not longer application.properties|yaml but now x.y.z.yaml

Then this configMap should work

kind: ConfigMap
apiVersion: v1
metadata:
  name: example-config
data:
  x.y.z.yaml: |-
    property.1=value-1
    property.2=value-2

On Tue, Jul 18, 2017 at 2:24 PM, Gytis Trikleris <notifications@github.com>
wrote:

--

[2017-07-19 08:11] cmoulliard opened #117 "Use minikube with --vm-driver=none to run our integration tests on Travis"
Minikube offers the possibility to run in an existing provisioned VM as this is the case when we use Travis, ...

https://github.com/kubernetes/minikube#linux-ci-installation-which-supports-running-in-a-vm-example-w-kubectl-installation

Example of such travis file : https://github.com/jaegertracing/jaeger-kubernetes/blob/master/.travis.yml

[2017-07-19 09:11] gytis commented on #116
This ConfigMap will not work as is, because Spring Cloud Kubernetes has hardcoded properties file names. After that is changed, we need to test and verify that spring.config.location is needed or not.

[2017-07-24 15:20] mehdikhelif commented on #42
Hello, any news on this ?  Is there any remaining issues to be fixed ?

[2017-07-24 15:45] spencergibb commented on #42
Likely this week

[2017-07-25 08:56] mehdikhelif commented on #42
Great. Thanks Spencer

[2017-07-26 11:32] metacosm opened #119 "Enabling / disabling ConfigMap / Secrets property sources doesn't seem to work"
`spring.cloud.kubernetes.config.enabled` and `spring.cloud.kubernetes.secrets.enabled` are properly set but `AbstractConfigProperties.isEnabled` method doesn't appear to be used anywhere…

[2017-07-26 13:16] metacosm commented on #116
@gytis configmap/secret name is already configurable via `spring.cloud.kubernetes.(config|secret).name` property, so the only thing that needs to be configured is the file name inside the ConfigMap…

[2017-07-26 15:20] spencergibb commented on #119
Did you put them in `bootstrap.properties`? See https://github.com/spring-cloud-incubator/spring-cloud-kubernetes/blob/master/spring-cloud-kubernetes-config/src/main/java/org/springframework/cloud/kubernetes/config/BootstrapConfiguration.java

[2017-07-26 16:09] metacosm commented on #119
@spencergibb I was basing my comment on the fact that `AbstractConfigProperties.isEnabled` method doesn't appear to be checked anywhere in the code but indeed, I had seen the conditional stuff in BootstrapConfiguration but somehow forgot about it… :)

[2017-07-26 16:09] metacosm commented on #119
This, however, leads to other issues but I will open another issue.

[2017-07-26 16:12] metacosm opened #120 "Shouldn't reload configuration be disabled if config is disabled?"
Configuring automatic reload of configuration fails if configuration is disabled. Shouldn't this be handled more gracefully?

Description:
--
  |  
  | Field configMapPropertySourceLocator in org.springframework.cloud.kubernetes.config.reload.ConfigReloadAutoConfiguration$ConfigReloadAutoConfigurationBeans required a bean of type 'org.springframework.cloud.kubernetes.config.ConfigMapPropertySource

[2017-07-26 16:14] metacosm commented on #119
@spencergibb by the way, how do you debug the bootstrapping code? I.e. how do you attach a debugger to the pod being deployed so that you can step debug the property sources do their work?

[2017-07-26 16:18] spencergibb commented on #120
That's from the autoconfig report? I think it's fine to not run auto-configuration if a bean isn't present. I don't see this as a problem.

[2017-07-26 18:46] #120 closed

[2017-07-27 03:50] davinkevin commented on #42
I'm in the starting block for that 🚗

[2017-07-27 08:19] metacosm commented on #116
@gytis do you have an example app where this change would be useful?

[2017-07-27 15:56] gytis commented on #116
Yes, in configmap booster. Vert.x and Swarm use file called app-config.yml. I wanted to do the same for ours to keep consistent with them, but wasn't able to.

[2017-07-27 18:52] spencergibb opened #121 "Upgrade to Dalston.SR2 spring cloud dependencies"

[2017-07-27 18:53] #121 closed

[2017-07-27 18:54] #18 closed

[2017-07-27 18:54] spencergibb commented on #18
already taken care of

[2017-07-27 18:55] spencergibb opened #122 "Upgrade to mvn 3.5.0"

[2017-07-27 18:55] #122 closed

[2017-07-27 19:05] spencergibb commented on #102
Closed via #118

[2017-07-27 19:05] #102 closed

[2017-07-27 19:29] spencergibb opened #123 "Skip maven deploy of examples"

[2017-07-27 19:43] #42 closed

[2017-07-27 19:43] #123 closed

[2017-08-09 10:35] maxromanovsky commented on #46
@iocanel Any news about that?

[2017-08-09 15:55] iocanel commented on #46
I haven't found the cycles to implement it, even though it should be fairly trivial to do so.

[2017-08-11 13:59] lucastheisen opened #124 "java.lang.NoSuchMethodError: org.springframework.boot.builder.SpringApplicationBuilder.<init>"
I have a spring boot project using this pom:
[code]

After adding:
[code]

My build fails with:
[code]

[2017-08-11 14:07] cmoulliard commented on #124
I suspect that you have 2 different versions of Spring Boot defined. Can you output `mvn dependency:tree | grep boot` please ?

[2017-08-11 14:15] lucastheisen commented on #124
[code]

[2017-08-11 14:19] spencergibb commented on #124
This project is not compatible with spring boot 2.0 yet

[2017-08-11 14:23] lucastheisen commented on #124
@spencergibb , well then... that explains it.   Guess i can just try dropping my spring boot version back to the 1.5 branch and see what happens...  I just saw the 2 in _0.2.0_ any my brain just transposed that to _2.0.0_ and make the connection in jump to the same jump in spring boot...

Alternatively, is there another path to make the various features work with 2?  Like a more complicated spring

[2017-08-11 14:26] spencergibb commented on #124
It will happen in due course.

[2017-08-11 17:40] lucastheisen commented on #124
Switching back to the 1.5 branch resolved this issue for me...  Thanks for the info!

[2017-08-11 17:40] #124 closed

[2017-09-11 09:25] manderson23 opened #128 "Add InfoContributor to provide Pod details"
It would be useful if the /info endpoint included a "kubernetes" key containing the same Pod details are returned by the health indicator.

[2017-09-12 09:30] tomhughesnice opened #129 "How to import multiple config maps"
I am about to use the feature of this project to import Kubernetes configmap into my deployment.

https://github.com/spring-cloud-incubator/spring-cloud-kubernetes#configmap-propertysource

This allows me to specify a single a single configmap to import. I would like to specify a configmap for multiple things for example Postgres Settings, RabbitMq Setting, Logging settings that can be combined in

[2017-09-12 14:48] spencergibb commented on #129
Is this your question https://stackoverflow.com/questions/46179113/kubernetes-spring-cloud-multiple-config-maps-being-used?

[2017-09-14 13:39] tomhughesnice commented on #129
That question was one of my colleagues yes. It seems that you can import multiple secrets using this tool, but not configmaps. Is there a reason for this, or just not implemented?

[2017-09-16 10:35] salaboy opened #130 "Does this work with Zuul? For automatic routes discovery?"
If not, I can provide a PR if I get some pointers on how to add support for that.

[2017-09-20 06:39] marcingrzejszczak opened #131 "KubernetesApplicationContextInitializer always tries to parse certificates"
when you have `spring-cloud-kubernetes` on the classpath and you're running integration tests that start up Boot context, then regardless of the fact whether you use Kubernetes or not, by default it tries to parse certificates from your local folders. That's because the `KubernetesApplicationContextInitializer` does this in the constructor.

In my opinion either it should be evaulated lazilly or i

[2017-09-28 12:37] christophetd commented on #130
I got it working along with Zuul.

Essentially you need to include the Kubernetes discovery client, annotate your main class with `@EnableDiscoveryClient` (and `@EnableZuulProxy` obviously), and add a Zuul route such as:

[code]

[2017-09-28 12:39] Salaboy commented on #130
Well along Zuul is not the same as with Zuul :) I was expecting automatic routes discovery, that might require Zuul changes so it also knows how to go to the kubernetes registry to pick up the available services.

[2017-09-28 12:42] christophetd commented on #130
I updated my previous post to include more details. However, I noticed that the list of services Zuul knows about doesn't update itself automatically if you add or remove a service from Kubernetes. The only solution I found to force it to update is to send a POST request to `/routes`, but there might be a better way.

[2017-09-28 12:43] Salaboy commented on #130
yes.. it might be related with @RefreshScope (??)

[2017-10-09 15:29] cmoulliard opened #133 "Upgrade to Spring Cloud Dalston SR4"
As Spring Cloud Dalston SR4 is out, it should be interesting for next release to be aligned with Spring Cloud Dalton SR4

https://spring.io/blog/2017/10/03/spring-cloud-dalston-sr4-is-now-available

[2017-10-10 13:37] christophetd opened #134 "Restrict to services with specific Kubernetes labels"
Hi,

I'd like to use spring-cloud-kubernetes along with Zuul (or equivalent) to expose to the outside world Kubernetes services having a specific label (e.g. `expose_publicly: yes`).

I don't think it's currently possible to do that - I'm ready to propose a PR to do that if you think it can be interesting for the project. I'm not sure how it could be implemented, but I'm thinking it could make sen

[2017-10-11 03:43] raffian opened #135 "How to control scope of services returned by DiscoveryClient"
In our kubernetes non-prod installation, we suffix `-<env>` to project names to organize deployments for applications in those namespaces by their target runtime environment. Is there a way to filter services returned by DiscoveryClient such that an application deployed to `qa` is allowed to discover only services deployed to `qa`? We're using ovs-multitenant platform security, so applications, by

[2017-10-11 06:22] christophetd commented on #135
Looks like it's related to #134. A filter feature would definitely be great to have!

[2017-10-11 06:35] christophetd commented on #135
Could be something around the lines of https://gist.github.com/christophetd/971cdc8e330eb237be37e751431f842f

[2017-10-11 06:36] christophetd commented on #135
It could also be implemented as a filter, which a feature I suggested in #134.

[2017-10-11 11:34] raffian commented on #135
Just to be clear, `billing-dev` is the namespace/project name; applications in that namespace using DiscoveryClient may be SearchApp, FrontEndUI, EmailProcessor. If DiscoveryClient has a method for getting the service's namespace, the suffix should be obtained from that.

[2017-10-11 11:51] christophetd commented on #135
Ah, missed it - I thought `billing-dev` et al. were service names. No idea in this case.

[2017-10-11 14:53] raffian commented on #135
I'm still not clear how services are filtered by DiscoveryClient. During our first test we got an error; our  application was not able to talk to kubernetes REST Api; we expected that, so we updated the project's security policy as per the documentation:

`oc policy add-role-to-user cluster-reader system:serviceaccount:billing-dev:default`

Once we did that the error disappeared. I suppose the nex

[2017-10-11 20:20] dlaidlaw opened #136 "Spring Cloud Config Shared Configuration"
With Spring Cloud Config, it is possible to have shared configuration. See: http://cloud.spring.io/spring-cloud-static/spring-cloud-config/1.3.3.RELEASE/single/spring-cloud-config.html#_sharing_configuration_with_all_applications

With this, the application properties and yaml files (application.properties, application.yml) are shared across all applications. Application-specific properties and ya

[2017-10-16 20:58] ahsimon opened #137 "Caused by: javax.net.ssl.SSLPeerUnverifiedException: Hostname kubernetes.default.svc not verified:"
trying to reading configMap from a BluemixCluster the following error is thows,  if default certificate is created by cloud provider, how can we pass through   this kind of  exception ?

: 2017-10-16 20:04:35,391 [main] DEBUG o.s.c.e.PropertySourcesPropertyResolver - Could not find key 'context.initializer.classes' in any property source
2017-10-16 20:04:35,467 [main] WARN  i.f.s.c.kubernetes.Stan

[2017-10-17 02:43] tabiul opened #138 "ConfigMap cannot be read even when it exists."
I am getting the error message
Can't read configMap with name: [cm-core-api-app-config] in namespace:[tmahmood]. Ignoring when the configMap cm-core-api-app-config exists.

When I do kubectl get configmap --namespace tmahmood then I can see the name cm-core-api-app-config

Any idea why the configMap cannot be read?

[2017-10-22 04:32] trisberg opened #139 "Any plans to support Spring Boot 2.0?"
Looks like the current dependencies won't allow spring-cloud-kubernetes to be used with Boot 2.0, any plans to address this?

[2017-11-03 13:41] mehdikhelif commented on #130
The solution would be to have the KubernetesDiscoveryClient sending an HeartbeatEvent that would be intercepted in ZuulProxyConfiguration.ZuulDiscoveryRefreshListener

[2017-11-03 13:48] mehdikhelif commented on #130
This looks related to issue #46

[2017-11-13 21:40] computerlyrik commented on #129
+1 - it would be nice to have something like `spring.config.location` in place for spring-cloud.

I went to the code a little - this class defines the Interface which `load`s only a `PropertySource`. If this could be extended somehow to return a `List` it would be possible to implement.

https://github.com/spring-cloud/spring-cloud-commons/blob/master/spring-cloud-context/src/main/java/org/springf

[2017-11-13 21:42] spencergibb commented on #129
I list is not needed since you can create a `CompositePropertySource` and add as many property sources as needed.

[2017-11-16 09:09] alvgarvilla opened #140 "KubernetesServerList NullPointerException when accessing subset"
Class org.springframework.cloud.kubernetes.ribbon.KubernetesServerList

I am getting NullPointerException when trying to access the subsets from the endpoints. Endoints is not null but subsets list is.
[code]

[2017-11-17 19:36] avboy72 commented on #139
Has this project been abandoned?

[2017-11-17 19:39] spencergibb commented on #139
It has not been abandoned

[2017-11-17 20:11] avboy72 commented on #139
trisberg.

I was able to get this to work with spring boot 2 by pulling in the Finchly bom, which I believe updates some of the dependencies that this module uses

dependencyManagement {
    imports {
        mavenBom "org.springframework.cloud:spring-cloud-dependencies:Finchley.M3"
    }
}

[2017-11-17 20:33] spencergibb commented on #139
there are possibly binary incompatibilities as well.

[2017-11-17 20:34] spencergibb commented on #139
Our current thinking is that this project will join the release train for Greenwich, which would be late Q1/early Q2 next year.

[2017-11-23 08:32] golonzovsky commented on #31
Could you please say on which level in respect to [boot configorder](https://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-external-config.html) spring-cloud-kubernetes configmap kicks in?
We have issues trying to run app locally and having configmap taking precedence over command line args.

[2017-11-23 18:49] dkirrane opened #141 "KubernetesClientException - Configured service account doesn't have access"
I'm using a Kubernetes cluster created with kubeadm.
I'm hitting the following:
[code]
Do I need to create a service account in order to access the config map? Is there a way around this?

[2017-11-27 11:57] ThanksForAllTheFish commented on #31
I did a quick test and it seems `ConfigMapPropertySourceLocator` takes priority over the dev tools as well, so I don't see a way to override values defined in the configmap during local development. I think this is an oversight, please correct me if I missed anything.

Given `build.gradle`
[code]
and a simple `com.test.App` (`spring.application.name=myapp`)
[code]
values defined in `myapp` `config

[2017-11-27 15:12] osoriano commented on #137
If you're not able to update the certs to include kubernetes.default.svc, there is a workaround discussed in https://github.com/fabric8io/fabric8/issues/6229#issuecomment-247373967

[2017-12-06 14:42] stela commented on #138
@tabiul There ought to be an exception after that message. In my case it complains:
io.fabric8.kubernetes.client.KubernetesClientException: Failure executing: GET at: ... Message: Forbidden!Configured service account doesn't have access. Service account may have been revoked. configmaps ...

For me it worked fine on minikube on macOS but fails on a "real" Linux kubeadm-installed single-node kubern

[2017-12-12 19:13] deepank-sharma commented on #136
We are also trying to find a parallel of Spring Cloud Config Server where we were able to read different application ymls corresponding to different spring profiles.
Any solution to resolve this for multiple environments would be very useful.
If this can be tied to spring.profiles.active would be the best solution.

[2017-12-12 21:29] spencergibb commented on #136
Config Server can read from multiple profiles at once

[2017-12-13 13:52] dlaidlaw commented on #136
@spencergibb Any doc on how to do this? The doc does not explain how multiple ConfigMaps could be targeted by multiple profiles being active.

Or is it required to have all of the profiles defined in the same ConfigMap? This is a less convenient setup. Having the ability to have a ConfigMap per profile is extremely useful for version control of configuration.  This is supported by Spring Cloud Con

[2018-01-05 20:45] snowe2010 commented on #131
This is a pretty big deal for us, as we want to disable kubernetes for production and just use it for development, but this makes it impossible, due to autoconfiguration ignoring all `spring.cloud.kubernetes.*` properties.

[2018-01-05 20:46] spencergibb commented on #131
PRs welcome

[2018-01-05 20:48] snowe2010 commented on #131
What steps need to be taken to get this working? I would be glad to submit a PR, but am likely to break something due to the number of modules in this project.

[2018-01-05 20:49] snowe2010 commented on #131
I'm not sure how the Initializer is called (because it implements `ApplicationContextInitializer`?).

[2018-01-06 00:00] snowe2010 commented on #131
I seem unable to use `@ConditionalOnProperty(value = "spring.cloud.kubernetes.enabled", matchIfMissing = true)` because the properties have not been initialized by the point that the `spring.factories` are loaded (bootstrap). I'm not sure how to get around this.

[2018-01-09 16:19] dsyer commented on #131
The `Environment` is available in the `initialize()` method. If this feature needs to be implemented as an `ApplicationContextInitializer` (or similar), you would have to move  the logic to there.

[2018-01-17 14:13] BarDweller opened #146 "Document starters"
Testing spring-cloud-kubernetes, I've run into an issue where the ConfigMap values are not being used, and the application keeps using the values from `application.properties`.

If I swap my dependency of
[code]
for
[code]
then the ConfigMap is used as expected, and the values are taken from there.

I've got both @Value injection, and @ConfigurationProperties being used, both act identically.

In

[2018-01-17 14:46] BarDweller commented on #146
I think I may have found why..

Config was split off into it's own module, but the starter was never updated to include config.

Adding
[code]

To my pom, lets configmaps work again as with fabric8.

Either the starter needs an update, OR the docs need an update to say that the dependency for config needs to be added when using configmaps.

[2018-01-17 14:54] spencergibb commented on #146
There's a new starter for config to match convention in other spring cloud projects

[2018-01-17 16:01] BarDweller commented on #146
Indeed, but there's nothing in the documentation explaining that, and the existing documentation is unchanged from fabric8 and does not explain that apps being migrated from fabric8 to this project will have to update their dependencies due to config no longer being part of the starter. (None of the other starters really have any docs or guidance on what they provide, or when they should be used.

[2018-01-19 16:40] BarDweller opened #147 "Documentation for DiscoveryClient missing step."
I couldn't figure out why for the last 2 days my injected DiscoveryClient wasn't able to find any k8s services.. until I dumped it's class info reflectively & discovered it was a CompositeDiscoveryClient, wrappering a 'SimpleDiscoveryClient', and that the KubernetesDiscoveryClient was nowhere to be found.

After grokking my way through many many many github projects using spring-cloud-kubernetes,

[2018-01-30 01:55] rikgig commented on #136
It seems like in the Kubernetes environment, the profile value that we usually set in our Springboot applications gets replaced by the namespace.
Is there a way to acheive what @dlaidlaw said and have shared profiles, like for examples a datasource definition, loaded in a Kubernetes configMap and have that profile loaded by still using the Spring Profiles capabilities to add or override configurat

[2018-02-08 15:40] lpzdvd opened #148 "K8s & SB profiles"
Hi everyone,

I'm playing around with the _reload example_ and facing same problems related to [#106](https://github.com/spring-cloud-incubator/spring-cloud-kubernetes/issues/106).

Reload works OK but if I add profiles to the config map only the last one is selected:

**configmap**

[code]

**deployment**
[code]

profile qa seems to be properly selected (not dev or pro):

[code]

As I said above,

[2018-02-09 14:44] deepank-sharma opened #149 "Permissions issue for Kubernetes API"
When I deploy my app on the pre-prod cluster I keep getting the following error .

Failure executing: GET at: https://kubernetes.default.svc/api/v1/namespaces/customnamespace/services. Message: Forbidden!Configured service account doesn't have access. Service account may have been revoked..

Is it something to do with the permissions on Kubernetes.
Do I need to grant some special permissions to th

[2018-02-14 06:09] joshiste opened #150 "Publish heartbeat events when service catalogue changes"
The KubernetesDiscoveryClient should publish HearbeatEvents when there are changes to the service catalog to actively notify the application.

We need this for example in Spring Boot Admin...
... and the other discovery implementations I know (eureka, consul, zookeeper, cloudfoundry) are implementing this...

[2018-02-14 09:02] 13567436138 opened #151 "why this project update so slowly？"
why this project update so slowly？

[2018-02-14 09:35] Salaboy commented on #139
If a new branch is created for 2.0.0 I wills start working on this.

[2018-02-14 18:54] spencergibb commented on #139
@Salaboy fork and PR?

[2018-02-14 18:55] spencergibb commented on #151
It's currently a community run project that is in transition to a more formal role in spring cloud.

[2018-02-14 18:55] #151 closed

[2018-02-17 15:54] Salaboy commented on #139
PR submitted: https://github.com/spring-cloud-incubator/spring-cloud-kubernetes/pull/152
Tests are failing due an issue with a commit referenced in the PR. It seems that Spring Cloud hasn't been updated yet to use those changes. I will start creating examples for these modules with spring boot 2 apps to see if everything is working.

[2018-02-17 15:55] Salaboy commented on #139
I'm ok if you want to assign the issue to myself to keep track of the work.

[2018-02-19 14:33] IvanAR commented on #140
+1 same problem here... @alvgarvilla any workaround?

[2018-02-19 16:34] IvanAR commented on #140
I got the error, I was setting the wrong label to link Service with the Deployment on Kuberntes, and then no endpoint were been created.
Check if your service has an endpoint with `kubectl get endpoint`.
The NullPointer could be changed by some better error message.

[2018-02-20 17:50] mactr0n commented on #149
This is likely because RBAC is enbaled for your cluster. So you have to define a role and a rolebinding for the "default" service account in the correspondign namespace. This should be documented!

[2018-02-22 10:28] shahbour opened #153 "Read default application.yaml configmap"
Coming from `spring-cloud-config`, and while converting my application into `spring-cloud-kuberentes-config`.

I found that having a common configuration file for your application help (it can hold database connection configuration, Redis connection, RabbitMQ .... ) so all common configuration can be in one place.

Another missing feature is having config map per profile

For example, if we a spri

[2018-02-26 20:07] monkey1016 opened #155 "Change Kubernentes profile listener to listen for ApplicationStartingEvent"
Hi,
Currently it listens for ApplicationEnvironmentPreparedEvent, which is too late to control some configuration based on `bootstrap` files that look for a specific profile:
https://github.com/spring-cloud-incubator/spring-cloud-kubernetes/blob/88b7ea65ab509899acfaccf9addfd712b6f3308f/spring-cloud-kubernetes-core/src/main/java/org/springframework/cloud/kubernetes/profile/KubernetesProfileApplicat

[2018-02-28 16:01] doernbrackandre opened #156 "[Question] fetch information for multiple projects in kubernetes"
Hi,

currently, we're trying to enable a Zuul application to process information for pods which are spread across multiple projects in kubernetes.

Is there a way to configure the KubernetesDiscoveryClient / KubernetesClient to fetch those information from all projects?

[2018-03-02 13:03] holgerstolzenberg commented on #139
Just for info:
https://spring.io/blog/2018/03/01/spring-boot-2-0-goes-ga

[2018-03-02 13:11] Salaboy commented on #139
@holgerstolzenberg the problem is we use spring cloud, so we cannot update until Spring Cloud is released. I want to understand a little bit better why you posted this here.

[2018-03-02 13:17] holgerstolzenberg commented on #139
I am aware that you are using spring cloud, I think I was mislead by the issue title. I just wanted to settle or short info, I apologize if you feel pressured.

[2018-03-02 13:56] Salaboy commented on #139
@holgerstolzenberg no problem at all, I'm kinda new here so I just want to make sure that I'm not missing something big :)

[2018-03-04 18:39] greenbird-chr commented on #139
The spring-boot GA release broke spring-cloud-kubernetes-config with a last minute [YAML refactoring](https://github.com/spring-projects/spring-boot/commit/4bde6b80eed3def41b616f39c94496a9b5a0a405). The class SpringProfileDocumentMatcher was removed. [ConfigMapPropertySource](https://github.com/spring-cloud-incubator/spring-cloud-kubernetes/blob/master/spring-cloud-kubernetes-config/src/main/java/

[2018-03-05 10:50] shahbour opened #158 "Feign Timeout not working"
Setting ribbon timeout is not working, I did the below but still, the command is run with ReadTimeout of 1000.

[code]

But when trying to set the configuration in the code it worked

[code]

[2018-03-06 14:15] veludurai106 commented on #149
@deepank-sharma  Please check this  https://github.com/fabric8io/fabric8/issues/6840

[2018-03-07 13:16] jerckov opened #160 "Property reload from ConfigMap doesn't work"
I trying to configure `spring-clound-kubernetes` with my spring boot app by reload example https://github.com/spring-cloud-incubator/spring-cloud-kubernetes/tree/master/spring-cloud-kubernetes-examples/kubernetes-reload-example in Kubernetes v1.7.1 (not in Openshift). My files:

`bootstrap.properties`
[code]

`config-map.yaml`
[code]
After apply deployment I can see in my `demo` app logs:
[code]
a

[2018-03-12 09:41] doernbrackandre opened #163 "KubernetesServerList is not able to fetch endpoints for all namespaces"
Hi,

during our investigations how to handle services deployed in several projects within openshift using Zuul as api gateway we ran into a major problem when trying to fetch pods/endpoints

Scenario:
- a Zuul as api gateway using spring-cloud-starter-kubernetes-netflix running a dedicated project inside openshift
- at least one downstream service which is deployed in an other project

When sticki

[2018-03-12 09:41] #156 closed

[2018-03-12 09:42] doernbrackandre commented on #156
Please see [#163](https://github.com/spring-cloud-incubator/spring-cloud-kubernetes/issues/163) for further details

[2018-03-16 12:39] arana198 commented on #160
The tutorial didn't work for me either. I had to use the following config on kubernetes to get it working, maybe try this out and see:

PS: Make sure the name of the config map matches the name of the spring boot application
`
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: reload-example
  name: reload-example
spec:
  replicas: 2
  selector:
    matchLabels:
      app: reload-ex

[2018-03-16 13:58] arana198 opened #164 "Application fails to start when using @ArchaiusConfigMapSource in docker container or java -jar"
When I run the application locally using docker or java -jar I get the error below:

Note: When running the application on IntelliJ the application starts up correctly - is there something different that Intellij does?

[code]

[2018-03-20 12:09] stela opened #165 "Regression after #152 merged - KubernetesClient bean not found"
From around the time before #152 was merged, I was able to set the property spring.cloud.kubernetes.enabled to false for unit tests, now I get an exception when trying that.

[code]

See a small project reproducing the issue here:
https://github.com/stela/spring-cloud-kubernetes-regression-demo
It has a Travis CI build showing how it fails.

[2018-03-20 14:53] stela commented on #165
In my case I found the most easy workaround was to remove the `org.springframework.cloud:spring-cloud-starter-kubernetes:0.2.1.BUILD-SNAPSHOT` dependency, since I wasn't actually using the discovery features at all. Using `spring-cloud-starter-kubernetes-config` or `spring-cloud-kubernetes-config` was enough for me.

Would still be a good thing to fix, but since `spring.cloud.kubernetes.enabled` i

[2018-03-20 17:29] azdrew commented on #139
Hi, is there a plan to make a 0.2.x release of spring-cloud-kubernetes for Spring Boot 2.0 and Finchley, independent of Greenwich release train? We would want to consume something after Finchley releases but before Greenwich is released. Thanks

[2018-03-20 17:58] spencergibb commented on #139
@azdrew likely. I have no timeline though. It needs to be stable and the initial refactoring just landed and is not complete.

[2018-03-20 18:03] azdrew commented on #139
@spencergibb thanks for the info, I'll follow the progress here. It is good to know something is at least planned.

[2018-03-20 18:07] Salaboy commented on #139
@azdrew i will put some time into ribbon this week, help is appreciated with examples and tests and general feedback about discovery and configMaps

[2018-03-20 18:08] Salaboy commented on #139
@azdrew i will put some time into ribbon this week, help is appreciated with examples and tests and general feedback about discovery and configMaps

[2018-03-20 18:23] azdrew commented on #139
Currently I'm mostly using ConfigMaps and Secrets. I can try to provide feedback on issues encountered. Should that be coming in as new issues?

[2018-03-20 19:28] Salaboy commented on #139
@azdrew sure, but please mention me so at least we can discuss what the solution should be.
If you are using configMaps I encourage to try the snapshots.. I'm trying to create a completely isolated examples using discovery and configMaps right now.
@spencergibb is there any way that people can assign me issues? or can myself be assigned to issues?

[2018-03-20 22:49] manderson23 commented on #139
Perhaps a 0.3.0 milestone should be created that includes no new features but solely makes the existing project compatible with SB2? Issues could then at least be assigned to that release.

[2018-03-20 22:55] spencergibb commented on #139
That's what 0.2.0 will be. And features are missing

[2018-03-21 19:55] azdrew commented on #139
I have a config sample in a repo os-config-sample, which seems to work for ConfigMaps and Secrets with 0.2.1.BUILD-SNAPSHOT. I'm deploying on MiniShift rather than MiniKube.

Note that I'm using the API method for accessing the Secret.  I see in the doc that this is suggested to not be as secure as mounting the secret to the pod. However, our operations teams are asking us to use this rather than

[2018-03-21 19:57] samtonyclarke commented on #139
I also thought the mounting the secret to the pod was less secure and couldn't understand this POV.

[2018-03-31 21:38] dgorczyca commented on #46
@iocanel you wrote something similar, or at least I would have thought this is similar, here:
https://github.com/fabric8io/kubeflix/blob/master/ribbon-discovery/src/main/java/io/fabric8/kubeflix/ribbon/KubernetesServerList.java
I found this through here:
https://github.com/fabric8io/kubeflix#how-does-ribbon-work-inside-kubernetes
is the functionality the same, just different project and dependenci

[2018-04-03 07:29] doernbrackandre commented on #163
Hi, @spencergibb

we had planned to upstream our changes to fix the issues we've faced here. I've seen that you started  to rework this project. Are you interested in our changes? Does it make sense to PR those?

Our work includes:
* implementing the metadata in the KubernetesDiscoveryClient
* fixing the issues with client.endpoints()
* rework of the namespace logic in order to gain better control

[2018-04-03 17:11] spencergibb commented on #163
PRs welcome @doernbrackandre!

[2018-04-04 07:33] doernbrackandre commented on #163
@spencergibb What are your thoughts about the test done with Spock? Are you planning to replace them? If so, I can try to replace the tests I will break with my changes...

[2018-04-19 02:27] chenzhenyang commented on #139
what's Greenwich?

[2018-04-19 06:04] Salaboy commented on #139
Thats probably the name (codename) of the next release train. Like Finchley now.

Sent from my iPhone

[2018-04-25 12:59] nieldw commented on #140
I experience this if an endpoint goes away after Zuul started.
To reproduce it, start Zuul with at least one pod providing a live endpoint for a particular service. Then bring down that pod. The failure starts as soon as Zuul tries to update it's list of available servers.

[2018-04-25 17:07] azdrew commented on #139
Is there any update on when there might be a Spring Boot 2.0 compatible release? The snapshot version seems to be working for what we need in terms of config map and secret access. We did not uncover any issues. Thanks

[2018-04-25 17:12] spencergibb commented on #139
ribbon integration is still missing.

[2018-04-26 07:40] Salaboy commented on #139
@azdrew @spencergibb hopefully I can get that before GeeCon.. or during my flight to GeeCon

[2018-04-26 07:42] spencergibb commented on #139
aa2c12462f34f1f8f07f6050ecca9380870dec04

[2018-04-26 07:44] Salaboy commented on #139
@spencergibb great! one less thing to do!

[2018-04-26 16:48] azdrew commented on #139
@spencergibb @Salaboy Thanks. With ribbon integration in is there a possibility of a milestone and/or release soon?

[2018-04-26 16:53] spencergibb commented on #139
Only a milestone until Finchley is released around May 14

[2018-05-07 20:41] dgradl-fl opened #167 "NPE in KubernetesDiscoveryClient when endpoints are not available"
On 0.2.0-RELEASE
When KubernetesDiscoveryClient goes through services and discovers a service that has been scaled down or has no available endpoints it will throw a NPE.    The stack trace is below.    Essentially the endpoints API returns a 404 and thus has no subsets to map to the Endpoint object.

Caused by: java.lang.NullPointerException: null
at org.springframework.cloud.kubernetes.discovery

[2018-05-07 20:46] dgradl-fl commented on #167
I worked around this by modifying it to deal with no endpoints as an EmptyList.  Not sure if this is the best place to address this issue or if the KubernetesClient should have different handling for a 404 on endpoints lookup.

`return Optional.ofNullable(
                Optional.ofNullable(client.endpoints().withName(serviceId).get()).orElse(new Endpoints())
                        .getSubsets()

[2018-05-15 11:46] geoand commented on #116
Are we still interested in such a feature? I could work on it if we are still interested.
I also thought that even when no resource name is specified, we could support extracting the contents of a resource if there is **only one** resource in the ConfigMap.

[2018-05-15 14:05] geoand commented on #116
@gytis I opened #170, which does not directly address this issue, however it would allow the boosters to work in consistent manner across runtimes, since the PR lifts the `application.yaml/properties` constraint then the `ConfigMap` contains only one entry

[2018-05-16 07:32] gytis commented on #116
@geoand I think that solves the issue.

[2018-05-16 07:35] geoand commented on #116
It should, but it might be a little heavy-handed as an approach...

[2018-05-21 10:14] iocanel opened #172 "Leader election recipe"
We should implement a leader election recipe that will use kubernetes itself for coordination.

Technically, the kubernetes API provides as everything we need in order to implement everythign required for leader election, without resoritng in things like zookeeper, etcd, consul etc.

At some point spring-cloud-cluster defined the abstraction for leader election, but I think nowadays they moved to

[2018-05-21 10:15] iocanel commented on #172
@spencergibb: Your thoughts?

@gytis: I think that you mentioned that you will work on it right? If so, please assign this to yourself and let's coordinate with @spencergibb  on this.

[2018-05-21 11:17] geoand commented on #148
I'm not that it's the actual problem (since I have tried it yet), but your config map defines `application.properties` while the content of the file is yaml. That's bound to through off the parser

[2018-05-21 11:44] geoand commented on #106
This seems to be an issue again (most likely due to the refactoring work done for Spring Boot 2.x)

[2018-05-21 12:57] geoand opened #173 "Regression after #152 merged - Yaml configmap with profiles does not work"
Essentially #106 is an issue again

[2018-05-21 14:07] geoand commented on #131
@marcingrzejszczak @snowe2010 Which certificates do you mean? I can submit a PR fixing the issue, but I'm not sure I completely understand the issue

[2018-05-21 14:36] spencergibb commented on #131
@geoand I think the logic in this line https://github.com/spring-cloud-incubator/spring-cloud-kubernetes/blob/master/spring-cloud-kubernetes-core/src/main/java/org/springframework/cloud/kubernetes/profile/KubernetesApplicationContextInitializer.java#L35 needs to move to the `initialize()`.

[2018-05-21 14:39] geoand commented on #131
@spencergibb That's my thought as well :), but I wanted to be sure before making any changes.
That's why I would like @marcingrzejszczak or @snowe2010 to confirm which certificates are causing there issues.

[2018-05-21 15:41] #173 closed

[2018-05-21 15:47] snowe2010 commented on #131
@geoand yes that was exactly it. My attempts to move that logic were unsuccessful. I can try and dig up the code I had changed, but will not be able to get to it today.

[2018-05-21 15:49] geoand commented on #131
@snowe2010 No problem, I'll check the issue out tomorrow and see what can be done. Thanks for the confirmation

[2018-05-22 06:57] gytis commented on #172
@iocanel I don't permission to assign the issues.

[2018-05-30 07:22] wdxxs2z opened #178 "Distinguish same key with secret or configmap"
There has a scene: if i config two or more secret(configmap), but the secret's key has same name , how to distinguish them?

[2018-05-30 07:28] geoand commented on #178
Hello @wdxxs2z ,

can you please be a little more specific about your use case?

[2018-05-30 07:49] wdxxs2z commented on #178
Example, i have two db sources, mysql and redis, in secret data, they have one or two same key, such as password, uri, and our team have not use prefix to distinguish them, so if we use the spring-cloud-kubernetes-config, will their values be overridden?

[2018-05-30 08:40] geoand commented on #178
Looking at the code for [Configmap](https://github.com/spring-cloud-incubator/spring-cloud-kubernetes/blob/867f2319270b60937d3a12f5204c1079ef8d1665/spring-cloud-kubernetes-config/src/main/java/org/springframework/cloud/kubernetes/config/ConfigMapPropertySourceLocator.java#L28) and for  [Secret](https://github.com/spring-cloud-incubator/spring-cloud-kubernetes/blob/867f2319270b60937d3a12f5204c1079e

[2018-06-06 08:57] #129 closed

[2018-06-06 15:22] hannesrohde opened #180 "Disable Ribbon client-side load-balancing to avoid Zuul Timeouts when updating pods"
We use Kubernetes service discovery in combination with Zuul proxying in an API gateway we develop. The gateway provides authenticated access to a bunch of microservices inside a Gcloud project.

This works mostly fine, but we noticed that sometimes we would get a Zuul timeout when a backend service behind the gateway undergoes a rolling update and olds pods are replaced with new instances.

Close

[2018-06-06 16:07] hannesrohde commented on #180
@spencergibb we would still like to discover routes to services dynamically, just not the single instances of the services.

[2018-06-06 16:13] spencergibb commented on #180
I'm confused then. Your example above has a hard coded server.

[2018-06-06 17:55] MattSenter commented on #180
I'm interested in this use case as well. My specific requirement is that I need to use Eureka in my local environment and Kube in my cloud environment. I need a way to keep my FeignClient as `@FeignClient(name="my-service")` and have that work for both scenarios. So, if I'm understanding OP, he wants to have a custom resolve for the service name. Expanding on OP's suggestion, I have a custom confi

[2018-06-06 21:38] hannesrohde commented on #180
@spencergibb sorry for the confusion, let me try again :)
We want to discover service names and then use host names *derived* from the service names for the routes, thus using the load-balancing provided by Kubernetes.

@MattSenter yeah, my workaround definitely abuses Ribbon and I would very much prefer a solution that gets rid of it at all instead of decapacitating it. Good to hear I'm not the o

[2018-06-06 22:31] spencergibb commented on #180
I see. Instead of a `@RibbonClient` per service, use `@RibbonClients(defaultConfiguration)`. Ribbon is meant to be customized.

[2018-06-07 00:39] wdxxs2z commented on #178
@geoand , yeah~, if it support multiple secrets or configmaps, maybe it's better. thank you geoand!

[2018-06-07 07:34] hannesrohde commented on #180
Our project uses the `CustomRibbonClientConfiguration` as `defaultConfiguration`, I've edited the initial post and added the missing @Configuration part.

I am fine with using that if there is no obvious better solution, I was just curious if defeating Ribbon in this way is the right approach.

[2018-06-07 18:40] westmc commented on #139
I seem to be missing something because 0.3.0.RC1 does not work with SB 2.0.1 or 2.0.2 for me.  Received this error with code that worked with 0.2.0.RELEASE + 1.5.13

Description:
--
  | Parameter 2 of method configurationUpdateStrategy in org.springframework.cloud.kubernetes.config.reload.ConfigReloadAutoConfiguration$ConfigReloadAutoConfigurationBeans required a bean of type 'org.springframework.

[2018-06-11 06:40] geoand commented on #139
@westmc Can you try adding `management.endpoint.restart.enabled=true` to your configuration?

[2018-06-11 08:37] #147 closed

[2018-06-11 17:08] aantono opened #183 "KubernetesDiscoveryClientAutoConfiguration instantiated when spring.cloud.kubernetes.enabled is false"
KubernetesDiscoveryClientAutoConfiguration instantiated when `spring.cloud.kubernetes.enabled` property is set to `false`

This causes startup exception:

[code]

`KubernetesDiscoveryClientAutoConfiguration` should be also annotated with `@ConditionalOnProperty(value = "spring.cloud.kubernetes.enabled", matchIfMissing = true)` similar to `KubernetesAutoConfiguration` class.

[2018-06-11 18:12] westmc commented on #139
@geoand That seems to have fixed it.  It looks it is related to spring.cloud.kubernetes.reload.enabled=true

[2018-06-11 18:20] geoand commented on #139
@westmc That sounds correct :)

[2018-06-12 19:26] matt-shaw opened #184 "Move out of incubator"
Hi,

When is it likely this project will move out of the incubator into the main Spring Cloud project?

Regards

Matt

[2018-06-12 19:29] spencergibb commented on #184
As part of the Greenwich release train (current is Finchley). First GA release likely towards the end of the year.

[2018-06-12 19:29] #184 closed

[2018-06-12 21:01] prafsoni opened #185 "0.3.0.RC1 incompatible with cloud-config client discovery"
When enabling discovery on cloud config client getting discovery client errors. I see kubernetes client is getting configured. Also added `spring.cloud.kubernetes.discovery.enabled: true` to bootstrap.yml
Am I missing something?

spring-boot: 2.0.2.RELEASE (webflux)
spring-cloud: Finchley.RC2
spring-cloud-kubernetes: 0.3.0.RC1

[code]

[2018-06-12 21:09] spencergibb commented on #185
I assume you are using discovery client to locate config server? If so that feature has not been implemented

[2018-06-12 22:14] prafsoni commented on #185
Is there a timeline?

[2018-06-12 23:47] spencergibb commented on #185
No

[2018-06-13 00:05] prafsoni commented on #185
@spencergibb is there a reference? I might be able to create PR

[2018-06-13 07:22] #178 closed

[2018-06-15 15:35] ryandawsonuk opened #188 "Bean instantiated when spring.cloud.kubernetes.discovery.enabled=false"
The autoconfiguration shouldn't instantiate beans when spring.cloud.kubernetes.discovery.enabled=false. And it doesn't in the fabric8 version. In the fabric8 version there's this autoconfiguration flag:

https://github.com/fabric8io/spring-cloud-kubernetes/blob/master/spring-cloud-kubernetes-discovery/src/main/java/io/fabric8/spring/cloud/discovery/KubernetesDiscoveryClientConfiguration.java#L28

[2018-06-15 16:05] ryandawsonuk opened #190 "Document propertysource reload file watch option"
The reload options in the [current documentation](https://github.com/spring-cloud-incubator/spring-cloud-kubernetes#propertysource-reload) all require calling the k8s API. This is why we are told that to "access ConfigMaps on OpenShift the service account needs at least view permissions".

But if we mounted the ConfigMap as a volume we could still watch the file for changes. There's an [example of

[2018-06-15 16:16] spencergibb commented on #190
If it's just watching a file, I don't think that is specific to kubernetes at all.

[2018-06-17 09:17] ryandawsonuk commented on #190
Apologies, I should have put more thought into this before raising. Perhaps it should be a Spring Boot or Spring Cloud feature request. I also apologise if my comments seemed critical - this project is providing great tools and options for Spring developers. I am wondering if there's a further option that could be offered.

Here is a use-case I have in mind. Imagine that a developer is tasked with

[2018-06-18 08:16] ryandawsonuk commented on #188
Closing as duplicate of https://github.com/spring-cloud-incubator/spring-cloud-kubernetes/issues/183

[2018-06-18 08:16] #188 closed

[2018-06-18 08:16] ryandawsonuk commented on #183
I've realised I raised a duplicate in https://github.com/spring-cloud-incubator/spring-cloud-kubernetes/issues/188 so I've closed that

[2018-06-19 15:47] prafsoni opened #192 "0.3.0.RELEASE"
Since, `Finchley.RELEASE` is released. Any update on timeline for 0.3.0.RELEASE ?

[2018-06-21 12:36] sta-szek opened #194 "Not compatible with spring boot 2?"
Hi, I have spring boot 2.0.1.RELEASE, spring cloud Finchley.RELEASE, kubernetes starter 0.2.0.RELEASE and the application fails to start due to:
`Caused by: java.lang.ClassNotFoundException: org.springframework.cloud.client.discovery.AbstractDiscoveryLifecycle`

I tried using other Finchley versions ( :man_facepalming: ) but without success.
However there is only one version in mvn central: https:

[2018-06-21 13:38] doernbrackandre commented on #130
We ran into this issue as well. Is there any progress?

[2018-06-21 17:10] Salaboy commented on #130
@doernbrackandre yeah, i switch to the new spring cloud gateway and it currently working with sc-k8s service discovery

[2018-06-22 09:11] Salaboy commented on #130
@doernbrackandre probably not much, but I just want to share progress on the new gateway integration, which people might be interested if they are having issues with Zuul

[2018-06-22 09:28] doernbrackandre commented on #130
ah, ok thanks. :)

Currently, we are looking into this issue as well but probably we will stick to that workaround using a regular scheduler to emit a RoutesRefreshEvent like it was mentioned here

[2018-06-22 23:12] azdrew commented on #139
With release of Finchley, what's the timeline for 0.3.0 release version? Thanks

[2018-06-25 19:18] prafsoni commented on #194
@sta-szek use 0.3.0.RC1 with spring boot 2.0.x & spring cloud Finchley.RELEASE

[2018-06-26 14:40] sta-szek commented on #194
Thanks, I will do tomorrow and let you know!

[2018-06-27 06:56] sta-szek commented on #194
@prafsoni
I need to do that also in plain spring application, do you have any clue for me what should I copy?
It is spring 4.x.

Or maybe are you aware of any existing project for that purpose? I searched and couldn't find.

[2018-06-27 08:03] sta-szek commented on #194
@prafsoni I used 0.3.0.RC1 and locally: application builds and runs.
However I cannot build it on bamboo, because I got exception which I described in: https://github.com/fabric8io/kubernetes-client/issues/809

[2018-06-27 08:36] sta-szek commented on #194
I tried to disable it during test phase but without luck:
[code]

[2018-06-27 18:04] #131 closed

[2018-06-28 08:43] #194 closed

[2018-06-28 08:43] sta-szek opened #196 "How to disable this for tests"
I want to disable it in tests because it fails in different places for different reasons:
* missing kubeconfig which cannot be provided to build enb
* not valid certificate for kube client
* requirement for connection between k8s and build env

I tried to disable it during test phase but without luck:
[code]

the `discovery.enabled: false` has no effect at all -- Config is still being created and

[2018-06-28 08:53] sta-szek commented on #183
I don't know if I created duplicate? https://github.com/spring-cloud-incubator/spring-cloud-kubernetes/issues/196

[2018-06-28 09:08] geoand commented on #183
@sta-szek Your issue is most likely a duplicate.

I will create a PR to address these issues

[2018-06-28 09:11] geoand commented on #183
I just saw that #189 should take care of the issue

[2018-06-28 11:52] sta-szek opened #197 "Ribbon com.netflix.client.ClientException: Load balancer does not have available server for client:"
Hi,
I don't know if this is the right repository for issue but let's try :)

I added spring-cloud-kubernetes and looks like everything works fine there. I can inject DiscoveryClient and get all services + instances.

I create a basic, dynamic, zuul-based router, which get's the request and set `context.put(FilterConstants.SERVICE_ID_KEY, "service-name");`.
Regarding this docs: https://cloud.spring

[2018-06-28 14:35] aantono commented on #183
I don't think #189 will take care of this issue as it only checks for the `discovery` property to be enabled, so if one decides to globally disable `spring.cloud.kubernetes.enabled=false`, it will not have the desired effect on the condition added as part of #189

[2018-06-28 14:37] geoand commented on #183
@aantono Perhaps then you can comment in the PR and make sure the author knows it? FWIW, I agree with you about needing to add an extra conditional on `spring.cloud.kubernetes.enabled`

[2018-06-28 17:28] prafsoni commented on #197
I am getting the same error with FeignClient.

[2018-06-28 19:16] prafsoni commented on #197
@sta-szek Using `spring-cloud-starter-kubernetes-all` resolved this issue. See if it works for you.

[2018-06-28 19:17] iocanel opened #198 "0.2.1.RELEASE"
I created a branch called 0.2.x which is actually what we have in master without the spring-boot related commits.

I'd like us to have have 0.2.1.RELEASE for people who are not yet ready to move to SB 2.0.

[2018-06-30 05:57] steven-sheehy commented on #172
@gytis Sorry, if this is not the right place, but not sure if this feature is still a work in progress so commenting here.

I'm testing the leader election and am finding that the `LeaderInitiator` is firing too soon in the spring startup cycle before `ApplicationEventListener` is registered. So Granted and Revoked event are triggered before anyone can receive them. I think probably `leaderInitiat

[2018-07-02 06:51] geoand opened #201 "Update to CircleCI 2.0"
The project is configured using CircleCI 1.0 which will be [EOL](https://circleci.com/blog/sunsetting-1-0/) on 31/08.

[This](https://circleci.com/sunset1-0/) guide can be used to help migration.
Also, as indicated [here](https://circleci.com/docs/2.0/migrating-from-1-2/#using-the-10-to-20-config-translation-endpoint), there seems to an end point in the CircleCI API that performs an automatic migr

[2018-07-02 08:20] gytis commented on #172
@steven-sheehy thank you for taking your time to test this out.

This issues should be closed, but the feature is new and still has a few wrinkles to iron out. I'll create a separate issue to fix a too early LeaderInitiator.start() call because that is a bug.

I don't think that `LeaderKubernetesHelper.podExists()` is wrong however. It is not used to check before assigning a leader but rather to t

[2018-07-02 08:36] gytis opened #202 "Make sure LeaderInitiator.start() is not called too early"
Leader election is started automatically (currently by `LeaderAutoConfiguration` when creating a bean). @steven-sheehy has pointed out in https://github.com/spring-cloud-incubator/spring-cloud-kubernetes/issues/172#issuecomment-390613526 that this is too early because an `ApplicationEventListener` is not yet registered at that time. We need to investigate this and if that's the case, find another

[2018-07-02 14:19] steven-sheehy commented on #202
Thanks for opening this. I've fixed this locally by commenting out the manual start in LeaderAutoConfiguration. This way, Spring will automatically start the `LeaderInitiator` in `DefaultLifecycleProcessor` since it implements `SmartLifecycle`.

[2018-07-02 14:49] gytis commented on #202
Thanks @steven-sheehy, I'll still have to look into this to make use of the [autoStartup](https://github.com/spring-cloud-incubator/spring-cloud-kubernetes/blob/master/spring-cloud-kubernetes-leader/src/main/java/org/springframework/cloud/kubernetes/leader/LeaderProperties.java#L46) property to allow user to disable automatic start.

[2018-07-02 14:52] gytis commented on #172
@steven-sheehy I think getting by name might be better. I'll look into it.

[2018-07-02 16:29] steven-sheehy opened #203 "Could not bind properties to LeaderProperties"
I get an error when trying to use spring-cloud-kubernetes-leader and populating the labels in LeaderProperties. This is most likely due to use of immutable `Collections.emptyMap()`. Also `spring.cloud.kubernetes.leader.enabled` is missing from LeaderProperties. Here's my application.yaml:

[code]

[code]

[2018-07-02 17:18] gytis commented on #203
@steven-sheehy, I'm removing labels property as it's not gonna be necessary when getting pod by name.

[2018-07-03 18:06] steven-sheehy opened #206 "No leaders elected"
I'm seeing scenarios in my testing of leadership election where I have two pods and both of them are leaders or both of them are followers indefinitely. Below I'll focus on no leaders being elected. I'm not sure if it's my handling of OnFailedToAcquireEvent or that an event is not fired for every leader->follower and follower->leader transition. Note this is tested without the changes in [204](htt

[2018-07-04 14:44] kaidowei commented on #150
The PR #154 did not solve the problem, because the `KubernetesCatalogWatch.java` publishes `HeartBeatEvents` with the list of services as the state. This list will rarely/never change and therefore a listener of those events cannot decide if an update is needed or not. Other implementations like [consul](https://github.com/spring-cloud/spring-cloud-consul/blob/master/spring-cloud-consul-discovery/

[2018-07-05 09:41] geoand opened #208 "Ribbon tests seem flaky"
Over the passed few weeks a have seen the tests of various PRs (like #189, #193, #204 , #207) fail for no reason of their own, but instead some of the Ribbon tests seem to very flaky.

I will try and look at this shortly

[2018-07-05 09:55] gytis commented on #206
As it is implemented now, another pod can take over leadership only if the current leader's pod doesn't exist any more. This means that even if the current leader cannot access the configmap because of a connectivity issue it is still a leader.

The only issue I see here is that `OnFailedToAcquireEvent` is triggered when the configmap access fails even though this pod is a leader. It happens becau

[2018-07-05 20:50] steven-sheehy commented on #206
Ok, I will remove watching `OnFailedToAcquireEvent`. As it is now it is pretty useless for leader to recheck every lease duration (30s) if he doesn't actually update anything. Plus only followers have responsibility to re-check status and possibly revoke leadership in current implementation. But keeping it is also not a heavy load on system either so not a big deal either way, just that spurious t

[2018-07-05 21:09] steven-sheehy opened #210 "OnGrantedEvent not fired on leader pod restart"
Assume you you have 2 pods (app-a and app-b) and app-a is currently elected leader. If app-a is terminated (for example via an OOMKilled), then it will restart with the same pod name app-a. The configmap will still show "leader.id.app: app-a". If it comes back up before app-b can even see that it's gone (which is most likely since restarts happen under 5s), then app-b will not revoke app-a. app-a

[2018-07-05 21:13] steven-sheehy commented on #206
An advantage to not acquiring repeatedly if currently leader will be that it will help address #210 and acquire it once on startup, fire a `OnGrantedEvent` one time, then not schedule any more calls to `LeadershipController`.

[2018-07-06 07:38] dzonekl opened #211 "Spring cloud commons 2.0.0M9 compatible?"
I get an exception [2] when adding @EnableDiscoveryClient, this class is not part of: commons 2.0.0M9 release. Any way to get spring cloud k8s work with the latest spring cloud version?
Thank You Christophe

[1] Dependencies

We use gradle and spring dependency management, with Maven BOM import.

Versions:
springCloudK8s = '0.2.0.RELEASE'
springCloudVersion = 'Finchley.M9'

Dependencies:

'org.spr

[2018-07-06 08:05] dzonekl commented on #211
Hi there,
I upped some of the dependencies:

Gradle: org.springframework.cloud:spring-cloud-commons:2.0.0.RELEASE
Gradle: org.springframework.cloud:spring-cloud-kubernetes-core:0.3.0.BUILD-SNAPSHOT
Gradle: org.springframework.cloud:spring-cloud-kubernetes-discovery:0.3.0.BUILD-SNAPSHOT
Gradle: org.springframework.cloud:spring-cloud-starter-kubernetes:0.3.0.BUILD-SNAPSHOT

Exceptions is gone, guess

[2018-07-06 08:05] #211 closed

[2018-07-06 08:30] geoand commented on #208
I have started to look into this

[2018-07-06 09:48] #208 closed

[2018-07-06 11:56] kaidowei commented on #150
@akaGelo thanks for the fast response. Where can I download the newest snapshot so that I can verify the correct behaviour with spring boot admin?

[2018-07-06 19:28] akaGelo commented on #150
[repo](https://github.com/spring-cloud-incubator/spring-cloud-kubernetes/blob/3ad6fa14e14daa4d6b49d81e4662e5ccbf74a916/pom.xml#L193)

maven:
[code]

[last snapshot build version 0.3.0.BUILD-SNAPSHOT ](https://repo.spring.io/libs-snapshot-local/org/springframework/cloud/spring-cloud-kubernetes-discovery/0.3.0.BUILD-SNAPSHOT/)

[2018-07-07 10:21] Ziemowit opened #213 "Is spring-cloud-kubernetes production ready?"
Hey it is not the issue but rather the question.

Does the project can be already used in Production?
Version 0.3.0 and placement in spring-cloud-incubator points out that rather not...

If not is there any road-map or prediction when the 1st stable production-ready version more less could be ready?

Thank you in advance.

[2018-07-09 06:47] AssafKatz3 opened #214 "Dynamic configuration of property source using label rather than names"
I suggest taking futher step from [ConfigMap PropertySource](https://github.com/spring-cloud-incubator/spring-cloud-kubernetes#configmap-propertysource) and allow support controller about kubernetes.
Suggest configuration is:
[code]

1. Each add/patch/remove of config maps with this these ConfigMap will change the configuration.
2. The ConfigMap will be used same as they directly wrote as part of

[2018-07-10 12:20] vetrigyan commented on #139
We have been using this framework to dynamically update the configuration upon updates to K8S Configmap. It's been working well for us.
I have the same question that @azdrew asked above... would you be able to share an ETA for when a release will be made that is compatible with Spring Cloud Finchley ?

Thanks!

[2018-07-13 09:14] angheladrianclaudiu opened #216 "KubernetesClientException when trying to start Spring Boot microservice on Kubernetes"
I am getting this exception when trying to start a Spring Boot microservice (which is Spring Boot Zuul gateway, but I don't think it matters too much) on Kubernetes:

[code]

Any idea why?

[2018-07-13 09:22] geoand commented on #216
This most likely has to do with RBAC control in Kubernetes.

It seems like you have not specified a service account for the Pod that the application is running in (and hence `default` is being used). To see how to configure a service account for a Pod check out [this](https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/).
Furthermore the `default` service account in

[2018-07-13 11:36] angheladrianclaudiu commented on #216
Thank you.
Working now. I made the proper configuration to my setup.

[2018-07-13 11:41] geoand commented on #216
You're welcome, go to hear it's working!

[2018-07-13 11:59] angheladrianclaudiu commented on #216
It seems I have another one that I didn't pick up from the log in the first place:

[code]

[2018-07-13 12:46] geoand commented on #216
Can you please provide some more information about what you are doing that results in such an error?

[2018-07-13 12:50] angheladrianclaudiu commented on #216
I want to start it up. Below more info from stacktrace.

[code]

[2018-07-13 13:01] geoand commented on #216
I see `Caused by: javax.net.ssl.SSLHandshakeException: sun.security.validator.ValidatorException: PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unable to find valid certification path to requested target` which makes suspicious... Are you sure that the certificates in your cluster are setup properly?

[2018-07-13 13:09] angheladrianclaudiu commented on #216
I noticed that, but I don't understand what endpoint is it trying to connect to. The cluster was spinned up with Rancher, and there is a SSL certificate setup, but I don't understand exactly what endpoint is it trying to connect to.

This also worries me: Operation: [list]  for kind: [Service]  with name: [null]  in namespace: [null]  failed.

[2018-07-13 13:33] geoand commented on #216
A call is being made the Kubernetes API.

Have you tried deploying the application to a test cluster created for example by Minikube?

Do you have a sample project that is exhibiting  this behavior that I could  try?

[2018-07-13 13:43] angheladrianclaudiu commented on #216
It works on local Minikube, but checking the .kube/config file on Minikube and in the cluster I see that they are quite different.
Locally there is a minikube user with client-certificate and client-key. On the cluster however, there is an user with some token trying to connect.

Unfortunately I can't setup a sample project to test now. I will try to put one up shortly.

[2018-07-13 13:46] geoand commented on #216
Ok, thanks

[2018-07-13 14:43] angheladrianclaudiu commented on #216
Here you go @geoand try this one: https://github.com/angheladrianclaudiu/zuul-kubernetes

[2018-07-13 14:44] geoand commented on #216
Great, I'll take a look on Monday most likely, thanks

[2018-07-14 14:36] psoares opened #217 "NoClassDefFound org/springframework/boot/yaml/SpringProfileDocumentMatcher when using a yaml ConfigMap"
I tried a simple gradle project to test the ConfigMap property resolution mechanism.
When using the following ConfigMap configuration file, everything works fine:
[code]

However, when using the yaml syntax below, it fails:
[code]

The exception I get is:
[code]

My gradle.build file looks like this:

[code]

My src/main/resources/bootstrap.properties file looks like this:
[code]

My app main clas

[2018-07-14 15:17] spencergibb commented on #217
Version 0.2.0 does not work with boot 2.x only 1.5.x. Version 0.3.0.RC1 works with the 2.x line. A RELEASE will be forthcoming within a month

[2018-07-14 15:17] #217 closed

[2018-07-17 12:47] geoand commented on #216
@angheladrianclaudiu I tried the sample locally and it worked for me without problems.

[2018-07-18 13:11] #201 closed

[2018-07-19 20:57] Alos opened #218 "Spring Cloud Kubernetes and Zipkin link in the docs points to a 404"
The Spring Cloud Kubernetes and Zipkin link in the docs points to a 404:

https://github.com/spring-cloud-incubator/spring-cloud-kubernetes/blob/master/kubernetes-zipkin

[2018-07-20 06:36] geoand commented on #218
Hi,

Which docs are referring to?

Thanks!

[2018-07-20 12:56] geoand commented on #218
@spencergibb It seems [this](https://github.com/spring-cloud-incubator/spring-cloud-kubernetes/commit/aa2c12462f34f1f8f07f6050ecca9380870dec04) commit removed the Zipkin module from the project, after it had been commented out as part of the refactoring to Spring Boot 2.

Was the removal meant to be permanent or temporary? If it's the latter I will work on a PR to reinstate Zipkin

[2018-07-26 09:58] RolandOtta opened #220 "spring boot 2.0 support"
Hello,

as far as i understand, there is still no support for spring boot 2.0. is that right?

any plans when spring boot 2.0 will be supported?

thanks & regards,
roland

[2018-07-26 13:09] psoares commented on #220
Try version 0.3.0.RC1.

[2018-07-26 14:59] RolandOtta commented on #220
hi!

thank you ... the sba starts up with that version.

but no pods are discovered .... no suspicios errors in the logs so far.
any advice how i could debug that?

[2018-07-26 20:57] prafsoni commented on #220
I believe you are trying to discover other services. if that's what you are trying use `spring-cloud-starter-kubernetes-ribbon` and if you want to load config maps too use `spring-cloud-starter-kubernetes-all`

[2018-07-27 06:31] RolandOtta commented on #220
what i am trying to achieve is to automatically discover applications by springboot admin (without using spring boot admin client in the applications).

so i added spring-cloud-starter-kubernetes in my dependencies of my springboot admin server and enabled discovery by adding @EnableDiscoveryClient

but after starting the springboot admin with that setup no containers are discovered by springboot

[2018-07-30 15:12] prafsoni commented on #220
Not sure if SBA supports k8s discovery.

[2018-07-30 19:38] vetrigyan commented on #139
@Salaboy & @spencergibb - I'm just checking back to find out a rough timeline on when version 0.3.0 will be released and whether it will be compatible with Finchley ?

[2018-07-30 19:45] spencergibb commented on #139
@vetrigyan it should be. There is already an RC1. Hopefully, in August we can get a release done.

[2018-07-31 04:26] vetrigyan commented on #139
@spencergibb - Thanks for the update, Spencer.

[2018-07-31 11:42] RolandOtta commented on #220
they just say "Spring Boot Admin supports all other implementations of Spring Cloud’s DiscoveryClient" in the docs ... so i thought it should work

[2018-08-02 21:39] spencergibb commented on #185
This has been fixed, but I can't seem to find the issue

[2018-08-02 21:39] #185 closed

[2018-08-02 21:47] #203 closed

[2018-08-02 21:47] spencergibb commented on #164
`ArchaiusConfigMapSource` has been removed in 0.3.0

[2018-08-02 21:47] #164 closed

[2018-08-02 21:51] steven-sheehy commented on #220
I don't think spring-cloud-kubernetes implements DiscoveryClient because discovery is automatic in Kubernetes via environment variables or via DNS.

[2018-08-02 21:53] spencergibb commented on #220
It certainly does implement DiscoveryClient https://github.com/spring-cloud/spring-cloud-kubernetes/blob/master/spring-cloud-kubernetes-discovery/src/main/java/org/springframework/cloud/kubernetes/discovery/KubernetesDiscoveryClient.java

[2018-08-03 16:06] spencergibb commented on #213
The project has moved out of incubator and the 1.0 release will be part of the Greenwich release train. Follow here for the tentative schedule https://github.com/spring-cloud/spring-cloud-release

[2018-08-03 16:06] #213 closed

[2018-08-03 17:40] spencergibb opened #221 "Replace RestAssured.when with Spring WebTestClient"

[2018-08-03 17:46] spencergibb commented on #192
Done http://repo1.maven.org/maven2/org/springframework/cloud/spring-cloud-kubernetes-dependencies/0.3.0.RELEASE/

[2018-08-03 17:46] #192 closed

[2018-08-04 03:01] 1027394863 commented on #139
@westmc you can try adding endpoint.restart.enabled=true to your bootstrap.yml.

[2018-08-07 01:12] george24601 commented on #198
Is there plan to do a 0.2.x release to include some bug fixes? Seems to me 0.3.0.RELEASE requires SB 2.0, and we are still on 1.5.X.

[2018-08-07 15:29] spencergibb commented on #198
We certainly can. Reminder, 0.x releases are previews and are not officially supported. @iocanel anything else you want to get in 0.2.x before I do a release?

[2018-08-07 16:18] iocanel commented on #198
I think we are fine.

On Tue, Aug 7, 2018, 18:29 Spencer Gibb <notifications@github.com> wrote:

[2018-08-12 12:31] stefan-hudelmaier opened #223 "NullPointerException in KubernetesCatalogWatch"
`
java.lang.NullPointerException: null
	at org.springframework.cloud.kubernetes.discovery.KubernetesCatalogWatch.lambda$catalogServicesWatch$2(KubernetesCatalogWatch.java:65) ~[spring-cloud-kubernetes-discovery-0.3.0.RELEASE.jar!/:0.3.0.RELEASE]
`

The problem seems to be that both `Addresses` and `TargetRef` may be null (as is the situation in our k8s cluster for some endpoints).

I will provide

[2018-08-15 19:27] Alos commented on #220
I just tried my self. I added:

[code]
to a Spring Boot Admin instance I got a bunch of errors upon startup:

and

[2018-08-15 19:29] spencergibb commented on #220
We don't support spring boot admin, you'll have to bring it up with them.

[2018-08-22 08:03] smartwjw commented on #220
I test from springboot 2.2 ~ 2.4, it fails at all tested version.

[2018-08-22 15:56:31,051] [ERROR] [main] org.springframework.boot.SpringApplication - Application run failed
org.springframework.beans.factory.BeanCreationException: Error creating bean with name 'requestMappingHandlerMapping' defined in class path resource [org/springframework/boot/autoconfigure/web/servlet/WebMvcAutoConfiguration

[2018-08-22 16:31] Alos commented on #218
Those are indeed the link I was talking about. :)

[2018-08-23 09:38] victorherraiz opened #225 "KubernetesClientException on openshift online"
Trace:

[code]

Executing the following command on openshift online

    oc policy add-role-to-user cluster-reader system:serviceaccount:*****-dev:default

results in the following error:

    Error from server (Forbidden): rolebindings.authorization.openshift.io "cluster-reader" is forbidden

is there any alternative valid for OpenShift online or  am I doing something wrong?

[2018-08-28 14:34] spencergibb commented on #21
This is no longer an issue

[2018-08-28 14:34] #21 closed

[2018-08-28 14:34] spencergibb commented on #43
Closing this due to inactivity. Please re-open if there's more to discuss.

[2018-08-28 14:34] #43 closed

[2018-08-31 12:16] #223 closed

[2018-09-03 17:10] iocanel commented on #218
I'd like to bring it back.

[2018-09-03 17:13] geoand commented on #218
Ok, I'll start working on it then

On Mon, Sep 3, 2018, 20:10 Ioannis Canellos <notifications@github.com>
wrote:

[2018-09-03 18:00] spencergibb commented on #218
What was there that isn't supplied by sleuth?

[2018-09-03 21:04] iocanel commented on #218
Good question!

At the time it was implemented there was a discovery related issue. But I
cant remember atm.

On Mon, Sep 3, 2018 at 9:00 PM Spencer Gibb <notifications@github.com>
wrote:

--
*Ioannis Canellos <http://iocanel.com>*

[2018-09-04 06:15] geoand commented on #218
It seems like the module ran [explicitly](https://github.com/spring-cloud/spring-cloud-kubernetes/blob/0f2cd797772fafea4bfcd56de91e04c10445ffe1/spring-cloud-kubernetes-zipkin/src/main/java/org/springframework/cloud/kubernetes/zipkin/ZipkinKubernetesAutoConfiguration.java#L47) before Sleuth's autoconfiguration and provided a `ZipkinSpanReporter` by trying to discover the Zipkin service.

So indeed

[2018-09-04 06:35] iocanel commented on #218
All, I recall is that at the time of the initial implementation for some reason discovery was broken and this acted as a workaround. Not sure if this is still the case.

[2018-09-04 06:38] geoand commented on #218
Then I propose if we don't here anything from the community, we leave as it is.

I will however create a PR to solve the doc issue that started that initially started this discussion

[2018-09-04 06:44] geoand commented on #218
See PR #228

[2018-09-04 15:36] ryanjbaxter commented on #218
Closed via fa75c7c

[2018-09-04 15:36] #218 closed

[2018-09-05 15:58] victorherraiz commented on #225
@geoand that was my assumption too. Therefore, it that role is mandatory for the client, there is no support for OpenShift Online at the moment.

[2018-09-05 16:09] geoand commented on #225
There are definitely limitations to what you can do with Openshift Online at the moment.

[2018-09-06 07:40] skliche opened #229 "PodUtils using HOSTNAME to detect K8S"
We are running our spring boot and spring-cloud-kubernetes powered microservices on the IBM Container offering. Recently we upgraded to kubernetes worker nodes to 1.11.2_1514 and for some reasons the HOSTNAME env variable was not any longer available in the PODs. This caused that k8s was not detected by PodUtils and the kubernetes spring profile  was not enabled anymore by spring-cloud-kubernetes.

[2018-09-07 12:09] prafsoni commented on #180
+1 to this request. There should be a way to utilize load balancing baked in K8s.

[2018-09-11 07:19] fromlabs commented on #223
@stefan-hudelmaier your fix works for me but I've another case. I have ServiceA that calls ServiceB, and occasionally, during a graceful ServiceB shutdown, ServiceA throws a NPE because getSubsets may be null. I'm experimenting on Google Kubernetes Engine with a cluster of preemptible instances so shutdown are called almost once a day.

[2018-09-11 13:26] au-hao opened #230 "Cannot load multiple mounted configmap with multiple application.yaml"
I would like to use multiple mounted config maps and according to the source code `KubernetesPropertySource.java`, same key `application.yaml` will be overwritten in the result `HashMap` which causes that multiple config maps cannot be loaded at the same time and only the last mounted configmap that has the same key can be loaded successfully.  Need a help since I am not sure if this is the design

[2018-09-11 13:54] geoand commented on #230
I am not absolutely sure, but I think this is a result of Kubernetes and there isn't anything Spring Cloud Kubernetes can do.
This can be confirmed if exec into the pod and do `ls -l /home/configmap`. I am willing to bet you will only see one of the files.

[2018-09-11 14:06] au-hao commented on #230
@goand Yeap, I did check that those configmap are in the pod and the problem is that those two sample configmap all have application.yaml files.

[2018-09-11 14:08] geoand commented on #230
So can you confirm that `ls -l /home/configmap` inside the the Pod only contains a single file?
If so, then this is not an issue that SCK can deal with

[2018-09-11 14:09] au-hao commented on #230
@geoand those configmap are there.

[2018-09-11 14:10] geoand commented on #230
Can you please paste the output of the 2 files? Thanks

[2018-09-11 14:11] geoand commented on #230
I mean as they show up in the file system of the pod, not the configmap resource itself :)

[2018-09-11 14:14] au-hao commented on #230
![image](https://user-images.githubusercontent.com/40636256/45365850-70b8e280-b5ab-11e8-8827-0d47346f1fd4.png)

[2018-09-11 14:20] geoand commented on #230
Thanks @au-hao

Can we also see how you have mounted the configmaps inside the pods?

[2018-09-11 14:29] geoand commented on #230
That is wonderful, thank you very much @au-hao!

Looking at the code, I am not sure if this is the intended behavior or not. I can see why we would want to support what you think should be the behavior of SCK, since we basically support something similar when reading the properties directly from the ConfigMap
 @iocanel @spencergibb  WDYT?
If you think we should add this, then I can work on it

[2018-09-11 16:48] william-tran commented on #230
Rather than merging the values into a single property source, I would expect support for multiple configmaps would allow the user to define precedence in the order of declaration e.g. for file mounted configmaps, the order of entries in `spring.cloud.kubernetes.config.paths`. Each entry would result in a PropertySource in the order provided. This way, sc-k8s doesn't need to deal with any merging o

[2018-09-11 16:54] geoand commented on #230
That sounds pretty reasonable to me

On Tue, Sep 11, 2018, 19:48 Will Tran <notifications@github.com> wrote:

[2018-09-11 20:39] william-tran commented on #230
Thankfully, the API method works using `spring.cloud.kubernetes.config.sources[]` and produces ordered PropertySources.

[2018-09-11 20:48] geoand commented on #230
Yeah,  the API method does work correctly.
Having the mounting method work in similar fashion sounds like the most
reasonable approach to me.

On Tue, Sep 11, 2018, 23:39 Will Tran <notifications@github.com> wrote:

[2018-09-11 21:09] spencergibb commented on #230
One thing I'd like to be careful of is to use as much of spring-boot's mechanisms for loading these as possible. If possible, just adjusting its https://docs.spring.io/spring-boot/docs/2.0.4.RELEASE/reference/htmlsingle/#boot-features-external-config-application-property-files. Though I'm not sure that will be enough since boot only loads on `application` property file (and potentially more with p

[2018-09-12 11:03] ArtyomGabeev commented on #229
@skliche if you are sure that application is running inside k8s, I think you can simply specify pod environment variable:
`
SPRING_PROFILES_ACTIVE: "kubernetes"
`
In this case even if HOSTNAME env variable was not set, you will get correct profiles configuration.

[2018-09-12 11:17] geoand commented on #230
Going over the code that supports creating a (single) PropertySource from mounted ConfigMap(s), I'm not really sure that it makes sense to support such a feature....

The reason I say this is that we are essentially providing yet another way for a Spring Boot/Cloud application to load properties from the file system - which doesn't even seem to be consistent since it looks like it doesn't honor Sp

[2018-09-12 12:57] skliche commented on #229
What we actually did was to set the HOSTNAME variable in the pods, because for our workflow this was easier and containerd fixed that in new builds anyway. Still, I wanted to highlight the issue to the spring cloud project, because other users might also be affected and perhaps there is a more robust way to detect a k8s environment in PodUtils.

[2018-09-12 17:39] spencergibb commented on #230
spring-cloud-commons does something similar for `bootstrap.{yml|properties}`. It uses spring-boot to load it using some simple customizations (bootstrap vs application for example).

[2018-09-12 19:11] william-tran commented on #230
The limitation of using spring boot's existing spring.config.location behaviour is that you aren't setting the precedence of those property sources in the same way as other spring-cloud-config implementations which order this with highest precedence.

[2018-09-15 08:05] Salaboy commented on #220
@Alos @smartwjw I got it working, and I will be showing that as S1P in a week time. I am preparing the PRs for their repositories, you can check some draft code here: https://github.com/Salaboy/showcase-admin-tool/

[2018-09-15 08:05] Salaboy commented on #220
I think that we can close this issue, because spring boot 2 is supported.

[2018-09-15 08:09] salaboy opened #231 "Add Support for Kubernetes Service Catalog"
We should support the interaction against the Kubernetes Service Catalog, @iocanel has an implementation already that we can test and align with this projects: http://iocanel.com/2018/09/service-catalog-pt-2/

[2018-09-15 08:10] Salaboy opened #232 "Add support for Distributed Scheduled Jobs"
Provide an implementation of the @Scheduled annotation to work transparently inside kubernetes clusters using CronJobs and Jobs

[2018-09-15 08:11] salaboy opened #233 "Create Istio awareness module"
Create a module that help Spring Cloud components to be aware that they are running in an Istio enabled environment to avoid clashes.

[2018-09-15 08:12] Salaboy opened #234 "Integrate Spring Cloud Functions to Spring Cloud Kubernetes"
Provide an easy and transparent way to hook Spring Cloud Functions into Kubernetes using frameworks such as https://kubeless.io as providers.

[2018-09-15 08:18] salaboy opened #235 "Spring Social integration with Dex for Kubernetes"
Provide implementations of spring social to work with providers such as Dex (Federated OpenIdConnect):
https://github.com/dexidp/dex

[2018-09-15 08:27] geoand commented on #233
I would love to hear what you have in mind for this issue and I would be
willing to work on it

On Sat, Sep 15, 2018, 11:11 Salaboy <notifications@github.com> wrote:

[2018-09-15 08:27] salaboy opened #236 "Modernize and update testing frameworks"
Upgrade and unify how we test the different modules.

[2018-09-15 08:28] Salaboy commented on #163
@doernbrackandre I am also interested in this.. I see more and more people using namespaces as applications isolation boundaries. I see a lot of problems with that approach moving forward, so we might need to have some conversations about that particular topic.

Regarding tests, I've created this issue: https://github.com/spring-cloud/spring-cloud-kubernetes/issues/236 with the intention of trying

[2018-09-15 08:30] Salaboy commented on #196
@sta-szek you are totally right.. I will work to fix this one

[2018-09-15 08:33] Salaboy commented on #216
@angheladrianclaudiu @geoand I have these projects with some extra roles, role bindings and service accounts configurations to be able to interact with the Kube API from inside a pod:
https://github.com/Salaboy/s1p_gateway/tree/master/charts/s1p-gateway/templates

Important to notice the deployment.yaml file descriptor that includes a reference to the service account.
This is working as expected i

[2018-09-15 08:34] Salaboy commented on #216
@spencergibb I think that we can close this issue and open a documentation issue to cover this extra descriptors that are needed.

[2018-09-15 08:35] Salaboy commented on #160
@jerckov @arana198 is this still an issue for you guys? This is working as expected for me with Kubernetes 1.9+ with the following properties: https://github.com/Salaboy/s1p_gateway/blob/master/src/main/resources/bootstrap.yml

@spencergibb I think that we can close this issue as well.

[2018-09-15 08:52] Salaboy commented on #233
@geoand 👍 S1P is approaching fast, so what about if we have a chat after S1P ?(unless you are attending and we can have a chat face to face?) and we collaborate on this.

[2018-09-15 09:25] salaboy opened #237 "Create HELM Releases Aware Module"
HELM releases give you a scope that aggregates different resources together.
From the Spring Boot perspective it will be great if the Spring Boot Application (Service) can be aware to the release that it belongs. In the same way that we are integrating with the Kubernetes APIs, we can integrate with Tiller APIs to be HELM Release Aware.

[2018-09-15 09:30] geoand commented on #233
Unfortunately I won't be attending, so let me know after and we can talk.

Have fun at s1ps1p 😁

On Sat, Sep 15, 2018, 11:52 Salaboy <notifications@github.com> wrote:

[2018-09-15 09:42] Salaboy commented on #163
@doernbrackandre @spencergibb  the more I think about this, the more I think that we open the door for multiple other problems if we do get stuff from multiple namespaces at the same time. Namespaces in kubernetes might end up having different security policies and by design namespaces mean isolation, so things running in a namespace should be contained. If they need to interact with other service

[2018-09-17 07:36] doernbrackandre commented on #163
Hi @Salaboy,
the idea is to expose routes over an API gateway based on metadata provided by the downstream service instead of using openshift's routes directly.
Currently, you have to use a global project or you have to provide a API  gateway in every project inside openshift in order to discover services, which is not ideal from our perspective.

[2018-09-17 07:51] Salaboy commented on #163
@doernbrackandre yeah.. I would say that it is far from ideal.. but those is Openshift's specifics, based on their conventions and custom resources such as Project and Routes. The problem that I see is that if you use Discovery client to check services from multiple namespaces you will bypassing that design approach in Openshift and more in general it feels right to keep things limited to a k8s na

[2018-09-17 07:59] doernbrackandre commented on #163
@Salaboy yes, the service account needs "cluster reader" privileges.

It would be nice to have at least the option to configure this behavior. Then, you can decide to use it or not.

[2018-09-17 08:19] iocanel commented on #198
@spencergibb: Any news on that? Is it something  I could perform?

[2018-09-17 08:20] cmoulliard commented on #198
@spencergibb Can we target to have this release ready this week `0.2.1` as we need it please ?

[2018-09-17 08:30] Salaboy commented on #163
@doernbrackandre 👍 , that is one of the main reasons why I created this one: https://github.com/spring-cloud/spring-cloud-kubernetes/issues/233 which can be extended to be Kubernetes/Infrastructure awareness. Because for your use case is good to just have read only, but I can definitely see people trying to add business logic into how and when namespaces should be created. I haven't seen in Spring

[2018-09-17 09:04] doernbrackandre commented on #163
@Salaboy This is not necessarily something related to spring cloud. You can keep this logic of the namespaces inside the KubernetesClient

[2018-09-17 09:44] Salaboy commented on #163
@doernbrackandre I thought that the KubernetesClient  (fabric8) already support that. Or you mean the Kubernetes Discovery Client?

[2018-09-17 11:15] doernbrackandre commented on #163
@Salaboy yes, the fabric8 client. The client should support this, but unfortunately there is a bug (see my first post)

[2018-09-17 12:43] fromlabs opened #238 "NullPointerException calling getSubsets() in KubernetesCatalogWatch"
After #224 fix, I've noticed another case of NPE. During the shutdown of a "watched" service, `KubernetesCatalogWatch` (started at the same time on another "watching" service) throws a `NullPointerException` on `getSubsets()` call:

`.flatMap(endpoint -> endpoint.getSubsets().stream())`

I will provide a PR for your consideration.

[2018-09-17 13:08] geoand commented on #231
You probably won't be surprised @Salaboy  that I'm interested in hearing your ideas about this as well :)

[2018-09-17 14:07] Salaboy commented on #163
@doernbrackandre :+1 let's try to get that one fixed and try to understand their release cycle.

[2018-09-17 19:57] #238 closed

[2018-09-18 07:35] doernbrackandre commented on #163
@Salaboy good morning!

We've fixed this by overriding the DefaultKubernetesClient's endpoints() method:
[code]

Like mentioned before you need to replace the .withName() calls with .withLabel("name", serviceId) which is in fact a proper replacement. (at least we've faced no issues using it so far)

[2018-09-18 23:30] wmfowlkes commented on #164
So the ConfigMap Archaius Bridge is no longer available?  Looking for a solution for dynamic refresh of Hystrix properties for Config Map.

[2018-09-18 23:36] spencergibb commented on #164
spring-cloud-netflix has an archaius adapter. this should be functional already.

[2018-09-20 00:16] marcellodesales opened #240 "Gradle Build instead of Maven"
Is there any desire in replacing maven with Gradle???

[2018-09-20 00:16] spencergibb commented on #240
Nope. Spring Cloud has standardized on maven

[2018-09-20 00:16] #240 closed

[2018-09-24 11:08] geoand commented on #236
Are we thinking of using Spock as a means of implementing this task?

I would gladly participate in such an implementation :)

[2018-09-25 12:30] geoand commented on #210
Is this still an issue as #219 has been merged?

[2018-09-25 12:31] geoand commented on #196
@salaboy Have you started work on this? If not, I can pick up the issue

[2018-09-25 12:36] geoand commented on #196
This does indeed seem like a duplicate of #183

[2018-09-25 12:39] geoand commented on #160
This is also working for me with the latest code

[2018-09-25 13:57] #160 closed

[2018-09-25 16:42] Alos opened #242 "Missing link in the docs"
In the `Pod Health Indicator` section the first link points to a 404.

[2018-09-25 16:44] Alos commented on #242
While we are at it, the second link should point somewhere more relevant like thiss URL:

https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-probes/

[2018-09-30 06:24] harishkadamudi opened #243 "Unable to list services"
Following this guide, to run application- https://github.com/spring-cloud/spring-cloud-kubernetes/tree/master/spring-cloud-kubernetes-examples/kubernetes-hello-world-example
I followed the instructions as detailed, when I executed below url, I got exception as pasted.
curl http://IP_OR_HOSTNAME/services
Exception:
There was an unexpected error (type=Internal Server Error, status=500).
Failure exec

[2018-10-01 08:39] piotr-napadlek commented on #196
Any progress with this one? Seems to be nice and easy fix but makes it impossible to disable kubernetes discovery client for tests in a clean way - we need to mock kubernetesClient bean.

[2018-10-01 08:44] salaboy commented on #196
@geoand @piotr-napadlek I haven't started on this one yet. I am just catching up with stuff after @s1p
@piotr-napadlek you are right.. it will complicate the testing. but I think that we need to change the tests as well. I am not happy with the way that we are testing stuff.

[2018-10-01 08:46] geoand commented on #196
@salaboy We can talk about this as well I guess when you are done catching up after s1p and you have some time to talk :)

[2018-10-01 08:46] salaboy commented on #163
@geoand do you know something about the release cycle for Fabric8 libs? Let's try to fix it upstream if we know that those libraries will be released frequently.

[2018-10-01 08:49] geoand commented on #163
@salaboy I am only casually involved with the upstream Fabric8 libs, but we can (and do) release them when bugs are found and fixed.
That's why I was wondering if @doernbrackandre had opened on issue there so we can track it's progress

[2018-10-01 08:49] salaboy commented on #236
@geoand Spock is an option. It will be great to use the WebTestClient as well for doing real tests against services running inside Kubernetes. Mocking is good, but I will feel better with myself if we build a nice test suite that we can run also against running environments. Does this make sense?

[2018-10-01 08:53] geoand commented on #236
@salaboy I already opened one PR concerning the WebTestClient (see [this](https://github.com/spring-cloud/spring-cloud-kubernetes/pull/241)).

Just to make sure I understood correctly, you would like to add an integration test suite that stands up an actual Kubernetes cluster (something like Minikube for example) and performs the tests against it?

[2018-10-01 09:20] salaboy commented on #236
@geoand Great stuff about the WebTestClient,
Regarding starting a minikube, I wouldn't say so.. it should work with a real cluster that is already running somewhere.. so we can point the test suite against an environment.

[2018-10-02 11:49] doernbrackandre commented on #163
Hi @salaboy
no, we did not opened an issue for that. We are fine with that workaround

[2018-10-05 12:00] geoand commented on #230
I've started working on this

[2018-10-08 20:39] jochenchrist opened #246 "Discovery Client should include annotations in ServiceInstance's Metadata"
The `KubernetesDiscoveryClient` currently returns specified labels as ServiceInstance's Metadata.

Labels have a very limited set of allowed characters.
Kubernetes allows [annotations](https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/.
) to be more flexible.

I'd suggest to include both labels and annotations to ServiceInstance's Metadata.

Specific use case is Spring-

[2018-10-09 05:41] joshiste opened #247 "Bad style in KubernetesDiscoveryClient"
This line:
https://github.com/spring-cloud/spring-cloud-kubernetes/blob/c2dc809469bf547eec4508971a580a9722f042f5/spring-cloud-kubernetes-discovery/src/main/java/org/springframework/cloud/kubernetes/discovery/KubernetesDiscoveryClient.java#L90
causes the `KubernetesServiceInstance` to return `null` for `getMetadata` in some cases. It is considered bad practice to return `null` for methods returning

[2018-10-09 06:34] geoand commented on #247
#245 should fix the first issue

[2018-10-09 06:38] geoand commented on #246
#166 contains a lengthy discussion about this

[2018-10-09 07:15] geoand commented on #243
This looks like a RBAC issue. See [this](https://kubernetes.io/docs/reference/access-authn-authz/rbac/) part of the Kubernetes documentation.

[2018-10-09 07:36] geoand commented on #233
@salaboy do you have time to go talk some time soon about ideas like this?

Thanks

[2018-10-09 07:43] salaboy commented on #233
@geoand yes I should have some time soon (sorry for my lack of communications.. still working on this but I have a beta2 release that I need to get out of the door). Can you write me an email to my personal account (same as my nickname here at gmail) to coordinate? Who else can we invite? @spencergibb do you wanna join?

[2018-10-09 07:45] geoand commented on #233
@salaboy no worries, I know that finding time is extremely tough :)

I would think that @iocanel would probably want to be part of the talk about what you have in mind

[2018-10-10 17:38] adilfulara opened #249 "Problems running leader example"
I tried to run the kubernetes-leader-election-example

[code]
and saw following error in the log. how does one create the role and role binding mentioned in the readme.

[code]

[2018-10-10 19:19] geoand commented on #249
This is a RBAC issue as can be seen here:

[code]

You need to make sure that the default user has the permissions to watch for configmap in the default namespace (or use another user that has these permissions).

[2018-10-10 21:20] adilfulara commented on #249
@geoand could the docs be clarified as to what is needed. i am happy to submit a PR if i know what to execute.

[2018-10-11 14:14] colin-shine opened #250 "spring-cloud-starter-kubernetes-config: KubernetesHealthIndicator not registered"
An application using `spring-cloud-starter-kubernetes` displays the kubernetes health indicator on `/actuator/health`, but this does not work when the  `spring-cloud-starter-kubernetes-config` starter is used

[2018-10-11 14:53] colin-shine commented on #250
I have created two identical apps `demo1` and `demo2` that show the problem:
https://github.com/colin-shine/spring-cloud-kubernetes-issues

The only difference between the two app POMs is as follows:

demo1:
[code]

demo2:
[code]

As far as I can see, the config starter's `BootstrapConfiguration` imports the `KubernetesAutoConfiguration`, causing the `KubernetesHealthIndicator` bean to be register

[2018-10-11 15:53] geoand commented on #250
@colin-shine Thanks for reporting and sharing a demo project!

I will check this out and let you know

[2018-10-11 16:28] geoand commented on #250
@colin-shine I have found a potential work around that seems to work for use case. I still however need to add some tests in order to verify it.

I will pick it up again tomorrow

[2018-10-15 09:47] #250 closed

[2018-10-15 09:58] hazim1093 opened #252 "Why is Consuming Secrets via API not secure ?"
It is mentioned in the Readme:

What are the security reasons due to which it is not enabled ? As I am thinking to consume secrets via API and I think it might be more secure as there won't be any file containing the secret mounted on the instance.

Provided that we have correct RBAC and pod only reads its own secret, and that we have enabled encryption at REST, is it still not secure ? Why so ?

[2018-10-15 10:29] iocanel opened #253 "Investiage integration with HashiCorp Vault"
There is already a spring cloud project about vault, we need to check for potential integration points.

[2018-10-16 00:04] Alos opened #254 "Is there a way to listen for changes on the available services?"
RIght now I have a method annotated with `@Scheduled` that ticks every 30 seconds and gets the list of all the services:

`List<String> services = discoveryClient.getServices();`

While the method works, and I get a list of all the current services, for some reason doing this triggers a NullPointerException in KubernetesCatalogWatch.java:65: Error watching Kubernetes Services

[2018-10-16 00:48] Alos commented on #254
I removed the `@EnableScheduling` in my application and the error went away. It looks like if there is a another `@Scheduled` method in the app `KubernetesCatalogWatch ` stops updating too.  Is there any other way to listen for these kinds of events?

[2018-10-16 17:40] Alos commented on #254
I've styled the logs better. You can basically reproduce this by creating a Spring Boot app with Spring Cloud Kubernetes and adding a `@Scheduled` annotation to any method and the `@EnableScheduling` to the main application class. Let me know if you are unable to replicate it!

[2018-10-16 17:48] geoand commented on #254
Thanks,

I will create a dummy app and check this out soon hopefully

[2018-10-16 18:04] Alos commented on #254
I've done a little more testing and it looks like service discovery is not broken by this. The NPE keeps happening but nothing appears to be affected.

[2018-10-17 06:06] geoand commented on #254
After performing some debugging, I am pretty sure that this is a duplicate of #238 which has been fixed in `master`.

@Alos Would you be willing to test your application against `master` so we have verify?

Thanks

[2018-10-19 23:49] inigonirmal commented on #160
This is not working for me? Any clue would be really appreciated? both event/polling reload strategy is not working. I see the app is getting the updated config map. But it is not getting applied on the bean. I dont see any error too.

Following are my env details:

inigonirmal@inigonirmal-desktop!$ minikube version
minikube version: v0.25.2
inigonirmal@inigonirmal-desktop!$
inigonirmal@inigonirma

[2018-10-20 02:32] inigonirmal commented on #160
Could you pls share the version of kube/springboot/cloud where it is working?

[2018-10-22 22:12] inigonirmal opened #255 "Property reload from ConfigMap doesn't override the application.properties/yaml properties"
Property overload from configmap is not working for me? Any clue would be really appreciated? both event/polling reload strategy is not working. I see the spring-boot app is getting notification when I update the config map. But it is not getting applied on the bean. I don't see any error too.

**Environment logs snippet:**
`StandardServletEnvironment{
   activeProfiles=   [
      kubernetes
   ],

[2018-10-23 06:13] geoand commented on #255
Hi @inigonirmal

Do you have a smple project perhaps that demonstrates the problem?

Thanks

[2018-10-23 07:57] inigonirmal commented on #255
Hi @geoand ,

Thanks for responding to me. I just used the reload example(https://github.com/spring-cloud/spring-cloud-kubernetes/tree/master/spring-cloud-kubernetes-examples/kubernetes-reload-example) and tried to modify the config-map.yml with multiple possibilities. I saw that the update of configmap is been identified by the spring boot app. But it is not overriding the actual bean(bean.messag

[2018-10-23 08:51] geoand commented on #255
@inigonirmal Have you updated the ConfigMap while the application is running to see whether or not the Spring context will refresh?

[2018-10-23 08:59] geoand commented on #160
I just checked the `master` branch using the `reload-example` against Kubernetes 1.10

[2018-10-23 09:00] geoand commented on #255
I just tried both `event` and `polling` versions and they both worked

[2018-10-23 16:52] inigonirmal commented on #255
Yes. I did the same with the latest master and I also saw that spring context is getting refreshed. But it is not overriding the values of the configuration properties attributes (ex: bean.message). Not sure what is the problem here as it is not reporting any error. Please the logs in the above comment and let me know if there is any clarification needed.
BTW: Can you share the working logs(of cou

[2018-10-24 06:32] geoand commented on #255
Hi @inigonirmal

I'm still a little unclear of what exactly is not working for you.
Would you be so kind to describe the steps of the scenario you are using and that is not working?

I am asking because the simple scenario where:
* config-map.yaml is applied to the cluster via `kubectly apply`
* the reload application is started via `mvn spring-boot:run`
* the configmap is updated manually
* the c

[2018-10-24 06:58] geoand commented on #247
Closing as #245 has been merged

[2018-10-24 06:58] #247 closed

[2018-10-24 16:49] inigonirmal commented on #255
Hi @geoand

I follow the below steps.
1. create configmap using the below command,
`kubectl create configmap reload-example --from-file=config-map.yml`
2. build and deploy the jar in to minikube using fabric8
` mvn clean install fabric8:build fabric8:deploy -Pintegration`
3. capture the logs and see whether the config map changes are reflected or not.
` kubectl logs -f spring-cloud-reload-868d4c8c

[2018-10-25 03:48] inigonirmal commented on #255
Hi @geoand
I used kubectl apply instead of create configmap. It started working. Thanks for the help? I am not sure what makes the difference. but it works. thanks for the help.
Thanks,
Inigo

[2018-10-25 06:36] geoand commented on #255
Glad to hear you got it working :)

[2018-10-25 06:36] #255 closed

[2018-10-26 06:18] geoand commented on #255
Theoretically there shouldn't be a difference in this case, but if you were to submit a PR with this doc change, I see no reason not to accept it

[2018-10-28 07:51] zavatar opened #258 "Why not using the "url attributes" in feign to realize Discovery through the k8s DNS."
As described in this blog: https://dzone.com/articles/microservices-with-kubernetes-and-docker

[2018-10-30 02:50] scolia opened #259 "Caused by: java.lang.ArrayStoreException: sun.reflect.annotation.TypeNotPresentExceptionProxy"
I get **java.lang.ArrayStoreException: sun.reflect.annotation.TypeNotPresentExceptionProxy** in spring boot 2.0.6.RELEASE.

the pom.xml is look like:

[code]
so, I get a exception:

[code]

but it can fix by add a dependency ***spring-boot-starter-actuator***

[code]

this time, it work!

It is a bug?

[2018-10-30 16:36] #183 closed

[2018-10-30 16:43] #220 closed

[2018-10-30 16:44] spencergibb commented on #206
@gytis can you review again?

[2018-10-30 16:48] spencergibb commented on #163
We're thinking that configuration properties that are opt in could work here.

[2018-10-30 16:49] iocanel opened #260 "Make the source of Service Metadata configureable"
Currently service labels are used. There are people who would rather use annotations instead. See #166.

After a long discussion we have decided to make it configurable.
Since there is not recent activity in the pull request, I will close it and keep this issue for tracking purposes.

[2018-10-30 16:49] spencergibb opened #261 "add documentation hints to KubernetesClientProperties"

[2018-10-30 16:52] spencergibb commented on #196
Closing duplicates #183

[2018-10-30 16:52] #196 closed

[2018-10-30 18:17] gytis commented on #206
This shouldn't be an issues since introduction of https://github.com/spring-cloud/spring-cloud-kubernetes/commit/ca80117f3590c9c6d3bac97419f5b30d195491f5#diff-8322b03d221fa577993ec51acbb43d83. Now when a leader is elected all followers create a readiness watcher for the leader's pod and try to take over leadership whenever leader becomes unresponsive.

Of course it would be great if @steven-sheehy

[2018-10-30 18:22] gytis commented on #210
This shouldn't be an issue any more after merging this https://github.com/spring-cloud/spring-cloud-kubernetes/commit/ca80117f3590c9c6d3bac97419f5b30d195491f5#diff-8322b03d221fa577993ec51acbb43d83.
On the first all of `handleLeaderChange` after restart, `localLeader`will be `null` and `notifyOnGranted()` will be called: https://github.com/spring-cloud/spring-cloud-kubernetes/blob/master/spring-clo

[2018-10-31 11:05] salaboy commented on #254
@geoand @spencergibb tested in master and this is fixed. So we should close this issue.

[2018-10-31 12:19] #254 closed

[2018-10-31 16:36] Zetten commented on #104
I have a branch at https://github.com/Zetten/spring-cloud-kubernetes/tree/ports-as-metadata which simply adds each named port to the metadata map as `port.<port-name>`.

This meets my particular need, which was previously handled with Eureka instance metadata: my service exposes both HTTP and gRPC endpoints, and I'd like to be able to select between them.

I'm happy to open a PR for this small cha

[2018-10-31 17:05] spencergibb commented on #104
Once #260 is taken care of, a PR would be great. I see it as something merged from possibly multiple sources.

[2018-11-01 16:14] steven-sheehy commented on #206
@gytis Sorry, I haven't had time to confirm your change has addressed these bugs. I will close them and reopen if still an issue later.

[2018-11-01 16:14] #206 closed

[2018-11-01 16:14] #210 closed

[2018-11-06 16:48] spring-issuemaster commented on #243
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2018-11-07 08:37] salaboy commented on #119
@metacosm that is more like a Kubernetes question.. I used telepresence.io to lunch the spring boot app locally and in that way have more control on the debugging process.
Did you opened another issue?

[2018-11-07 08:37] salaboy commented on #119
@metacosm can we close this issue?

[2018-11-07 21:16] metacosm commented on #119
Can be closed. Thanks!

[2018-11-07 21:16] #119 closed

[2018-11-08 10:17] salaboy commented on #261
PR ready to be merged: https://github.com/spring-cloud/spring-cloud-kubernetes/pull/264

[2018-11-10 21:03] rasheedamir opened #266 "Spring Boot requestMappingHandlerMapping java.lang.ArrayStoreException"
Spring Boot `2.0.6.RELEASE` with `spring-cloud-starter-kubernetes-config` `0.3.0.RELEASE` results in nested exception is `java.lang.ArrayStoreException`

Here are the details:

[code]

[code]

[code]

[2018-11-11 07:34] geoand commented on #266
This looks very similar to #259.
Once the PR that fixes that issue lands, could you retest @rasheedamir

[2018-11-11 16:39] rasheedamir commented on #266
Yeah sure! Just hoping #259 will be merged soon.

[2018-11-11 16:54] spencergibb commented on #266
Duplicate of #259

[2018-11-11 16:54] #266 closed

[2018-11-11 16:56] #259 closed

[2018-11-12 18:00] kahootali opened #267 "Secrets Properties should not be logged"
I am using this plugin for my application to read normal data from configmap and sensitive data from secrets, but as the application loads, it is logging the secrets properties with no encryption at INFO level. It is so dangerous as logs are usually shared through different teams for debugging of an app, and one doesn't want secrets to be read by other teams.

[2018-11-12 18:06] spencergibb commented on #267
I don't see where we log anything https://github.com/spring-cloud/spring-cloud-kubernetes/blob/master/spring-cloud-kubernetes-config/src/main/java/org/springframework/cloud/kubernetes/config/SecretsPropertySource.java

Can you post a sample of the lob (scrubbed obviously) so we can see what loggers are doing the logging?

[2018-11-12 18:35] spencergibb commented on #267
So `SecretsPropertySource` extends `MapPropertySource` from spring framework, which, when debug is enabled (as you seem to have), prints the contents of the source. I assume that if you turn debug off, the properties are not printed?

The fix here is to override `toString()` in `SecretsPropertySource` to only log the name. Something like

[code]

[2018-11-12 18:56] toonborgers commented on #267
I'd like to have a go at this one

[2018-11-12 19:17] spencergibb commented on #267
go for it, let me know if you need help.

[2018-11-12 19:20] geoand commented on #260
Hopefully I'll be able to pick this up this week

[2018-11-12 21:25] rasheedamir opened #268 "Secrets can be read using API given proper RBAC is in place"
This statement in the README seems misleading:

[code]

As if we use proper RBAC where pod is restricted only to read its on secrets then reading through API has no security concerns.

[2018-11-13 08:33] kahootali commented on #267
I have turned DEBUG level printing off and it doesn't show properties then, only shows the name.

[2018-11-13 12:32] toonborgers commented on #267
@spencergibb Does this require unit tests or is that overkill? `SecretsPropertySource` currently does not have any tests

[2018-11-13 12:35] spencergibb commented on #267
Yes, generally whenever we change functionality we want a test to prevent a regression

[2018-11-13 16:14] #221 closed

[2018-11-13 16:49] spring-issuemaster commented on #243
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-11-13 16:49] #243 closed

[2018-11-14 08:16] toonborgers commented on #267
@spencergibb PR created

[2018-11-16 15:34] #104 closed

[2018-11-19 14:43] spencergibb commented on #268
/cc @iocanel @salaboy or @geoand

[2018-11-19 14:55] spencergibb commented on #258
You are always free to use the `url` attribute in feign so the spring cloud loadbalancer client is not use.

[2018-11-19 14:55] #258 closed

[2018-11-19 16:58] spencergibb commented on #214
Can you please describe more in depth what you are trying to do beyond what is currently available? I'm having a hard time understanding.

[2018-11-19 17:06] AssafKatz3 commented on #214
@spencergibb  I have dozen of config maps (hierocracy) for same micro service and want to allow spring-cloud-kubernetes to track them all.

[2018-11-19 17:31] spencergibb commented on #158
If you are still having trouble, open a new issue in spring-cloud-openfeign and provide a [complete, minimal, verifiable sample](https://stackoverflow.com/help/mcve) that reproduces the problem?  It should be available as a GitHub (or similar) project or attached to this issue as a zip file.

[2018-11-19 17:31] #158 closed

[2018-11-19 17:33] spencergibb commented on #155
I'm afraid not. `ApplicationStartingEvent` does not have access to the spring `Environment`.

[2018-11-19 17:33] #155 closed

[2018-11-19 17:36] spencergibb commented on #153
I thought it already did that. @iocanel, @geoand or @salaboy care to comment?

If not, it should be considered.

[2018-11-19 17:40] spencergibb commented on #141
See $142

[2018-11-19 17:40] #141 closed

[2018-11-19 17:42] spencergibb commented on #105
@iocanel, @geoand or @salaboy anyone want to give it a go?

[2018-11-19 17:43] spencergibb commented on #93
I don't think this is the right place for this.

[2018-11-19 17:43] #93 closed

[2018-11-19 17:44] #85 closed

[2018-11-19 17:45] spencergibb commented on #70
See 1e71319f9f7baa73a378f16da37ad1ee5d976754

[2018-11-19 17:45] #70 closed

[2018-11-19 17:47] spencergibb commented on #17
Closed via 1e71319f9f7baa73a378f16da37ad1ee5d976754

[2018-11-19 17:47] #17 closed

[2018-11-19 17:54] spencergibb commented on #237
what library provides this integration?

[2018-11-19 17:54] spencergibb commented on #235
spring social is no longer maintained.

[2018-11-19 17:54] #235 closed

[2018-11-19 19:16] #133 closed

[2018-11-19 19:18] spencergibb commented on #117
No longer using travis.

[2018-11-19 19:18] #117 closed

[2018-11-20 12:29] salaboy commented on #268
@rasheedamir that is a true statement, but I guess that the README line was written thinking about the user not using RBAC.
I can provide a fix for this for sure.. mentioning RBAC so it is clear..

[2018-11-21 06:59] shahbour commented on #153
Currently, multiple config maps are supported, but there is no link between Active Profiles and Config Map Names. In case we created multiple config maps per profile they have to be added manually to the `spring.application.kubernetes.config.sources`.

[2018-11-21 07:41] geoand commented on #214
@AssafKatz3 I would love to understand your use case a little more, currently I feel that I am missing some piece of information :)

[2018-11-21 07:43] geoand commented on #105
I will assign it to me and take a look (hopefully within the week)

[2018-11-21 07:50] geoand commented on #153
@shahbour @spencergibb I was also under the impression that we did that.
If not, then I agree it should definitely be considered.

@shahbour Do you have a sample I could try?

[2018-11-21 09:38] AssafKatz3 commented on #214
@geoand I have micro service that can be configured by our customers and in some cases per environment basis. This means that the relevant list of config map for this micro service is dynamically from code perfective. Sometime I have one config map, sometime two, sometime three (depended on running environment). Moreover, the name of exact config map can be different (contains the environment for

[2018-11-21 09:57] geoand commented on #214
@AssafKatz3 I now see what you mean, thanks for that information!

It's definitely technically possible to do something like that but I would love to here what @iocanel and @salaboy think about this ( FWIW, I have never seen something similar being used :) )

[2018-11-21 11:34] jochenchrist opened #272 "Discovery Client should support secure instances"
`KubernetesServiceInstance` has a `secure` Flag to build the URI with https.

`KubernetesDiscoveryClient` always sets `secure=false`:
https://github.com/spring-cloud/spring-cloud-kubernetes/blob/a277bf1d1b47e6f01ac97d9596d6a66777ca8e05/spring-cloud-kubernetes-discovery/src/main/java/org/springframework/cloud/kubernetes/discovery/KubernetesDiscoveryClient.java#L120

**Feature Request**
Provide a wa

[2018-11-21 11:44] geoand commented on #272
@jochenchrist Very nice idea indeed!

I was wondering though, is the label or annotation you propose something ad-hoc that developers would set themselves for each of their microservices?
AFAIK, there is no standard way of "knowing" if the endpoint corresponds to HTTP or HTTPS

[2018-11-21 11:52] jochenchrist commented on #272
Yes, I don't see a way to determine the secure flag.

So, it must be configured somehow.

Some ideas:
- Provide a property `spring.cloud.kubernetes.discovery.secured` to default all instances a secure
- Developer can set a label `secured: true` in the service deployment descriptor.
- A well known list of ports (443, 8443, ...) is set to default = true.

[2018-11-21 11:55] geoand commented on #272
@jochenchrist I like the proposal. @iocanel WDYT?

[2018-11-21 11:57] spencergibb commented on #272
We do similar in consul

[2018-11-21 12:00] geoand commented on #272
@spencergibb good to know! Do you have relevant documentation on that?

[2018-11-22 10:59] #105 closed

[2018-11-23 12:41] gdubya opened #274 "KubernetesClientException when trying to start Java 11 + Spring Boot 2.1.0 service on OpenShift 3.9"
We have a slight variation of the same issue as in #216, except that the root cause is a broken pipe. We have already added the "cluster-reader" role to the service account. Is there any other role that should be applied? This is for an OpenShift 3.9 cluster (Kubernetes 1.9.1) FWIW. Oh, and the service is using Java 11... maybe that's related to the issue?

[code]

[2018-11-23 13:02] geoand commented on #274
As far as I am aware, the Kubernetes Client (which is one of the dependencies of this project) has not been tested with Java 11.
@gdubya would it be possible for you to check the functionality of your project using Java 8?

[2018-11-23 13:16] gdubya commented on #274
This particular project is a bit tricky to quickly reconfigure for Java 8, but I have tested another app using minishift locally with Java 8 and it worked, so maybe that's it. Using minishift locally didn't have the same strict RBAC config as we have in our 'official' openshift cluster so I thought it might be related to that, but Java version is probably a more likely culprit.

[2018-11-23 13:18] geoand commented on #274
@gdubya Thanks for the info!

Would it be possible perhaps for you to create and share a minimal project where the problem appears so we can investigate?

Thanks

[2018-11-23 14:30] gdubya commented on #274
I have a project at https://github.com/gdubya/hello-gateway

If you deploy this with Java 8 it works (e.g. oc new-app codecentric/springboot-maven3-centos~https://github.com/gdubya/hello-gateway).

Another thought... it might actually be something to do with the debian image we use for Java 11, rather than Java 11 itself. I can't see any reason why the (few) dependencies of spring-cloud-starter-ku

[2018-11-23 14:33] geoand commented on #274
Cool!

[2018-11-26 04:43] geoand commented on #274
I would assume you are looking for commands specified [here](https://docs.openshift.com/container-platform/3.9/admin_guide/manage_rbac.html#managing-role-bindings)

FWIW, in past issues whenever we had trouble with RBAC, the stack trace already indicated that pretty well. In this case we there is nothing in the stack trace to indicate such a problem which makes me sceptical

[2018-11-26 11:42] gdubya commented on #274
You're right. And all output indicates that the cluster-reader permission is set for the service account. So I have no idea what is causing the problem.

We tried a "full Java 11" build and that failed with the same message, so it's not related to our jlinked JDK.

I also tried disabling TLS 1.3 as there have been reports of some issues with that and Java 11, but no joy.

[2018-11-26 11:45] geoand commented on #274
I have yet to try Java 11 to see if any Spring Cloud Kubernetes examples work, but hopefully that will change soon :)

[2018-11-26 14:35] #216 closed

[2018-11-26 14:58] magnusheino opened #276 ""kubernetes" profile is active when running inside kubernetes, but profile is not selected/active within application.yaml"
Starting a pod within kubernetes will activate the "kubernetes" profile (it prints in the startup log that it is active), but "kubernetes" profiles within application.yaml aren't selected. Is the "kubernetes" profile activated after application.yaml is parsed?

[2018-11-26 15:04] geoand commented on #276
Does [this](https://github.com/spring-cloud/spring-cloud-kubernetes#kubernetes-profile-autoconfiguration) cover your questions?

[2018-11-26 15:12] magnusheino commented on #276
Well, no. Spring says that "kubernetes" profile is active when starting, but the "kuberenetes" profile in application.yaml isn't activated. This config would start the server on 8081, not 8080:

[code]

[2018-11-26 15:14] geoand commented on #276
Do you have a quick sample to that we can use to test?

[2018-11-27 15:35] ryanjbaxter opened #277 "Add Spring Cloud Kubernetes Docs To Spring Cloud Docs"
We need to add the Spring Cloud Kubernetes Docs To Spring Cloud Release Train docs
https://cloud.spring.io/spring-cloud-static/Greenwich.M3/

[2018-11-27 16:59] ryanjbaxter commented on #277
Fixed via https://github.com/spring-cloud-samples/scripts/commit/d77b48b6e71f3f0f3058ad9e3f6150aab5505f0e

[2018-11-27 16:59] #277 closed

[2018-11-29 16:04] dgrandemange opened #278 "Allow KubernetesServiceInstance to optionally use hostname rather than IP Address."
In `org.springframework.cloud.kubernetes.ribbon.KubernetesServerList`, when populating Server list, is there a particular reason to create Server instances using EndpointAddress ip address, instead of EndpointAddress hostname ?

Why such question :
Well, in an OpenShift cluster, let's say I have two OpenShift services :
* service A : a Spring Boot/Cloud webapp,
* service B : a Spring Boot/Cloud RE

[2018-11-29 16:10] spencergibb commented on #278
It wouldn't be hard to change that and/or make it an option.

ping @iocanel @salaboy and @geoand

[2018-11-29 16:50] salaboy commented on #278
@dgrandemange you can do the change.. but in reality we are using the serviceId in order to do requests between services...
In my demo, I've used a configuration for ribbon to not load balance from the client side.. so instead of using the prefix: "lb://" I use "https://". The Kubernetes service will do the load balance for you.
You can still use the fallbacks.. but client side load balancing will

[2018-11-29 16:55] salaboy commented on #278
Link to the example: https://github.com/salaboy/s1p_concerts-service/blob/master/src/main/java/org/sp1/demo/concerts/service/services/ConcertServiceImpl.java#L109

and

https://github.com/salaboy/spring-cloud-k8s-minion/blob/develop/src/main/java/org/minions/demo/BossClientService.java#L37

[2018-11-29 16:56] salaboy commented on #268
@spencergibb can you please review.. so we can close this issue?

[2018-11-29 17:17] dgrandemange commented on #278
Well, i am already using serviceId and therefore rely on OpenShift service to handle the load-balancing thing.

Consider REST service interface below :
[code]
My service B provides an implementation of this service, whereas service A client uses FeignClient below to invoke it, specifying a _serviceId_, which is here specified using the `FeignClient.name`  annotation attribute (using a property pla

[2018-11-29 17:31] salaboy commented on #278
@dgrandemange I faced similar problem and it all boils down to
[code]
If you do @FeignClient(name = "http://${service.tp-minishift.name}" ... ) does that work?
If not.. we need to look into how the Feign client is created with Ribbon.

[2018-11-30 08:04] geoand commented on #278
I so no reason why we can't provide a configuration option so that `KubernetesServiceInstance` will return the hostname instead of the ip when `getHost` is called

[2018-11-30 09:43] dgrandemange commented on #278
@salaboy FYI : prefixing serviceId with `http://` hasn't fix it

[2018-11-30 10:53] dgrandemange commented on #278
Just for the record, performing a test with host verification disabled (following [this recipee](https://stackoverflow.com/a/53258234), SSL handshake succeeds, and service A - service B inter-communication is ok.

[2018-11-30 16:31] geoand commented on #278
@dgrandemange please let us know how it goes if you make a test with a patched `KubernetesServiceInstance`

[2018-12-01 00:10] salaboy commented on #278
@geoand I am not sure that we should do that (replace IP for host name completely).. if we do that then we lost the IP information of the service at registration time.

[2018-12-01 00:56] Alos opened #282 "Spring Cloud Gateway's Service Discovery with Spring Cloud Kubernetes not working in Greenwich.M3?"
I've been trying to get Spring Cloud Gateway working with Spring Security and so I've moved to Greenwitch M3. I've managed to get security working but now I'm unable to get the gateway to correctly pick up all my downstream services.

Visiting one of my downstream services endpoints gets me a 500 error. No exceptions are thrown on my logs.

I've tried to printout all the services that the Discover

[2018-12-01 17:13] NajeebArif opened #281 "Spring Cloud Kuberneter Ref docs link gives 404"
Spring Cloud kubernetes Reference docs redirects to 404 not found page,
https://spring.io/projects/spring-cloud-kubernetes#learn

[2018-12-03 07:32] geoand commented on #278
@salaboy I'm not sure I follow :)

[2018-12-03 11:42] ryanjbaxter commented on #281
Should be fixed

[2018-12-03 11:42] #281 closed

[2018-12-03 15:40] NajeebArif commented on #281
Hi,

Link is working now.

Thanks and Regards
Najeeb Arif

[2018-12-03 15:40] spring-issuemaster commented on #276
If you would like us to look at this issue, please provide the requested information. If the information is not provided within the next 7 days this issue will be closed.

[2018-12-03 20:04] Alos commented on #282
I think that Greenwich.M3 uses `1.0.0.M2` by default that also does not work for me.

[2018-12-04 05:35] geoand commented on #282
I'll take a look in a couple hours 😄

[2018-12-04 07:47] geoand commented on #282
@Alos Have you made any changes to your sample?
I am asking because I just ran it on my machine it seemed to be working fine.

[2018-12-04 08:50] salaboy commented on #282
Hi @Alos I got it working here: https://github.com/salaboy/s1p_gateway with 0.3.0.RELEASE / SB 2.0 that was for S1P. I bet (and it is just a guess, based on other projects that I am currently migrating) that the problem is Spring Boot 2.1 related and something has changed that is causing that issue.

I will need to move my examples to Spring Boot 2.1 anyways.. so I am happy to help to figure out w

[2018-12-04 08:52] salaboy commented on #282
@jgrandja I am also really interested in OAuth2 integration it will be really nice to have an example with SCK and OAuth2, can you share your findings on that front?

[2018-12-04 09:03] salaboy commented on #282
@Alos @jgrandja I am currently running the app I can see the 500 error:

[code]

But it seems to be related with OAuth2 . Notice that I am running the app in an environment where I have a kubernetes context configured against a real cluster. (Minikube will give you more troubles than solutions, at least in my experience)

[2018-12-04 18:30] Alos commented on #282
Hello!

So the `https://35.204.12.205/api/v1/services` error is your local cluster trying to talk to the K8 API to get the list of services. I have the gateway and a simple dog-service running in a cluster in GKE where the gateway CAN talk to K8 and get a list of services. The gateway runs and compiles but fails to redirect to the downstream services. The `/actuator/gateway/routes` also fails.

[2018-12-04 18:39] Alos commented on #282
The gateway runs fine, it just does not redirect to the downstream services. The `/actuator/gateway/routes` also fails

[2018-12-04 23:39] spencergibb commented on #282
@Alos after the snapshots build can you use them and set
[code]

[2018-12-04 23:41] Alos commented on #282
Yep

[2018-12-05 07:55] geoand commented on #282
I can confirm that I am also seeing the same behavior when requesting `/actuator/gateway/routes`. I'll check it out

[2018-12-05 11:00] salaboy commented on #282
@Alos also I found the configuration that I used to avoid Ribbon Client Side load balancing:

[code]

[2018-12-05 13:16] rasheedamir commented on #268
It will be awesome to get it to master; so, that its clear for new comers

[2018-12-05 16:11] dgrandemange commented on #278
Just for you to know : i am trying another approach.

In my FeignClient, instead of specifying a serviceId, i will try to specify the url  to the targeted OpenShift service.

Actually, in Openshift, a service is also adressable using its internal hostname as assigned by OpenShift internal DNS.
For instance, my service `tp-minishift` in namespace/project `poc2` has been assigned the name `tp-minish

[2018-12-05 16:29] salaboy commented on #278
@dgrandemange I found my configuration that looked like this to avoid Ribbon Client Side LoadBalancing

[code]

[2018-12-05 16:31] #268 closed

[2018-12-05 16:42] spencergibb commented on #282
There's a fix in @Alos, let us know if that doesn't help you.

[2018-12-05 18:01] Alos commented on #282
I'll give it a shot

[2018-12-05 18:48] Alos commented on #282
This indeed fix the NPE but it stills does not discover any services. Now I just get a 404.

[2018-12-05 19:22] geoand commented on #282
Would it be possible for us to have access to the cluster you are using that causes the problem?

[2018-12-05 19:35] geoand commented on #282
Awesome, could you send me the info you need me to supply at <my_github_id> gmail address?

Thanks

[2018-12-06 07:39] geoand commented on #278
@salaboy What I am referring to is to have the option to use the hostname (of the pod) instead of the ip (again of the pod) in `KubernetesServiceInstance`.
That way, if the pod hostnames match the certificates, then https connections should be possible without trouble.
In this case Ribbon will use proper client side load balancing instead of relying on the Kubernetes `Service` abstraction to do th

[2018-12-06 09:43] cmoulliard commented on #274
I did a quick test using your project top of openshift 3.11 = kubenetes 1.11 and I can't reproduce your error

https://github.com/ch007m/hello-jdk11#hello-gateway

[2018-12-06 09:45] salaboy commented on #278
@geoand thanks for the clarification.. that makes more sense, but it still a hack that might lead to problems in the future. The more I think about the problem, I think that to be on the safe side, we should just add a single Endpoint with the Kubernetes Service name. If you need certificates we should recommend Istio, which will also have problems if ribbon try to establish connections with pod h

[2018-12-06 09:55] geoand commented on #278
@salaboy actually I think we could add that as an option, but I don't think it should be the default.
It should be up to the user to choose whether or not they want real client side load balancing (in the sense that it's done by the library of the application), or pseudo client side load balancing which is what would happen if we simply use the (single) service name.

[2018-12-06 10:03] salaboy commented on #278
@geoand so maybe what we are talking here is to extend the Endpoint object to contain more information? In any case, I do agree with allowing people to set it up. So it sounds like a good first step to make the configuration of the Endpoints information configurable.

[2018-12-06 10:20] geoand commented on #278
:+1:

[2018-12-06 11:11] cmoulliard opened #284 "Review logic of getInstances and improve doc"
### Review Logic

I' not sure that the code implemented within the [method - getInstances of the DiscoveryClient](https://github.com/spring-cloud/spring-cloud-kubernetes/blob/master/spring-cloud-kubernetes-discovery/src/main/java/org/springframework/cloud/kubernetes/discovery/KubernetesDiscoveryClient.java#L82-L105) is consistent and follows user's reasoning

Here is the definition that I would li

[2018-12-06 12:19] geoand commented on #284
I agree that we should augment the capabilities of the discovery client.
@salaboy can you please provide your input on this?

[2018-12-06 15:45] TomasRup opened #285 "ConfigMap doesn't affect application.properties"
Hey,

The problem is, that my app doesn't see any of `application.properties` overriden via Kubernetes ConfigMap.

This is my setup:

ConfigMap
[code]

This is my `bootstrap.properties`:
[code]

This is my `application.properties`:
[code]

I have these spring cloud dependencies added in gradle:
[code]

This is how my main application class looks like:
[code]

What do I miss?? 😃

[2018-12-06 15:52] geoand commented on #285
This looks ok at a glance. Do you have a sample we could use to check?

[2018-12-06 15:59] TomasRup commented on #285
@geoand this is company project - not really 😞
I was wondering maybe I am creating the configmap incorrectly? I.e. all I do is just:
`kubectl create configmap test123 --from-file=application.properties...`

Though I saw somewhere that `kubectl apply` is a must. Is that right?

[2018-12-06 16:09] geoand commented on #285
@TomasRup that should work provided that you have set  `spring.application.name` to match.

I think a good starting point to check and see if you have everything setup correctly would be to look at [this](https://github.com/spring-cloud/spring-cloud-kubernetes/tree/master/spring-cloud-kubernetes-examples/kubernetes-reload-example) example and [this](https://github.com/spring-cloud/spring-cloud-kub

[2018-12-06 16:16] spring-issuemaster commented on #180
Closing due to age of the question. If you would like us to look at this issue, please comment and we will look at re-opening the issue.

[2018-12-06 16:16] #180 closed

[2018-12-07 07:59] TomasRup commented on #285
I have a feeling that this issue might be more related to Spring GCP SQL starter, because how I assume I don't get configmap, is that I get this failure:

[code]

And my configmap contains the database name:
[code]

[2018-12-07 12:48] geoand commented on #282
I found something that _might_ be the root cause of the problem for the snapshots:

It seems like #265 added `@ConditionalOnBean` to the `KubernetesDiscoveryClientAutoConfiguration.discoveryClient`

When enabling Spring Boot DEBUG logging level we see:

[code]

@spencergibb Seems like something we need to address, right?

[2018-12-07 12:50] spencergibb commented on #282
Yes, there's an auto configuration order problem

[2018-12-07 12:56] geoand commented on #282
Has something similar been dealt with in any of the other Spring Cloud modules?

[2018-12-07 17:32] spencergibb commented on #282
Yes, the condition on #265 is wrong as well. Also the return type is too generic, it should return the full class type.

I've made some fixes here e36b703 @geoand and @Alos care to try the latest snapshots (once built)?

[2018-12-07 17:37] Alos commented on #282
I’ll give it a shot!

On Fri, Dec 7, 2018 at 9:32 AM Spencer Gibb <notifications@github.com>
wrote:

--

Sergio Felix

Release Engineer

[2018-12-07 17:43] geoand commented on #282
@spencergibb Will do, thanks!

[2018-12-07 17:50] spencergibb commented on #282
@Alos if it doesn't work can you give us the output of the `/actuator/conditions` endpoint (or run with `--debug` to get the report in the logs).

[2018-12-07 18:55] spencergibb commented on #282
Closed via e36b703 and dcdc7c2

[2018-12-07 18:55] #282 closed

[2018-12-08 15:32] TomasRup commented on #285
I forgot to make configmap mount available to the app in kubernetes side. That was the issue.

[2018-12-08 15:32] #285 closed

[2018-12-10 15:44] spring-issuemaster commented on #276
Closing due to lack of requested feedback. If you would like us to look at this issue, please provide the requested information and we will re-open the issue.

[2018-12-10 15:44] #276 closed

[2018-12-10 20:49] spencergibb commented on #9
Closed via #263

[2018-12-10 20:49] #9 closed

[2018-12-12 16:34] geoand opened #288 "Add a discovery client integration test"
We need an integration test for the discovery module to prevent things like #282

[2018-12-12 20:50] manderson23 opened #289 "Use Duration for updatePeriod in LeaderProperties"
For consistency with Spring Boot (and other properties I have in my application) I'd like to specify this property using the flexible duration syntax (e.g. 5s).

Not sure if there are also other properties this would apply to in the project.

[2018-12-12 20:53] spencergibb commented on #289
PRs welcome

[2018-12-13 09:49] geoand commented on #272
I would like to do this after #291 has been merged so we can be sure nothing breaks

[2018-12-13 13:40] manderson23 commented on #289
@geoand what is the schedule for final release?

[2018-12-13 13:42] geoand commented on #289
I think `1.0.0.RC2` is planned for next week and `1.0.0.RELEASE` for January

[2018-12-13 20:59] manderson23 opened #293 "Add InfoContributor to report leader election state"
Add an InfoContributor to report leader election state. Something like

[code]

[2018-12-14 13:08] geoand commented on #284
@salaboy instead of adding new methods, could we not just provide a predicate bean  (with a sensible default implementation) that would be applied?
And that way users would be able to supply their own implementations if needed.
WDYT?

[2018-12-14 13:58] salaboy commented on #284
@geoand you mean a predicate inside the method itself? That would be an option.. but I still feel that the DiscoveryClient base interface should be expanded to support some kind of selectors (labels, annotations, etc).

[2018-12-14 14:00] geoand commented on #284
The reason I am proposing using a predicate bean is because I am not sure we are supposed to enrich the interfaces, aren't part of Spring Cloud Commons @spencergibb ?

[2018-12-14 14:06] salaboy commented on #284
@geoand yep.. I think as part of the evolution of Spring Cloud those interface will evolve ..  but you are totally right with checking with @spencergibb and @ryanjbaxter

[2018-12-14 14:50] manderson23 opened #296 "LeadershipController.getLocalLeader throws NPE if localLeader is null"
If `localLeader` is null then a NPE will be thrown when `getLocalLeader()` is called since `Optional.of()` is used

If truly `Optional` then `Optional.ofNullable()` should be used? I'm not clear on whether it is expected when running within K8s that `localLeader` should never be null. I noticed this while writing tests.

[2018-12-14 14:51] geoand commented on #296
@gytis Do you have feedback on this?

[2018-12-14 15:42] gytis commented on #296
It looks like a bug, nice catch.

[2018-12-14 15:42] gytis commented on #296
I'll try to raise a PR today, if not will do it on Monday.

[2018-12-14 15:43] geoand commented on #296
@gytis RC2 is next week, so no need to get this in today :P

[2018-12-14 15:50] gytis commented on #296
Raised a PR https://github.com/spring-cloud/spring-cloud-kubernetes/pull/297

[2018-12-14 16:20] ryanjbaxter commented on #296
Fixed via f335da6

[2018-12-14 16:20] #296 closed

[2018-12-17 11:56] salaboy commented on #284
Further specification on how this should work, now I have a working example:
1) ** Map<ServiceId, List<ServiceInstance>> getInstances(); **
   - Service service = client.services().withLabels(labels).list();
   - This will return multiple services and their replicas as Spring Cloud Service Instances
   - we can also apply selectors and annotations here
2) ** List<ServiceInstance> getInstances(Stri